<!doctype html>
<html lang="es">
<head>
  <title>Copa - UEMC Valladolid</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Área de administración del sitio web.">
    <meta name="robots" content="noindex, nofollow">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">
  <!-- Favicon -->
  <link rel="icon" type="image/jpg" href="/static/img/logo.png" />
</head>

<body class="body_admin">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb ps-2 pt-2">
      <li class="breadcrumb-item"><a href="/admin/pub_marcadores" class="text-white text-decoration-none">Inicio</a>
      </li>
      <li class="breadcrumb-item active text-dark" aria-current="page">Copa UEMC Valladolid</li>
    </ol>
  </nav>
  <header>
    <h1 class="text-center mb-5">Copa de España UEMC Valladolid 24/25</h1>
  </header>
  <section class="container-lg">
    <!-- Formulario para los resultados de los partidos -->
    <div class="container-lg d-flex justify-content-center">
      <form id="form_copa_uemc" method="POST" action="/admin/crear_copa_uemc" class="row mb-3">
        <!-- Selección de etapa del torneo -->
        <label for="encuentros">Etapa del Torneo:</label>
        <select id="encuentros" name="encuentros">
          <option value="liga_j1">Jornada 1</option>
          <option value="liga_j2">Jornada 2</option>
          <option value="liga_j3">Jornada 3</option>
          <option value="dieciseisavos">Dieciseisavos</option>
          <option value="octavos">Octavos</option>
          <option value="cuartos">Cuartos</option>
          <option value="semifinales">Semifinales</option>
          <option value="final">Final</option>
        </select>
        <div class="form-group col-md-6">
          <label for="num_partidos">Número de Partidos</label>
          <input type="text" name="num_partidos" id="num_partidos" class="form-control">
        </div>
        <div id="partidosContainer" class="container-lg col-lg-12"></div>
        <!-- Formulario creado con Javascript -->
    </div>
    <!-- Botones de acción -->
    <div class="col-md-12 mt-2">
      <button class="btn btn-primary" type="submit">Guardar Jornada</button>
      <button class="btn btn-danger" type="button">Cerrar</button>
    </div>
    </form>
    </div>
  </section>
  <div class="tournament mt-4">
    <!-- Fase Regular -->
  <h3 class="text-center text_uemc">Fase Regular</h3>
  {% for jornada, partidos in datos_jornadas.items() %}
    <h4 class="text-center text_uemc fs-4">{{ jornada|replace('_',' ')|title }}</h4>
    <table class="table table-bordered border-secondary">
      <tbody>
        {% for partido in partidos %}
          <tr>
            <td>{{ partido.fecha }}</td>
            <td>{{ partido.hora }}</td>
            <td>{{ partido.local }}</td>
            <td>{{ partido.resultadoA if partido.resultadoA is not none else '' }}</td>
            <td>{{ partido.resultadoB if partido.resultadoB is not none else '' }}</td>
            <td>{{ partido.visitante }}</td>
            <td class="d-flex gap-1"></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex justify-content-center gap-2 mb-2">
     <!-- Modificar partido -->
        <button type="button" class="btn btn-sm btn-info text-white" data-bs-toggle="modal" data-bs-target="#modal-{{jornada }}">Modificar</button>
      <!-- Borrar partido -->
        <form method="POST" action="{{ url_for('uemc_route_bp.eliminar_copa_uemc', identificador=jornada) }}">
          <button type="submit" class="btn btn-sm btn-danger">Borrar</button>
        </form>
    </div>
  {% endfor %}
  <!-- Eliminatorias -->
  <h3 class="text-center text_uemc mt-5">Fases de Eliminatorias</h3>
  {% for fase, partidos in datos_eliminatorias.items() %}
    <h4 class="text-center text_uemc fs-5">{{ fase|title }}</h4>
    <table class="table table-bordered border-secondary">
      <tbody>
        {% for partido in partidos %}
          <tr>
            <td>{{ partido.fecha }}</td>
            <td>{{ partido.hora }}</td>
            <td>{{ partido.local }}</td>
            <td>{{ partido.resultadoA if partido.resultadoA is not none else '' }}</td>
            <td>{{ partido.resultadoB if partido.resultadoB is not none else '' }}</td>
            <td>{{ partido.visitante }}</td>
            <td class="d-flex gap-1"></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex justify-content-center gap-2 mb-2">
    <!-- Modificar partido -->
      <button type="button" class="btn btn-sm btn-info text-white" data-bs-toggle="modal" data-bs-target="#modal-{{ fase }}">Modificar</button>
    <!-- Borrar partido -->
      <form method="POST" action="{{ url_for('uemc_route_bp.eliminar_copa_uemc', identificador=fase) }}">
        <button type="submit" class="btn btn-sm btn-danger">Borrar</button>
      </form>
    </div>
  {% endfor %}
  </div>
  <!--Fin Carrusel-->
  <!-- Creación del Modal -->
  {% for jornada, partidos in datos_jornadas.items() %}
  <div class="modal fade" id="modal-{{ jornada }}" tabindex="-1" role="dialog" aria-labelledby="modificarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar {{ jornada|replace('_',' ')|title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{{ url_for('uemc_route_bp.modificar_copa_uemc', encuentros=jornada) }}">
            <!-- Número de partidos (crucial para la ruta) -->
            <input type="hidden" name="num_partidos" value="{{ partidos|length }}">
            {% for partido in partidos %}
            <!-- Campo oculto para el ID del partido -->
            <input type="hidden" name="partido_id{{ loop.index0 }}" value="{{ partido.id }}">
            <!-- Campos de entrada para editar el partido -->
            <div class="form-group">
              <label for="fecha{{ loop.index0 }}">Fecha:</label>
              <input type="text" class="form-control" id="fecha{{ loop.index0 }}" name="fecha{{ loop.index0 }}"
                value="{{ partido.fecha }}">
            </div>
            <div class="form-group">
              <label for="hora{{ loop.index0 }}">Hora:</label>
              <input type="text" class="form-control" id="hora{{ loop.index0 }}" name="hora{{ loop.index0 }}"
                value="{{ partido.hora }}">
            </div>
            <div class="form-group">
              <label for="local{{ loop.index0 }}">Local:</label>
              <input type="text" class="form-control" id="local{{ loop.index0 }}" name="local{{ loop.index0 }}"
                value="{{ partido.local }}">
            </div>
            <div class="form-group">
              <label for="resultadoA{{ loop.index0 }}">Resultado A:</label>
              <input type="text" class="form-control" id="resultadoA{{ loop.index0 }}"
                name="resultadoA{{ loop.index0 }}" value="{{ partido.resultadoA }}">
            </div>
            <div class="form-group">
              <label for="resultadoB{{ loop.index0 }}">Resultado B:</label>
              <input type="text" class="form-control" id="resultadoB{{ loop.index0 }}"
                name="resultadoB{{ loop.index0 }}" value="{{ partido.resultadoB }}">
            </div>
            <div class="form-group">
              <label for="visitante{{ loop.index0 }}">Visitante:</label>
              <input type="text" class="form-control" id="visitante{{ loop.index0 }}" name="visitante{{ loop.index0 }}"
                value="{{ partido.visitante }}">
            </div>
            {% endfor %}
            <!-- Botón de enviar para enviar los datos modificados -->
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Obtener el contenedor de los partidos
      var partidosContainer = document.getElementById("partidosContainer");
      // Obtener el campo de selección de etapa del torneo
      var selectEliminatoria = document.getElementById("encuentros");
      // Agregar un evento de cambio al campo de selección
      selectEliminatoria.addEventListener("change", function () {
        // Limpiar el contenedor de los partidos
        partidosContainer.innerHTML = "";
        // Obtener la opción seleccionada
        var selectedOption = selectEliminatoria.value;
        // Determinar el número de partidos según la etapa seleccionada
        var numPartidos;
        if (selectedOption.startsWith("liga_j1") || selectedOption.startsWith("liga_j2") || selectedOption.startsWith("liga_j3")) {
          numPartidos = 14;
          } else if (selectedOption === "dieciseisavos") {
          numPartidos = 16;
        } else if (selectedOption === "octavos") {
          numPartidos = 8;
        } else if (selectedOption === "cuartos") {
          numPartidos = 4;
        } else if (selectedOption === "semifinales") {
          numPartidos = 2;
        } else if (selectedOption === "final") {
          numPartidos = 1;
        }
        // Mostrar el número de partidos en el campo correspondiente
        document.getElementById("num_partidos").value = numPartidos;
        // Crear los campos de entrada para cada partido
        for (var i = 0; i < numPartidos; i++) {
          // Crear un div para el partido
          var partidoDiv = document.createElement("div");
          partidoDiv.className = "row partido";
          // Crear los campos de entrada para el partido
          var html = `
                    <div class="col-md-5">
                        <label for="fecha${i}">Fecha</label>
                        <input type="text" class="form-control" id="fecha${i}" name="fecha${i}">
                    </div>
                    <div class="col-md-5">
                        <label for="hora${i}">Hora</label>
                        <input type="text" class="form-control" id="hora${i}" name="hora${i}">
                    </div>
                    <div class="col-md-4">
                        <label for="local${i}">Local</label>
                        <input type="text" class="form-control" id="local${i}" name="local${i}">
                    </div>
                    <div class="col-md-2">
                        <label for="resultadoA${i}">Resultado A</label>
                        <input type="text" class="form-control" id="resultadoA${i}" name="resultadoA${i}">
                    </div>
                    <div class="col-md-2">
                        <label for="resultadoB${i}">Resultado B</label>
                        <input type="text" class="form-control" id="resultadoB${i}" name="resultadoB${i}">
                    </div>
                    <div class="col-md-4">
                        <label for="visitante${i}">Visitante</label>
                        <input type="text" class="form-control" id="visitante${i}" name="visitante${i}">
                    </div>
                `;
          // Agregar los campos de entrada al div del partido
          partidoDiv.innerHTML = html;
          // Agregar el div del partido al contenedor de partidos
          partidosContainer.appendChild(partidoDiv);
        }
      });
    });
  </script>
</body>
</html>