{% extends 'admin/clubs/base_clubs.html' %}
{% block title %} Clubs - Panteras Caja Rural {% endblock %}
{% block nav %}
    <ol class="breadcrumb ms-1">
      <li class="breadcrumb-item"><a href="/admin/pub_marcadores" class="text-white text-decoration-none">Inicio</a></li>
      <li class="breadcrumb-item active text-dark" aria-current="page">Panteras Caja Rural</li>
    </ol>
{% endblock %}
{% block section %}
      <!-- Formulario para los resultados de los partidos -->
      <div class="container-lg">
        <form method="POST" action="/admin/jornada0_panteras" class="row mb-3">
          <div class="col-md-12">
            <label for="equipo">Nombre Equipos</label>
            <input type="text" class="form-control" id="equipo" name="equipo">
          </div>      
          <div class="col-md-4 mt-2">
            <button class="btn btn-primary" type="submit">Agregar</button>
          </div>    
        </form>
      </div>
{% endblock %}
{% block contenido %}
    <!--Visibilidad de los Equipos-->
      <h2 class="text-center">Clubs:</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-12">
            <div class="card card_admin mb-3">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="text-center">
                      <td colspan="5" class="text-center fw-bold text-primary fs-1">Equipos</td>
                    </tr>
                  </thead>
                  <tbody">
                  {% for club in clubs %}
                  <tr class="text-center">
                    <td class="text-center fw-bold">{{ club['nombre'] }}</td>
                    <td>
                      <!-- Botón para cada equipo -->
                      <form action="{{ url_for('panteras_route_bp.eliminar_club_panteras', club_id=club.id) }}" method="POST">
                        <input type="hidden" name="index" value="{{ index }}">
                        <button type="submit" class="btn btn-danger">Borrar</button>
                       </form>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div> 
            </div>
          </div>
        </div>
      </div>
{% endblock %}