{% extends 'secciones/base.html' %}
{% block titulo %} Aula Valladolid {% endblock %}
{% block contenido %}
<div class="team-header">
  <h1 class="h1_seccion">Aula Valladolid</h1>
  <img src="/static/img/aula_sf.png" alt="Aula Valladolid" class="team-logo">
</div>
  <section class="container-lg seccion_deportes">
    <div class="fondo_balonmano">
      <div class="shadow-lg p-3">
        <div class="row mb-4">
          <div class="col-12">
            <h3 class="text_uemc">DIVISIÓN DE HONOR</h3>
            <h4 class="text-center text-white fw-bold"></h4>
          </div>
          <div class="col-6 text-center">
            <a href="/admin/equipos_balonmano/calendario_aula" class="text-decoration-none"><h5 class="text_uemc fs-2 pb-2">Calendario y Resultados</h5></a>
          </div>
          <div class="col-6 text-center">
            <a href="/admin/equipos_balonmano/clasif_analisis_aula" class="text-decoration-none"><h5 class="text_uemc fs-2 pb-2">Clasificación y Objetivos</h5></a>
          </div>
        </div>
      </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12 mt-3">
          <a href="/admin/copas_aula" class="text-decoration-none"><h3 class="text_uemc pt-3">COPA ESPAÑA</h3></a>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <h5 class="text_uemc fs-3 text-center pb-2"></h5></a>
        </div>
        
      </div>
    </div>
    <!--<div class="shadow-lg">
      <div class="row">
        <div class="col-12">
          <h3 class="text_ponce">Recoletas Atl.Valladolid</h3>
          <h4 class="text-center text-white fw-bold">Liga Asobal</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/equipos_balonmano/calendario_recoletas" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/equipos_balonmano/clasif_analisis_recoletas" class="text-decoration-none"><h5 class="text-white">Clasificación y Objetivos</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg p-3">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc"></h3>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white"></h5></a>
        </div>
      </div>
    </div>-->
    </div>
  </section>
{% endblock %}