{% extends 'secciones/base.html' %}

{% block titulo %} CDSI Valladolid {% endblock %}

{% block description %}
Toda la información del CDSI Valladolid: calendario, resultados, clasificación, historial y actualidad del equipo.
{% endblock %}
{% block og_title %}
CDSI Valladolid | Deportes de la Ciudad
{% endblock %}
{% block og_description %}
Calendario, resultados, clasificación e información del CDSI Valladolid.
{% endblock %}
{% block twitter_title %}
CDSI Valladolid | Deportes de la Ciudad
{% endblock %}
{% block twitter_description %}
Calendario, resultados, clasificación e información del CDSI Valladolid.
{% endblock %}

{% block contenido %}
<div class="team-header">
  <h1 class="responsive-title">CDSI Valladolid</h1>
  <img src="/static/img/cdsi_vall_sf.png" alt="CDSI Valladolid" class="responsive-logo" />
</div>
<section class="container-lg seccion_deportes">
  <diV class="calend_deportes">
    {% if menu.get("liga") %}
    <div class="shadow-lg p-3 mb-2">
      <div class="row g-3 align-items-center">
        <div class="col-12 text-center">
          <h2 class="text_uemc">1ª Div. Nacional Fem.(Grp-A1)</h2>
        </div>
        <div class="tu-contenedor-h5">
          <a href="/equipos_basket/calendario_cdsi_vall" class="text-decoration-none text-white"><h5 class="small-option fw-bold">Calendario Ind.</h5></a>
          <a href="/equipos_basket/resultados_cdsi_vall" class="text-decoration-none text-white"><h5 class="small-option fw-bold">Resultados</h5></a>
          <a href="/equipos_basket/clasif_cdsi_vall" class="text-decoration-none text-white">
          <h5 class="small-option fw-bold">Clasificaciones</h5></a>
          <a href="/historial/cdsi_vall" class="text-decoration-none text-white">
          <h5 class="small-option fw-bold">Historial</h5></a>
        </div>
      </div>
    </div>
    {% endif %}
    {% if menu.get("copa") %}

    {% endif %}
    {% if menu.get("playoff") %}

    {% endif %}
  </diV>
</section>
{% include 'componentes/bloque_comercial.html' %}
{% endblock %}