{% extends 'secciones/base.html' %}
{% block titulo %} CD Parquesol {% endblock %}
{% block contenido %}
<div class="team-header">
  <h1 class="responsive-title">CD Parquesol</h1>
  <img src="/static/img/parquesol_sf1.png" alt="CD Parquesol" class="responsive-logo" />
</div>
<section class="container-lg seccion_deportes">
  <diV class="calend_deportes">
    <div class="shadow-lg p-3 mb-2">
      <div class="row g-3 align-items-center">
        <div class="col-12 text-center">
          <h2 class="text_uemc">3ª Federación (Grp-8)</h2>
        </div>
        <div class="tu-contenedor-h5">
          <a href="/admin/equipos_futbol/calendario_parquesol" class="text-decoration-none text-white"><h5 class="small-option fw-bold">Calendario y Resultados</h5></a>
          <a href="/admin/equipos_futbol/clasif_analisis_parquesol" class="text-decoration-none text-white">
          <h5 class="small-option fw-bold">Clasificación y Objetivos</h5></a>
        </div>
      </div>
    </div>
  </diV>
</section>
{% endblock %}