{% extends 'secciones/base.html' %}
{% block titulo %} CBC Valladolid Ponce {% endblock %}
{% block contenido %}
<div class="team-header">
  <h1 class="h1_seccion">CBC Valladolid Ponce</h1>
  <img src="/static/img/ponce_sf.png" alt="Ponce Valladolid" class="team-logo">
</div>
<section class="container-lg seccion_deportes">
  <diV class="fondo_basket">
    <div class="shadow-lg p-3">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc mt-3">1ª DIV. NACIONAL FEMENINA</h3>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/equipos_basket/calendario_ponce" class="text-decoration-none"><h5 class="text_uemc text-white fs-2 pb-2">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/equipos_basket/clasif_analisis_ponce" class="text-decoration-none"><h5 class="text_uemc text-white fs-2 pb-2">Clasificación y Objetivos</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <!--<div class="row mb-4">-->
        <div class="col-12 mt-3">
          <a href="/admin/playoffs_ponce" class="text-decoration-none"><h3 class="text_uemc pt-3">PLAYOFFS</h3></a>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white pb-2"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white pb-2"></h5></a>
        </div>
      <!--</div>-->
    </div>
    <!--<div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_ponce"></h3>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white pb-2"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white pb-2"></h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_fundacion"></h3>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white pb-2"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white pb-2"></h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg p-3">
      <div class="row">
        <div class="col-12">     
          <h3 class="text_fundacion"></h3></a>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white pb-2"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white pb-2"></h5></a>
        </div>
      </div>
    </div>-->
  </diV>
</section>
{% endblock %}