{% extends 'secciones/base.html' %}
{% block titulo %} Ponce Valladolid CB {% endblock %}
{% block contenido %}
<div class="team-header">
  <h1 class="responsive-title">Ponce Valladolid CB</h1>
  <img src="/static/img/ponce_sf.png" alt="Ponce Valladolid" class="responsive-logo" />
</div>
<section class="container-lg seccion_deportes">
  <diV class="calend_deportes">
    <div class="shadow-lg p-3 mb-2">
      <div class="row g-3 align-items-center">
        <div class="col-12 text-center">
          <h2 class="text_uemc">1ª Div. Nacional Fem. (Grp-A1)</h2>
        </div>
        <div class="tu-contenedor-h5">
          <a href="/admin/equipos_basket/calendario_ponce" class="text-decoration-none text-white"><h5 class="small-option fw-bold">Calendario Ind.</h5></a>
          <a href="/admin/equipos_basket/resultados_ponce" class="text-decoration-none text-white"><h5 class="small-option fw-bold">Resultados</h5></a>
          <a href="/admin/equipos_basket/clasif_ponce" class="text-decoration-none text-white">
          <h5 class="small-option fw-bold">Clasificaciones</h5></a>
        </div>
      </div>
    </div>
  </diV>
</section>
{% endblock %}