{% extends 'secciones/base.html' %}
{% block titulo %} RV Femenino {% endblock %}
{% block contenido %}
<div class="team-header">
  <h1 class="h1_seccion">RV Femenino</h1>
  <img src="/static/img/pucela_sf.png" alt="RV Femenino" class="team-logo">
</div>
<section class="container-lg seccion_deportes">
  <diV class="fondo_basket">
    <div class="shadow-lg p-3">
      <div class="row mb-4">
        <div class="col-12 mt-3">
          <h3 class="text_uemc">LIGA 2ª RFEF</h3>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/equipos_futbol/calendario_simancas" class="text-decoration-none"><h5 class="text_uemc fs-2 pb-2 pt-3">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/equipos_futbol/clasif_analisis_simancas" class="text-decoration-none"><h5 class="text_uemc fs-2 pb-2 pt-3">Clasificación y Objetivos</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="col-12 mt-3">
        <a href="/admin/playoffs_simancas" class="text-decoration-none"><h3 class="text_uemc pt-3">PLAYOFFS</h3>
        <h4 class="text-center text-white fw-bold"></h4>
      </div>
      <div class="col-6 text-center">
        <a href="" class="text-decoration-none"><h5 class="text_uemc fs-3 text-center pb-2"></h5></a>
      </div>
      <div class="col-6 text-center">
        <a href="" class="text-decoration-none"><h5 class="text_uemc fs-3 text-center pb-2"></h5></a>
      </div>
    </div>
  </diV>
</section>
{% endblock %}