{% extends 'secciones/base.html' %}
{% block titulo %} RV Femenino {% endblock %}
{% block contenido %}
<div class="team-header">
  <h1 class="responsive-title">RV Femenino</h1>
  <img src="/static/img/pucela_sf.png" alt="RV Femenino" class="responsive-logo" />
</div>
<section class="container-lg seccion_deportes">
  <diV class="calend_deportes">
    <div class="shadow-lg p-3 mb-2">
      <div class="row g-3 align-items-center">
        <div class="col-12 text-center mt-2">
          <h2 class="text_uemc">Liga Doble G (Grp-B)</h2>
        </div>
        <div class="tu-contenedor-h5">
          <a href="/admin/equipos_futbol/calendario_simancas" class="text-decoration-none text-white"><h5 class="small-option fw-bold">Calendario y Resultados</h5></a>
          <a href="/admin/equipos_futbol/clasif_analisis_simancas" class="text-decoration-none text-white">
          <h5 class="small-option fw-bold">Clasificación y Objetivos</h5></a>
        </div>
      </div>
    </div>
    <!--<div class="shadow-lg pb-3 mb-2">
        <div class="row g-3 align-items-center">
        <div class="col-12 text-center mt-2">
          <a href="/admin/copas_simancas" class="text-decoration-none">
          <h2 class="text_uemc pt-2">Copa España</h2></a>
        </div>
      </div>
    </div>-->
      <!--<div class="shadow-lg pb-3 mb-2">
        <div class="row g-3 align-items-center">
        <div class="col-12 text-center mt-2">
          <a href="/admin/playoffs_simancas" class="text-decoration-none">
          <h2 class="text_uemc pt-2">Playoffs</h2></a>
        </div>
      </div>
    </div>-->
  </diV>
</section>
{% endblock %}