{% extends 'secciones/base.html' %}
{% block titulo %} RV Femenino {% endblock %}

{% block description %}
Toda la información del RV Femenino: calendario, resultados, clasificación, historial y actualidad del equipo.
{% endblock %}
{% block og_title %}
RV Femenino | Deportes de la Ciudad
{% endblock %}
{% block og_description %}
Calendario, resultados, clasificación e información del RV Femenino.
{% endblock %}
{% block twitter_title %}
RV Femenino | Deportes de la Ciudad
{% endblock %}
{% block twitter_description %}
Calendario, resultados, clasificación e información del RV Femenino.
{% endblock %}

{% block contenido %}
<div class="team-header">
  <h1 class="responsive-title">RV Femenino</h1>
  <img src="/static/img/pucela_sf.png" alt="RV Femenino" class="responsive-logo" />
</div>
<section class="container-lg seccion_deportes">
  <diV class="calend_deportes">
    {% if menu.get("liga") %}
    <div class="shadow-lg p-3 mb-2">
      <div class="row g-3 align-items-center">
        <div class="col-12 text-center mt-2">
          <h2 class="text_uemc">Liga Gonalpi</h2>
        </div>
        <div class="tu-contenedor-h5">
          <a href="/equipos_futbol/calendario_rv_fem" class="text-decoration-none text-white"><h5 class="small-option fw-bold">Calendario Ind.</h5></a>
          <a href="/equipos_futbol/resultados_rv_fem" class="text-decoration-none text-white"><h5 class="small-option fw-bold">Resultados</h5></a>
          <a href="/equipos_futbol/clasif_rv_fem" class="text-decoration-none text-white">
          <h5 class="small-option fw-bold">Clasificaciones</h5></a>
          <a href="/rv_fem/historial" class="text-decoration-none text-white">
            <h5 class="small-option fw-bold">Historial</h5></a>
        </div>
      </div>
    </div>
    {% endif %}
    {% if menu.get("copa") %}
    <div class="shadow-lg pb-3 mb-2">
        <div class="row g-3 align-items-center">
        <div class="col-12 text-center mt-2">
          <a href="/copas_simancas" class="text-decoration-none">
          <h2 class="text_uemc pt-2">Copa España</h2></a>
        </div>
      </div>
    </div>
    {% endif %}
    {% if menu.get("playoff") %}
      <div class="shadow-lg pb-3 mb-2">
        <div class="row g-3 align-items-center">
        <div class="col-12 text-center mt-2">
          <a href="/playoffs_simancas" class="text-decoration-none">
          <h2 class="text_uemc pt-2">Playoffs</h2></a>
        </div>
      </div>
    </div>
    {% endif %}
  </diV>
</section>
{% include 'componentes/bloque_comercial.html' %}
{% endblock %}