{% extends 'secciones/base.html' %}
{% block titulo %} El Salvador {% endblock %}
{% block contenido %}
<div class="team-header">
  <h1 class="h1_seccion">El Salvador</h1>
  <img src="/static/img/salvador_sf.png" alt="El Salvador" class="team-logo">
</div>
<section class="container-lg seccion_deportes flex-fill">
  <div class="calend_deportes">
    <div class="shadow-lg p-3">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc">División De Honor</h3>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/equipos_rugby/calendario_salvador" class="text-decoration-none"><h5 class="text_uemc fs-2 pb-2">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/equipos_rugby/clasif_analisis_salvador" class="text-decoration-none"><h5 class="text_uemc fs-2 pb-2">Clasificación y Objetivos</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <a href="/admin/salvador_copa" class="text-decoration-none"><h3 class="text_uemc pt-3">Copa del Rey</h3></a>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <a href="/admin/playoffs_salvador" class="text-decoration-none"><h3 class="text_uemc pt-3">Playoffs Título</h3></a>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <a href="/admin/salvador_copa_iberica" class="text-decoration-none"><h3 class="text_uemc pt-3">Copa Ibérica</h3></a>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}