{% extends 'secciones/base.html' %} {% block titulo %} CBC Valladolid {%
endblock %} {% block contenido %}
<div class="team-header">
  <h1 class="responsive-title">CBC Valladolid</h1>
  <img
    src="/static/img/cbc_sf.png"
    alt="CBC Valladolid"
    class="responsive-logo"
  />
</div>
<section class="container-lg seccion_deportes">
  <div class="calend_deportes">
    <!-- BLOQUE 1 -->
    <div class="shadow-lg p-3 mb-2">
      <div class="row g-3 align-items-center">
        <div class="col-12 text-center">
          <h2 class="text_uemc">2ª Feb</h2>
        </div>
        <div class="tu-contenedor-h5">
            <a href="/admin/equipos_basket/calendario_uemc" class="text-decoration-none text-white">
              <h5 class="small-option fw-bold">Calendario Ind.</h5>
            </a>
            <a href="/admin/equipos_basket/resultados_uemc" class="text-decoration-none text-white">
              <h5 class="small-option fw-bold">Resultados</h5>
            </a>
            <a href="/admin/equipos_basket/clasif_uemc" class="text-decoration-none text-white">
              <h5 class="small-option fw-bold">Clasificaciones</h5>
            </a>
        </div>
      </div>
    </div>
    <!-- BLOQUE 2 -->
    <div class="shadow-lg p-3 mb-2">
      <div class="row g-3 align-items-center">
        <div class="col-12 text-center mt-2">
          <a href="/admin/uemc_copa" class="text-decoration-none">
            <h2 class="text_uemc pt-2">Copa España</h2>
          </a>
        </div>
      </div>
    </div>
    <!-- BLOQUE 3 -->
    <div class="shadow-lg p-3 mb-2">
      <div class="row g-3 align-items-center">
        <div class="col-12 text-center mt-2">
          <a href="/admin/playoffs_uemc" class="text-decoration-none">
            <h2 class="text_uemc pt-2">Playoffs</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
