{% extends 'secciones/base.html' %}
{% block titulo %} CBC Valladolid {% endblock %}
{% block contenido %}
<div class="team-header">
  <h1 class="h1_seccion">CBC Valladolid</h1>
  <img src="/static/img/cbc_sf.png" alt="CBC Valladolid" class="team-logo">
</div>
<section class="container-lg seccion_deportes">
  <diV class="fondo_basket">
    <div class="shadow-lg p-3">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc">LIGA 2ª FEB</h3>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/equipos_basket/calendario_uemc" class="text-decoration-none"><h5 class="text_uemc fs-2 pb-2">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/equipos_basket/clasif_analisis_uemc" class="text-decoration-none"><h5 class="text_uemc fs-2 pb-2">Clasificación y Objetivos</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <!--<div class="row mb-4">-->
        <div class="col-12 mt-3">
          <a href="/admin/uemc_copa" class="text-decoration-none"><h3 class="text_uemc pt-3">COPA ESPAÑA</h3></a>
        </div>
        <div class="col-6 text-center">
          <h5 class="text_uemc fs-3 text-center pb-2"></h5>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/uemc_copa" class="text-decoration-none"><h5 class="text_uemc fs-3 text-center pb-2"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a><h5></h5></a>
        </div>
      <!--</div>-->
    </div>
    <div class="shadow-lg">
      <!--<div class="row mb-4">-->
        <div class="col-12 mt-3">
          <a href="/admin/playoffs_uemc" class="text-decoration-none"><h3 class="text_uemc pt-3">PLAYOFFS</h3></a>
        </div>
        <div class="col-6 text-center">
          <h5 class="text_uemc fs-3 text-center pb-2"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/playoffs_uemc" class="text-decoration-none"><h5 class="text_uemc fs-3 text-center pb-2"></h5></a>
        </div>
      <!--</div>-->
    </div>
  </diV>
</section>
{% endblock %}