{% extends 'secciones/base.html' %}
{% block titulo %} Real Valladolid {% endblock %}
{% block contenido %}
<div class="team-header">
  <h1 class="h1_seccion">Real Valladolid</h1>
  <img src="/static/img/pucela_sf.png" alt="Real Valladolid" class="team-logo">
</div>
  <section class="container-lg seccion_deportes flex-fill">
    <div class="fondo_futbol">
      <div class="shadow-lg p-3">
        <div class="row mb-4">
          <div class="col-12 mt-3">
            <h3 class="text_uemc">LIGA HYPERMOTION</h3>
            <h4 class="text-center text-white fw-bold"></h4>
          </div>
          <div class="col-6 text-center">
            <a href="/admin/equipos_futbol/calendario_valladolid" class="text-decoration-none"><h5 class="text_uemc pt-3  text-white fs-3">Calendario y Resultados</h5></a>
          </div>
          <div class="col-6 text-center">
            <a href="/admin/equipos_futbol/clasif_analisis_valladolid" class="text-decoration-none"><h5 class="text_uemc pt-3 text-white fs-3">Clasificación y Objetivos</h5></a>
          </div>
        </div>
      </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12 mt-3">
          <a href="/admin/valladolid_copa" class="text-decoration-none"><h3 class="text_uemc pt-3">COPA DEL REY</h3></a>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text_uemc text-white fs-3"></h5></a>
        </div>
      </div>
    </div>
    <!--<div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12 mt-3">
          <a href="/admin/playoffs_valladolid" class="text-decoration-none"><h3 class="text_ponce pt-3">PLAYOFF</h3></a>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text_uemc text-white fs-3"></h5></a>
        </div>
      </div>
    </div>-->
    <!--<div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">    
          <h3 class="text_fundacion"></h3>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white fs-4"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white fs-4"></h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg p-3">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc"></h3>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white"></h5></a>
        </div>
      </div>
    </div>-->
    </div>
  </section>
{% endblock %}