{% extends 'secciones/base.html' %} 
{% block titulo %} Real ValladoliDi {%endblock %} 
{% block description %} Toda la información del Real ValladoliDi:
calendario, resultados, clasificación, historial y actualidad del equipo. {% endblock %} 
{% block og_title %} Real ValladoliDi | Deportes de la Ciudad {% endblock %} 
{% block og_description %} Calendario, resultados, clasificación e información del Real ValladoliDi. {% endblock %} 
{% block twitter_title %} Real ValladoliDi | Deportes de la Ciudad {% endblock %} 
{% block twitter_description%} Calendario, resultados, clasificación e información del Real ValladoliDi. {%endblock %} 
{% block contenido %}
<div class="team-header">
  <h1 class="responsive-title">Real ValladoliDi</h1>
  <img src="/static/img/pucela_sf.png" alt="Real ValladoliDi"
    class="responsive-logo"/>
</div>
<section class="container-lg seccion_deportes">
  <div class="calend_deportes">
    {% if menu.get("liga") %}
    <div class="shadow-lg p-3 mb-2">
      <div class="row g-3 align-items-center">
        <div class="col-12 text-center">
          <h3 class="text_uemc">Liga Genius</h3>
        </div>
        <div class="tu-contenedor-h5">
          <a
            href="/equipos_futbol/calendario_vallad_genius"
            class="text-decoration-none text-white"
          >
            <h5 class="small-option fw-bold">Calendario Ind.</h5></a
          >
          <a
            href="/equipos_futbol/resultados_vallad_genius"
            class="text-decoration-none text-white"
          >
            <h5 class="small-option fw-bold">Resultados</h5></a
          >
          <a
            href="/equipos_futbol/clasif_vallad_genius"
            class="text-decoration-none text-white"
          >
            <h5 class="small-option fw-bold">Clasificaciones</h5></a
          >
          <a
            href="/vallad_genius/historial"
            class="text-decoration-none text-white"
          >
            <h5 class="small-option fw-bold">Historial</h5></a
          >
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% include 'componentes/bloque_comercial.html' %} {% endblock %}
