{% extends 'secciones/base.html' %} {% block titulo %} Real Valladolid {%
endblock %} {% block contenido %}
<div class="team-header">
  <h1 class="responsive-title">Real Valladolid</h1>
  <img
    src="/static/img/pucela_sf.png"
    alt="Real Valladolid"
    class="responsive-logo"
  />
</div>
<section class="container-lg seccion_deportes">
  <div class="calend_deportes">
    <div class="shadow-lg p-3 mb-2">
      <div class="row g-3 align-items-center">
        <div class="col-12 text-center">
          <h3 class="text_uemc">Liga Hypermotion</h3>
        </div>
        <div class="tu-contenedor-h5">
          <a
            href="/admin/equipos_futbol/calendario_valladolid"
            class="text-decoration-none text-white">
            <h5 class="small-option fw-bold">Calendario Ind.</h5></a>
             <a
            href="/admin/equipos_futbol/resultados_valladolid"
            class="text-decoration-none text-white">
            <h5 class="small-option fw-bold">Resultados</h5></a>
          <a
            href="/admin/equipos_futbol/clasif_analisis_valladolid"
            class="text-decoration-none text-white">
            <h5 class="small-option fw-bold">Clasificaciones</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg p-3 mb-2">
      <div class="row g-3 align-items-center">
        <div class="col-12 text-center mt-2">
          <a href="/admin/valladolid_copa" class="text-decoration-none">
          <h2 class="text_uemc pt-3">Copa del Rey</h2></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
