{% extends 'secciones/base.html' %}
{% block titulo %} VRAC {% endblock %}
{% block contenido %}
<div class="team-header">
  <h1 class="h1_seccion">VRAC</h1>
  <img src="/static/img/vrac_sf.png" alt="VRAC" class="team-logo">
</div>
<section class="container-lg seccion_deportes flex-fill">
  <div class="fondo_rugby">
    <div class="shadow-lg p-3">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc">DIVISIÓN DE HONOR</h3>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/equipos_rugby/calendario_vrac" class="text-decoration-none"><h5 class="text_uemc fs-2 pb-2">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/equipos_rugby/clasif_analisis_vrac" class="text-decoration-none"><h5 class="text_uemc fs-2 pb-2">Clasificación y Objetivos</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <a href="/admin/vrac_copa" class="text-decoration-none"><h3 class="text_uemc pt-3">COPA ESPAÑA</h3></a>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/vrac_copa" class="text-decoration-none"><h5 class="text_uemc fs-3 text-center pb-2"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a><h5></h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <a href="/admin/vrac_copa_iberica" class="text-decoration-none"><h3 class="text_uemc pt-3">COPA IBÉRICA</h3></a>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/iberica_vrac" class="text-decoration-none"><h5 class="text_uemc fs-3 text-center pb-2"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/admin/iberica_vrac" class="text-decoration-none"><h5 class="text_uemc fs-3 text-center pb-2"></h5></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}