{% extends "sistema_ligas/base_sistemas.html" %} 
{% block title %}Sistema Ligas - Fútbol Sala{% endblock %}
{% block nav %} 
<ol class="breadcrumb ps-1 pt-1">
  <li class="breadcrumb-item">
    <a href="/" class="text-white text-decoration-none">Inicio</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/sistema_ligas/baloncesto" class="text-white text-decoration-none">Baloncesto</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/sistema_ligas/balonmano" class="text-white text-decoration-none">Balonmano</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/sistema_ligas/futbol" class="text-white text-decoration-none">Fútbol</a>
  </li>
  <li class="breadcrumb-item active text-dark" aria-current="page">Fútbol-Sala
  </li>
  <li class="breadcrumb-item">
    <a href="/sistema_ligas/hockey" class="text-white text-decoration-none">Hockey</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/sistema_ligas/rugby" class="text-white text-decoration-none" >Rugby</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/sistema_ligas/voley" class="text-white text-decoration-none" >Voley</a>
  </li>
</ol>
{% endblock %}
{% block contenido %}
        <div class="team-header">
          <h1 class="responsive-title">Sistemas</h1>
          <img
            src="/static/img/futsal_sf.png"
            alt="balón-futsal"
            class="responsive-logo ms-3"
          />
        </div>
        <!-- Navegador personalizado -->
        <div class="d-flex justify-content-center my-3 gap-3">
          <!--<button
            class="btn btn-outline-light tab-btn" data-tab="femenino"
          >
            Femenino
          </button>-->
          <button class="btn btn-outline-light tab-btn active" data-tab="masculino">
            Masculino
          </button>
        </div>
        <div class="tab-container">
          <div class="carousel-item active"><!-- Fútbol Sala Masculino -->
            <div class="d-flex justify-content-center">
              <div class="card sistema_ligas shadow" style="width: 80rem">
                <div class="card-body">
                  <h2 class="tipo_sistema">Fútbol Sala Masculino</h2>
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-12"><!-- 1ª DIVISIÓN -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">1ª División FS</h3>
                          <p class="text-analisis fs-4">1ª Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">
                              Un grupo con 16 equipos, jugándose por el sistema
                              de liga a doble vuelta.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Copa del Rey</strong>
                            <p class="text-analisis fs-5">
                              La Copa de S.M. El Rey de Fútbol Sala es una
                              competición oficial de ámbito estatal de la RFEF,
                              organizada por ésta y donde participan equipos de
                              1º División, 2ª División y 2ª División “B”.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Título Liga 1ª División</strong>
                            <p class="text-analisis fs-5">
                              Se clasificán para la siguiente fase por el título
                              los ocho primeros. Los cuartos de final y
                              semifinales se disputarán al mejor de tres
                              partidos, proclamándose vencedor el equipo que
                              consiga dos victorias. La final se disputará al
                              mejor de cinco partidos, proclamándose vencedor el
                              equipo que consiga tres victorias.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Descenso</strong>
                            <p class="text-analisis fs-5">
                              Los equipos clasificados en la 15º y 16ª posición
                              descenderán a 2ª División
                            </p>
                            <strong class="text-analisis text-dark fs-4">Europa</strong>
                            <p class="text-analisis fs-5">
                              El campeón de Europa de la edición anterior, si
                              este es español, y el mejor clasificado de la
                              competición de liga. Si el Campeón de Europa de la
                              edición anterior no fuese español, el derecho a
                              participar corresponderá a los dos primeros
                              clasificados de la competición de liga.
                            </p>
                          </div>
                          <a
                            href="#"
                            class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;"
                            >Leer más</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga 2ª División -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">2ª División FS</h3>
                          <p class="text-analisis fs-4">2º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">
                              Un grupo con 16 equipos, jugándose por el sistema
                              de liga a doble vuelta.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Ascenso Directo</strong>
                            <p class="text-analisis fs-5">
                              Asciende a la 1ª División de forma automatica el
                              1º del campeonato, y así proclamandose támbien
                              campeón de la 1ª División.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Playoff Ascenso</strong>
                            <p class="text-analisis fs-5">
                              Obtendrán el derecho para disputar el Play-Off de
                              ascenso del 2º al 5º clasificado, ambos inclusive,
                              cuyo campeón ascenderá a Primera División como 2º
                              clasificado según la clasificación final. Las
                              eliminatorias se disputarán al mejor de tres
                              partidos, proclamándose vencedor el equipo que
                              consiga dos victorias.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Descenso</strong>
                            <p class="text-analisis fs-5">
                              Los equipos clasificados en la 14º, 15º y 16ª
                              posición descenderán a 2ª División “B”.
                            </p>
                          </div>
                          <a
                            href="#"
                            class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;"
                            >Leer más</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga 2ª División B -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">2ª División B FS</h3>
                          <p class="text-analisis fs-4">3º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">
                              La competición se desarrollará con 6 grupos
                              formados según las inscripciones realizadas,
                              pudiendo haber cambios por posibles bajas de algún
                              club, jugándose cada grupo por el sistema de liga
                              a doble vuelta.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Ascenso</strong>
                            <p class="text-analisis fs-5">
                              Ascienden 3 equipos a 2ª División. En la primera
                              fase se clasifican los 4 primeros clasificados de
                              cada grupo, los cuales juegan una eliminatoria a
                              partido único entre el 1er y el 4º clasificado de
                              la liga regular en el campo del 1er clasificado y
                              otra eliminatoria a partido único entre el 2º y el
                              3er clasificado en el campo del 2º clasificado. En
                              la segunda fase se hace un sorteo puro con los 12
                              equipos clasificados de la primera fase,
                              condicionado a que no puedan cruzarse equipos del
                              mismo grupo ni enfrentarse entre ellos los equipos
                              que hayan quedado en 1ª posición en la liga
                              regular y se juega una eliminatoria de ida y
                              vuelta. El equipo local será el equipo que mejor
                              haya quedado clasificado en liga regular. Si los
                              equipos han quedado clasificados en la misma
                              posición, el equipo local será el equipo que mejor
                              coeficiente haya tenido. Para la tercera fase se
                              hace un sorteo puro con los 6 equipos clasificados
                              de la segunda fase. Se disputa una eliminatoria de
                              ida y vuelta en la que el equipo local será el
                              equipo que mejor haya quedado clasificado en liga
                              regular o por coeficiente si los 2 equipos que
                              disputan la eliminatoria ocuparon el mismo puesto.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Descenso</strong>
                            <p class="text-analisis fs-5">
                              Descenderán a 3ª División los equipos clasificados
                              en los puestos 13º, 14º, 15º y 16º de cada grupo.
                            </p>
                          </div>
                          <a
                            href="#"
                            class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;"
                            >Leer más</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga 3ª División -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">3ª División</h3>
                          <p class="text-analisis fs-4">4º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">
                              Los equipos están divididos  en 19 grupos, generalmente uno por cada Comunidad Autónoma, aunque algunas como (Cataluña, Comunidad Valenciana y Andalucía) tienen dos, la excepción es Navarra que no cuenta con grupo.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Ascenso</strong>
                            <p class="text-analisis fs-5">
                              No todos los campeones de cada grupo ascienden directamente. Los campeones de los grupos con menos de 14 equipos juegan una eliminatoría de play-off con otros segundos.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Descenso</strong>
                            <p class="text-analisis fs-5">
                              Descienden a la categoría Territorial los 2 últimos clasificados de cada grupo, siendo competencia de cada Federaión Territorial las posobilidades de modificar el número de descendidos.
                            </p>
                          </div>
                          <a
                            href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga 3ª División -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">Divisiones Regionales</h3>
                          <p class="text-analisis fs-4">5º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">
                              Divididas en sus diferentes comunidades autonomas, en Castilla y León hay un grupo de 14 equipos.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Ascenso</strong>
                            <p class="text-analisis fs-5">
                              Se clasificán los 3 primeros en el grupo de Castilla y León, sin determinar si juegan playoff con el resto de comunidades o suben directos.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Descenso</strong>
                            <p class="text-analisis fs-5">
                              No hay descenso de categoría, de momento.
                            </p>
                          </div>
                          <a
                            href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block scripts %}
    <script>
      function mostrarTexto(enlace) {
        // Obtener el elemento <li> padre del enlace
        var liElement = enlace.parentNode;
        // Encontrar el elemento de texto adicional dentro del <li> padre
        var textoAdicional = liElement.querySelector(".texto-adicional");
        // Toggle para mostrar u ocultar el texto adicional
        if (
          textoAdicional.style.display === "none" ||
          textoAdicional.style.display === ""
        ) {
          textoAdicional.style.display = "block"; // Mostrar el texto adicional
          enlace.textContent = "Ocultar"; // Cambiar el texto del enlace
        } else {
          textoAdicional.style.display = "none"; // Ocultar el texto adicional
          enlace.textContent = "Leer más"; // Cambiar el texto del enlace
        }
      }
    </script>
{% endblock %}