<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Sistemas de Ligas - Fútbol Sala Masculino</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la Liga local, la Copa del Rey/Reina, Competiciones Europeas, y explicaciones de los sistemas de liga."
    />
    <meta
      name="keywords"
      content="deporte, Valladolid, resultados, liga local, Copa del Rey, Copa de la Reina, competiciones europeas, análisis, sistemas de liga"
    />
    <meta name="author" content="eldeportedelaciudad" />
    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Página deportiva de Valladolid" />
    <meta
      name="twitter:description"
      content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la Liga local, la Copa del Rey/Reina, Competiciones Europeas, y explicaciones de los sistemas de liga."
    />
    <meta name="twitter:image" content="URL_de_la_imagen" />
    <meta name="twitter:site" content="@tu_cuenta_de_twitter" />
    <meta name="twitter:creator" content="@cuenta_del_autor" />
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Página deportiva de Valladolid" />
    <meta
      property="og:description"
      content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la Liga local, la Copa del Rey/Reina, Competiciones Europeas, y explicaciones de los sistemas de liga."
    />
    <meta property="og:image" content="URL_de_la_imagen" />
    <meta property="og:url" content="URL_de_tu_página" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="eldeportedelaciudad" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link href="/static/css/estilo.css" rel="stylesheet" type="text/css" />
    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="/static/img/logo.png" />
  </head>

  <body id="body_secciones">
    <div class="d-flex flex-column min-vh-100">
      <section id="cabecera1" class="align-items-center sticky-top">
        <header class="container-fluid d-none d-lg-block">
          <!-- Cabecera Principal -->
          <div class="row bg-menu-sistema shadow">
            <div class="col-lg-9 col-md-9">
              <nav class="navbar navbar-expand navbar-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"></a>
                  <button
                    class="navbar-toggler d-lg-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId"
                    aria-controls="collapsibleNavId"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                      <li class="nav-item">
                        <a
                          class="nav-link active text-white fw-bold text-menu-seccion"
                          href="/"
                          aria-current="page"
                        ></a>
                      </li>
                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion"
                          href="#"
                          id="dropdownId"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >Baloncesto</a
                        >
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="/seccion/uemc"
                            >CBC Valladolid</a
                          >
                          <a class="dropdown-item" href="/seccion/ponce"
                            >Ponce Valladolid</a
                          >
                          <a class="dropdown-item" href="/seccion/aliados"
                            >BSR Valladolid</a
                          >
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion"
                          href="#"
                          id="dropdownId"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >Balonmano</a
                        >
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="/seccion/aula"
                            >Aula Valladolid</a
                          >
                          <a class="dropdown-item" href="/seccion/recoletas"
                            >Atl. Valladolid</a
                          >
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion"
                          href="#"
                          id="dropdownId"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >Fútbol</a
                        >
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="/seccion/valladolid"
                            >Real Valladolid</a
                          >
                          <a class="dropdown-item" href="/seccion/promesas"
                            >RV Promesas</a
                          >
                          <a class="dropdown-item" href="/seccion/rv_femenino"
                            >RV Femenino</a
                          >
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion"
                          href="#"
                          id="dropdownId"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >Fútbol-Sala</a
                        >
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="/seccion/galvan"
                            >C.D Tierno Galván</a
                          >
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion"
                          href="#"
                          id="dropdownId"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >Hockey</a
                        >
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="/seccion/caja"
                            >CPLV Caja Rural</a
                          >
                          <a class="dropdown-item" href="/seccion/panteras"
                            >CPLV Munia Panteras</a
                          >
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion"
                          href="#"
                          id="dropdownId"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >Rugby</a
                        >
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="/seccion/vrac">VRAC</a>
                          <a class="dropdown-item" href="/seccion/salvador"
                            >El Salvador</a>
                          <a class="dropdown-item" href="/seccion/salvador_fem"
                            >El Salvador Fem.</a
                          >
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion"
                          href="#"
                          id="dropdownId"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >Voley</a
                        >
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="/seccion/univ"
                            >Univ. Valladolid</a
                          >
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </section>
        </header><!--Fin header1-->
        <nav aria-label="breadcrumb sti">
          <ol class="breadcrumb ps-1 pt-1">
            <li class="breadcrumb-item">
              <a href="/" class="text-white text-decoration-none">Inicio</a>
            </li>
            <li class="breadcrumb-item">
              <a
                href="/sistema_ligas/baloncesto"
                class="text-white text-decoration-none"
                >Baloncesto</a
              >
            </li>

            <li class="breadcrumb-item">
              <a
                href="/sistema_ligas/balonmano"
                class="text-white text-decoration-none"
                >Balonmano</a
              >
            </li>
            <li class="breadcrumb-item">
              <a
                href="/sistema_ligas/futbol"
                class="text-white text-decoration-none"
                >Fútbol</a
              >
            </li>
            <li class="breadcrumb-item active text-dark" aria-current="page">
              Fútbol-Sala
            </li>
            <li class="breadcrumb-item">
              <a
                href="/sistema_ligas/hockey"
                class="text-white text-decoration-none"
                >Hockey</a
              >
            </li>
            <li class="breadcrumb-item">
              <a
                href="/sistema_ligas/rugby"
                class="text-white text-decoration-none"
                >Rugby</a
              >
            </li>
            <li class="breadcrumb-item">
              <a
                href="/sistema_ligas/voley"
                class="text-white text-decoration-none"
                >Voley</a
              >
            </li>
          </ol>
        </nav>
        <header class="container-fluid d-lg-none d-md-block bg-menu-sistema">
      <section id="cabecera1" class="d-flex justify-content-around align-items-center">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active fs-5 text-white fw-bold text-menu-seccion" href="/"
                    aria-current="page"></a>
                </li>
                <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion" href="#" id="dropdownId"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Baloncesto</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/seccion/uemc">CBC Valladolid</a>
                        <a class="dropdown-item" href="/seccion/ponce">Ponce Valladolid</a>
                        <a class="dropdown-item" href="/seccion/aliados">BSR Valladolid</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion" href="#" id="dropdownId"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Balonmano</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/seccion/aula">Aula Valladolid</a>
                        <a class="dropdown-item" href="/seccion/recoletas">Atl. Valladolid</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion" href="#" id="dropdownId"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fútbol</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/seccion/valladolid">Real Valladolid</a>
                        <a class="dropdown-item" href="/seccion/promesas">RV Promesas</a>
                        <a class="dropdown-item" href="/seccion/rv_femenino">RV Femenino</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion" href="#" id="dropdownId"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fútbol-Sala</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/seccion/galvan">C.D Tierno Galván</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion" href="#" id="dropdownId"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hockey</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/seccion/caja">CPLV Caja Rural</a>
                        <a class="dropdown-item" href="/seccion/panteras">CPLV Munia Panteras</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion" href="#" id="dropdownId"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rugby</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/seccion/vrac">VRAC</a>
                        <a class="dropdown-item" href="/seccion/salvador">El Salvador</a>
                        <a class="dropdown-item" href="/seccion/salvador_fem">El Salvador Fem.</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold text-white text-menu-seccion" href="#" id="dropdownId"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Voley</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/seccion/univ">Univ. Valladolid</a>
                      </div>
                    </li>
              </ul>
            </div>
          </div>
        </nav>
        <div>
          <img src="/static/img/logo-deportes2.png" class="img-fluid logo-footer" alt="deportesdelaciudad">
        </div>
      </section>
    </header><!-- Fin header 2 -->

      <section class="container-lg mb-5 flex-fill">
        <div class="team-header">
          <h1 class="h1_seccion">Sistemas</h1>
          <img
            src="/static/img/futsal_sf.png"
            alt="balón-futsal"
            class="team-logo"
          />
        </div>
        <!-- Navegador personalizado -->
        <div class="d-flex justify-content-center my-3 gap-3">
          <!--<button
            class="btn btn-outline-light tab-btn" data-tab="femenino"
          >
            Femenino
          </button>-->
          <button class="btn btn-outline-light tab-btn active" data-tab="masculino">
            Masculino
          </button>
        </div>
        <div class="tab-container">
          <div class="carousel-item active"><!-- Fútbol Sala Masculino -->
            <div class="d-flex justify-content-center">
              <div class="card sistema_ligas shadow" style="width: 80rem">
                <div class="card-body">
                  <h2 class="tipo_sistema">Fútbol Sala Masculino</h2>
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-12"><!-- 1ª DIVISIÓN -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">1ª División FS</h3>
                          <p class="text-analisis fs-4">1ª Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">
                              Un grupo con 16 equipos, jugándose por el sistema
                              de liga a doble vuelta.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Copa del Rey</strong>
                            <p class="text-analisis fs-5">
                              La Copa de S.M. El Rey de Fútbol Sala es una
                              competición oficial de ámbito estatal de la RFEF,
                              organizada por ésta y donde participan equipos de
                              1º División, 2ª División y 2ª División “B”.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Título Liga 1ª División</strong>
                            <p class="text-analisis fs-5">
                              Se clasificán para la siguiente fase por el título
                              los ocho primeros. Los cuartos de final y
                              semifinales se disputarán al mejor de tres
                              partidos, proclamándose vencedor el equipo que
                              consiga dos victorias. La final se disputará al
                              mejor de cinco partidos, proclamándose vencedor el
                              equipo que consiga tres victorias.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Descenso</strong>
                            <p class="text-analisis fs-5">
                              Los equipos clasificados en la 15º y 16ª posición
                              descenderán a 2ª División
                            </p>
                            <strong class="text-analisis text-dark fs-4">Europa</strong>
                            <p class="text-analisis fs-5">
                              El campeón de Europa de la edición anterior, si
                              este es español, y el mejor clasificado de la
                              competición de liga. Si el Campeón de Europa de la
                              edición anterior no fuese español, el derecho a
                              participar corresponderá a los dos primeros
                              clasificados de la competición de liga.
                            </p>
                          </div>
                          <a
                            href="#"
                            class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;"
                            >Leer más</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga 2ª División -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">2ª División FS</h3>
                          <p class="text-analisis fs-4">2º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">
                              Un grupo con 16 equipos, jugándose por el sistema
                              de liga a doble vuelta.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Ascenso Directo</strong>
                            <p class="text-analisis fs-5">
                              Asciende a la 1ª División de forma automatica el
                              1º del campeonato, y así proclamandose támbien
                              campeón de la 1ª División.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Playoff Ascenso</strong>
                            <p class="text-analisis fs-5">
                              Obtendrán el derecho para disputar el Play-Off de
                              ascenso del 2º al 5º clasificado, ambos inclusive,
                              cuyo campeón ascenderá a Primera División como 2º
                              clasificado según la clasificación final. Las
                              eliminatorias se disputarán al mejor de tres
                              partidos, proclamándose vencedor el equipo que
                              consiga dos victorias.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Descenso</strong>
                            <p class="text-analisis fs-5">
                              Los equipos clasificados en la 14º, 15º y 16ª
                              posición descenderán a 2ª División “B”.
                            </p>
                          </div>
                          <a
                            href="#"
                            class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;"
                            >Leer más</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga 2ª División B -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">2ª División B FS</h3>
                          <p class="text-analisis fs-4">3º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">
                              La competición se desarrollará con 6 grupos
                              formados según las inscripciones realizadas,
                              pudiendo haber cambios por posibles bajas de algún
                              club, jugándose cada grupo por el sistema de liga
                              a doble vuelta.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Ascenso</strong>
                            <p class="text-analisis fs-5">
                              Ascienden 3 equipos a 2ª División. En la primera
                              fase se clasifican los 4 primeros clasificados de
                              cada grupo, los cuales juegan una eliminatoria a
                              partido único entre el 1er y el 4º clasificado de
                              la liga regular en el campo del 1er clasificado y
                              otra eliminatoria a partido único entre el 2º y el
                              3er clasificado en el campo del 2º clasificado. En
                              la segunda fase se hace un sorteo puro con los 12
                              equipos clasificados de la primera fase,
                              condicionado a que no puedan cruzarse equipos del
                              mismo grupo ni enfrentarse entre ellos los equipos
                              que hayan quedado en 1ª posición en la liga
                              regular y se juega una eliminatoria de ida y
                              vuelta. El equipo local será el equipo que mejor
                              haya quedado clasificado en liga regular. Si los
                              equipos han quedado clasificados en la misma
                              posición, el equipo local será el equipo que mejor
                              coeficiente haya tenido. Para la tercera fase se
                              hace un sorteo puro con los 6 equipos clasificados
                              de la segunda fase. Se disputa una eliminatoria de
                              ida y vuelta en la que el equipo local será el
                              equipo que mejor haya quedado clasificado en liga
                              regular o por coeficiente si los 2 equipos que
                              disputan la eliminatoria ocuparon el mismo puesto.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Descenso</strong>
                            <p class="text-analisis fs-5">
                              Descenderán a 3ª División los equipos clasificados
                              en los puestos 13º, 14º, 15º y 16º de cada grupo.
                            </p>
                          </div>
                          <a
                            href="#"
                            class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;"
                            >Leer más</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga 3ª División -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">3ª División</h3>
                          <p class="text-analisis fs-4">4º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">
                              Los equipos están divididos  en 19 grupos, generalmente uno por cada Comunidad Autónoma, aunque algunas como (Cataluña, Comunidad Valenciana y Andalucía) tienen dos, la excepción es Navarra que no cuenta con grupo.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Ascenso</strong>
                            <p class="text-analisis fs-5">
                              No todos los campeones de cada grupo ascienden directamente. Los campeones de los grupos con menos de 14 equipos juegan una eliminatoría de play-off con otros segundos.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Descenso</strong>
                            <p class="text-analisis fs-5">
                              Descienden a la categoría Territorial los 2 últimos clasificados de cada grupo, siendo competencia de cada Federaión Territorial las posobilidades de modificar el número de descendidos.
                            </p>
                          </div>
                          <a
                            href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Fin Carrusel-->
      <footer class="container-fluid mt-auto footer-seccion">
        <div class="row align-items-center text-center">
          <div class="col-12 col-md-6 mb-2 mb-md-0">
            <a>
              <h5 class="text-white fw-bold text-analisis mb-0 fs-4">
                deportesdeslaciudad &copy; 2026
              </h5>
            </a>
          </div>
          <div class="col-12 col-md-6">
            <img
              src="/static/img/logo-deportes2.png"
              class="img-fluid logo-footer"
              alt="deportesdelaciudad"
            />
          </div>
        </div>
      </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/script.js"></script>
    <!--<script src="/static/js/proteccion-datos.js"></script>-->
    <script sr="/static/js/tab-pane.js"></script>
    <script>
      function mostrarTexto(enlace) {
        // Obtener el elemento <li> padre del enlace
        var liElement = enlace.parentNode;
        // Encontrar el elemento de texto adicional dentro del <li> padre
        var textoAdicional = liElement.querySelector(".texto-adicional");
        // Toggle para mostrar u ocultar el texto adicional
        if (
          textoAdicional.style.display === "none" ||
          textoAdicional.style.display === ""
        ) {
          textoAdicional.style.display = "block"; // Mostrar el texto adicional
          enlace.textContent = "Ocultar"; // Cambiar el texto del enlace
        } else {
          textoAdicional.style.display = "none"; // Ocultar el texto adicional
          enlace.textContent = "Leer más"; // Cambiar el texto del enlace
        }
      }
    </script>
  </body>
</html>
