{% extends "sistema_ligas/base_sistemas.html" %} 
{% block title %}Sistema Ligas - Voleibol{% endblock %}
{% block nav %} 
      <ol class="breadcrumb ps-1 pt-1">
        <li class="breadcrumb-item"><a href="/" class="text-white text-decoration-none">Inicio</a>
        </li>
        <li class="breadcrumb-item"><a href="/sistema_ligas/baloncesto" class="text-white text-decoration-none">Baloncesto</a></li>      
        <li class="breadcrumb-item"><a href="/sistema_ligas/balonmano" class="text-white text-decoration-none">Balonmano</a>
        </li>       
        <li class="breadcrumb-item"><a href="/sistema_ligas/futbol" class="text-white text-decoration-none">Fútbol</a>
        </li>
        <li class="breadcrumb-item"><a href="/sistema_ligas/futbol_sala" class="text-white text-decoration-none">Fútbol-Sala</a>
        </li>
        <li class="breadcrumb-item"><a href="/sistema_ligas/hockey" class="text-white text-decoration-none">Hockey</a>
        </li>
        
        <li class="breadcrumb-item"><a href="/sistema_ligas/rugby" class="text-white text-decoration-none">Rugby</a>
        </li>
        <li class="breadcrumb-item active text-dark" aria-current="page">Voley</li>
      </ol>
{% endblock %}
{% block contenido %}
      <div class="team-header">
        <h1 class="responsive-title">Sistemas</h1>
        <img src="/static/img/voley_sf.png" alt="balón-voleibol" class="responsive-logo ms-3">
      </div>
      <div class="d-flex justify-content-center my-3 gap-2">
        <button class="btn btn-outline-light tab-btn" data-tab="femenino"> Femenino </button>
        <button class="btn btn-outline-light tab-btn" data-tab="masculino"> Masculino </button>
      </div>
        <div class="tab-container">
          <div class="tab-pane active" id="femenino"><!-- Sistema liga - Voleibol Femenino -->
            <div class="d-flex justify-content-center">
              <div class="card sistema_ligas shadow" style="width: 80rem;">
                <div class="card-body">
                  <h2 class="tipo_sistema text-analisis">Voleibol Femenino</h2>
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-12"><!-- SuperLiga Femenina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">SuperLiga Femenina</h3>
                          <p class="fw-bold text-analisis fs-4">1ª Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis fs-4 text-dark">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">Un grupo con 12 equipos, jugándose por el sistema de liga a doble vuelta. </p>
                            <strong class="text-analisis fs-4 text-dark">Copa del Rey</strong>
                            <p class="text-analisis fs-5">Los equipos que ocupan las 7 primeras plazas de la clasificación al finalizar la primera
                              vuelta (13 partidos) y al equipo organizador, o en el caso de que no haya a los 8 primeros
                              en la primera vuelta.</p>
                            <strong class="text-analisis fs-4 text-dark">Título SuperLiga</strong>
                            <p class="text-analisis fs-5">Se clasificán para la siguiente fase por el título los ocho primeros.</p>
                            <strong class="text-analisis fs-4 text-dark">Descenso</strong>
                            <p class="text-analisis fs-5">Los dos últimos clasificados descienden a Superliga 2.</p>
                            <strong class="text-analisis fs-4 text-dark">Europa</strong>
                            <p class="text-analisis fs-5">La CEV otorga a la Superliga española 2 plazas de clasificación para competiciones
                              continentales, que se distribuyen de la siguiente forma:
                            <p class="text-analisis fs-5">El campeón de los Play Offs y por lo tanto de la Superliga acceden a disputar la tercera
                              ronda de clasificación a CEV Champions League. En caso de perder, jugaría los sesenta y
                              cuatroavos de final de la CEV Cup.</p>
                            El subcampeón de la Superliga accede a disputar los treintaidosavos de final de la Challenge
                            Cup.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- SuperLiga 2 Femenina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">SuperLiga 2 Femenina</h3>
                          <p class="fw-bold text-analisis">2º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis fs-4 text-dark">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">Lo componen 3 grupo con 12 equipos en cada grupo, jugándose por el sistema de liga a
                              doble vuelta.</p>
                            <strong class="text-analisis fs-4 text-dark">Ascenso</strong>
                            <p class="text-analisis fs-5">En caso de menos de 14 equipos, finalizada la liga regular, los equipos clasificados en los puestos de 1.º y 2.º ascenderán directamente a Superliga. Si hay de 14 a 16 equipos, los cuatro mejores de cada grupo juegan una nueva liguilla y si hay de 17 a 24 serán solo los dos mejores de cada grupo.</p>
                            <strong class="text-analisis fs-4 text-dark">Descenso</strong>
                            <p class="text-analisis fs-5">Los equipos que ocupen las posiciones 11.º y 12.º en la Liga regular descenderán a la Primera División. Los descensos también se deciden dependiendo del número de equipos participantes.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- 1ª División Masculina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">1ª División Femenina</h3>
                          <p class="fw-bold text-analisis">3º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis fs-4 text-dark">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">Lo componen 2 grupo con 7 equipos en cada grupo, jugándose por el sistema de liga a doble vuelta.</p>
                            <strong class="text-analisis fs-4 text-dark">PlayOffs Ascenso</strong>
                            <p class="text-analisis fs-5">Obtendrán el derecho para disputar el Play-Off de ascenso los 4 primeros de cada grupo, creandose 2 grupos de 3 equipos cada uno y se clasificán para las semifinales los 2 mejores de cada grupo, los vencedores de las semifinales ascenderan a la SuperLiga 2, y se jugará la final para determinar el campeón de la competición</p>
                            <strong class="text-analisis fs-4 text-dark">Descenso</strong>
                            <p class="text-analisis fs-5"></p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- 1ª División Masculina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">2ª División Femenina</h3>
                          <p class="fw-bold text-analisis">4º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis fs-4 text-dark">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">Lo componen 2 grupo con 7 equipos en cada grupo, jugándose por el sistema de liga a doble vuelta.</p>
                            <strong class="text-analisis fs-4 text-dark">PlayOffs Ascenso</strong>
                            <p class="text-analisis fs-5">Obtendrán el derecho para disputar el Play-Off de ascenso los 4 primeros de cada grupo, jugando eliminatorias desde cuartos hasta la final a ida y vuelta, el campeón de la final subira a 1ª División.</p>
                            <strong class="text-analisis fs-4 text-dark"></strong>
                            <p class="text-analisis fs-5"></p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane active" id="masculino"><!-- Sistema liga - Voleibol Masculino -->
            <div class="d-flex justify-content-center">
              <div class="card sistema_ligas shadow" style="width: 80rem;">
                <div class="card-body">
                  <h2 class="tipo_sistema text-analisis">Voleibol Masculino</h2>
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-12"><!-- SuperLiga Masculina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">SuperLiga Masculina</h3>
                          <p class="fw-bold text-analisis fs-4">1ª Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis fs-4 text-dark">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">Un grupo con 12 equipos, jugándose por el sistema de liga a doble vuelta. </p>
                            <strong class="text-analisis fs-4 text-dark">Copa del Rey</strong>
                            <p class="text-analisis fs-5">Los equipos que ocupan las 7 primeras plazas de la clasificación al finalizar la primera
                              vuelta (13 partidos) y al equipo organizador, o en el caso de que no haya a los 8 primeros
                              en la primera vuelta.</p>
                            <strong class="text-analisis fs-4 text-dark">Título SuperLiga</strong>
                            <p class="text-analisis fs-5">Se clasificán para la siguiente fase por el título los ocho primeros.</p>
                            <strong class="text-analisis fs-4 text-dark">Descenso</strong>
                            <p class="text-analisis fs-5">Los dos últimos clasificados descienden a Superliga 2.</p>
                            <strong class="text-analisis fs-4 text-dark">Europa</strong>
                            <p class="text-analisis fs-5">La CEV otorga a la Superliga española 2 plazas de clasificación para competiciones
                              continentales, que se distribuyen de la siguiente forma:
                            <p class="text-analisis fs-5">El campeón de los Play Offs y por lo tanto de la Superliga acceden a disputar la tercera
                              ronda de clasificación a CEV Champions League. En caso de perder, jugaría los sesenta y
                              cuatroavos de final de la CEV Cup.</p>
                            El subcampeón de la Superliga accede a disputar los treintaidosavos de final de la Challenge
                            Cup.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- SuperLiga Masculina 2 -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">SuperLiga Masculina 2</h3>
                          <p class="fw-bold text-analisis">2º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis fs-4 text-dark">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">Lo componen 3 grupo con 12 equipos en cada grupo, jugándose por el sistema de liga a
                              doble vuelta.</p>
                            <strong class="text-analisis fs-4 text-dark">Playoff Ascenso</strong>
                            <p class="text-analisis fs-5">Obtendrán el derecho para disputar el Play-Off de ascenso los 2 primeros de cada grupo,
                              creandose 2 grupos de 3 equipos cada uno y se clasificán para las semifinales los 2
                              mejores de cada grupo, los vencedores de las semifinales ascenderan a la SuperLiga, y se
                              jugará la final para determinar el campeón de la competición.</p>
                            <strong class="text-analisis fs-4 text-dark">Descenso</strong>
                            <p class="text-analisis fs-5">Descienden de forma directa los 2 últimos clasificados de cada grupo.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- 1ª División Masculina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">1ª División Masculina</h3>
                          <p class="fw-bold text-analisis">3º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis fs-4 text-dark">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">Lo componen 3 grupo con 12 equipos en cada grupo, jugándose por el sistema de liga a
                              doble vuelta.</p>
                            <strong class="text-analisis fs-4 text-dark">PlayOffs Ascenso</strong>
                            <p class="text-analisis fs-5">Obtendrán el derecho para disputar el Play-Off de ascenso los 2 primeros de cada grupo,
                              creandose 2 grupos de 3 equipos cada uno y se clasificán para las semifinales los 2
                              mejores de cada grupo, los vencedores de las semifinales ascenderan a la SuperLiga 2, y se
                              jugará la final para determinar el campeón de la competición</p>
                            <strong class="text-analisis fs-4 text-dark">Descenso</strong>
                            <p class="text-analisis fs-5"></p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block scripts %}
  <script>
    function mostrarTexto(enlace) {
      // Obtener el elemento <li> padre del enlace
      var liElement = enlace.parentNode;
      // Encontrar el elemento de texto adicional dentro del <li> padre
      var textoAdicional = liElement.querySelector('.texto-adicional');
      // Toggle para mostrar u ocultar el texto adicional
      if (textoAdicional.style.display === 'none' || textoAdicional.style.display === '') {
        textoAdicional.style.display = 'block'; // Mostrar el texto adicional
        enlace.textContent = 'Ocultar'; // Cambiar el texto del enlace
      } else {
        textoAdicional.style.display = 'none'; // Ocultar el texto adicional
        enlace.textContent = 'Leer más'; // Cambiar el texto del enlace
      }
    }
  </script>
{% endblock %}