{% extends "sistema_ligas/base_sistemas.html" %} 
{% block title %}Sistema Ligas - Hockey Línea{% endblock %}
{% block nav %} 
      <ol class="breadcrumb ps-1 pt-1">
        <li class="breadcrumb-item"><a href="/" class="text-white text-decoration-none">Inicio</a>
        </li>
        <li class="breadcrumb-item"><a href="/sistema_ligas/baloncesto" class="text-white text-decoration-none">Baloncesto</a></li>      
        <li class="breadcrumb-item"><a href="/sistema_ligas/balonmano" class="text-white text-decoration-none">Balonmano</a>
        </li>       
        <li class="breadcrumb-item"><a href="/sistema_ligas/futbol" class="text-white text-decoration-none">Fútbol</a>
        </li>
        <li class="breadcrumb-item"><a href="/sistema_ligas/futbol_sala" class="text-white text-decoration-none">Fútbol-Sala</a>
        </li>
        <li class="breadcrumb-item active text-dark" aria-current="page">Hockey</li>
        <li class="breadcrumb-item"><a href="/sistema_ligas/rugby" class="text-white text-decoration-none">Rugby</a>
        </li>
        <li class="breadcrumb-item"><a href="/sistema_ligas/voley" class="text-white text-decoration-none">Voley</a>
        </li>
      </ol>
    </nav>
{% endblock %}
{% block contenido %}    
      <div class="team-header">
        <h1 class="responsive-title">Sistemas</h1>
        <img src="/static/img/hockey_sf.png" alt="balón-hockey" class="responsive-logo ms-3">
      </div>
      <!-- Navegador personalizado -->
      <div class="d-flex justify-content-center my-3 gap-3">
        <button class="btn btn-outline-light tab-btn active" data-tab="femenino">Femenino</button>
        <button class="btn btn-outline-light tab-btn" data-tab="masculino">Masculino</button>
      </div>
        <div class="carousel-inner">
          <div class="tab-pane active" id="femenino"><!-- Sistema liga - Hockey Femenino -->
            <div class="d-flex justify-content-center">
              <div class="card sistema_ligas shadow" style="width: 80rem;">
                <div class="card-body">
                  <h2 class="tipo_sistema">Hockey Línea Femenino</h2>
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-12"><!-- Liga Élite Iberdrola -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">Liga Élite Iberdrola</h3>
                          <p class="text-analisis fs-4">1ª Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">La competición esta formada por 8 equipos, jugando todos contra todos a doble partido.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Play-Off al Título</strong>
                            <p class="text-analisis fs-5">El Play-Off de semifinales se disputará al mejor de TRES partidos entre los 4 primeros
                              clasificados en la Liga Regular. Los enfrentamientos de semifinales serán 1º-4º y 2º-3º
                              según la clasificación de la Liga Regular. El Play-Off de la final también es al mejor de
                              TRES partidos, empezando primero en el campo del peor clasificado en la Liga Regular.</p>
                            <strong class="text-analisis text-dark fs-4">Play-Out al Descenso</strong>
                            <p class="text-analisis fs-5">El Play-Out se disputará al mejor de TRES partidos entre los DOS últimos clasificados en
                              la Liga Regular, el perdedor descendera a la Liga Oro Femenina</p>
                            <strong class="text-analisis text-dark fs-4">SuperCopa de España</strong>
                            <p class="text-analisis fs-5">La jugarán el 1º clasificado y 2º clasificado de la liga regular, y el campeón y el
                              organizador, sino saliera un organizador sería el subcampeón de la Copa del Rey.Será en
                              una sede única a partido único tanto las semifinales, como la final. </p>
                            <strong class="text-analisis text-dark fs-4">Copa del Rey</strong>
                            <p class="text-analisis fs-5">La disputarán los 6 primeros clasificados de la primera vuelta de la Liga Regular, el 1º
                              y 2º clasificado pasán a las semifinales directamente. Se disputará en un mismo fin de
                              semana, empezando el viernes los cuartos y acabando el domingo con la final.</p>
                            <strong class="text-analisis text-dark fs-4">Copa de Europa</strong>
                            <p class="text-analisis fs-5">La disputarán los 5 mejores equipos europeos más el anfitrión de la sede que sea elegida
                              para disputar dicho torneo entre viernes, sabado y domingo del mismo fin de semana.
                              Primero se crearán 2 grupos de 3 equipos cada uno, donde jugarán una liguilla de todos
                              contra todos, entre el viernes y el sabado por la mañana. El sabado por la tarde se
                              jugarán las semifinales entre los 1º y 2º de cada grupo, y el domingo por la tarde se
                              jugará la gran final, con los vencedores de las semifinales.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga Oro Femenina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">Liga Oro Femenina</h3>
                          <p class="text-analisis fs-4">2º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">Compiten 8 equipos, por sistema de liga regular ida y vuelta, y todos contra todos.</p>
                            <strong class="text-analisis text-dark fs-4">Play-Off Ascenso</strong>
                            <p class="text-analisis fs-5">Los 4 primeros clasificados jugarán las semifinales al mejor de TRES partidos, los
                              ganadores jugarán la final también al mejor de TRES y el vencedor ascendera a la Liga
                              Élite Iberdrola.</p>
                            <strong class="text-analisis text-dark fs-4">Play-Out Descenso</strong>
                            <p class="text-analisis fs-5">Los 2 ultimos clasificados jugarán al mejor de TRES partidos,el perdedor descendera a la
                              Liga Plata Femenina.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga Plata Femenina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">Liga Plata Femenina</h3>
                          <p class="text-analisis fs-4">3º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">La disputarán 12 equipos, divididos en 2 grupos constando la competición en 2 FASES, y se
                              jugara en 5 sedes. La FASE 1 juegan los equipos de cada grupo a partidos de ida y vuelta,
                              y todos contra todos. </p>
                            <strong class="text-analisis text-dark fs-4">Ascenso</strong>
                            <p class="text-analisis fs-5">Los 3 primeros de cada grupo formarán el Grupo A del ascenso, disputando una liga regular
                              de ida y vuelta y todos contra todos. Los resultados de la ida entre los equipos del mismo
                              grupo se arrastrarán de la primera a la segunda Fase por lo que únicamente se disputarán
                              los partidos correspondientes a la vuelta. El campeón de ascendera a la Liga Oro Femenina.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Descenso</strong>
                            <p class="text-analisis fs-5">Los 3 ultimos de cada grupo formarán el Grupo D del descenso, con el mismo sistema que
                              el ascenso. El último equipo desciende directo. El penúltimo y antepenúltimo, junto con
                              los 4 equipos que vienen del sector, juegan una liga regular en una sede con 6 equipos.
                              Los 3 primeros obtienen plaza para la Liga Plata Femenina.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="masculino"><!-- Sistema liga - Hockey Masculino -->
            <div class="d-flex justify-content-center">
              <div class="card sistema_ligas shadow" style="width: 80rem;">
                <div class="card-body">
                  <h2 class="tipo_sistema">Hockey Línea Masculino</h2>
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-12"><!-- Liga Élite Masculina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">Liga Élite Masculina</h3>
                          <p class="text-analisis fs-4">1ª Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">La competición esta formada por 10 equipos, jugando todos contra todos a doble partido.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Play-Off al Título</strong>
                            <p class="text-analisis fs-5">El Play-Off de semifinales se disputará al mejor de TRES partidos entre los 4 primeros
                              clasificados en la Liga Regular. Los enfrentamientos de semifinales serán 1º-4º y 2º-3º
                              según la clasificación de la Liga Regular. El Play-Off de la final también es al mejor de
                              TRES partidos, empezando primero en el campo del peor clasificado en la Liga Regular.</p>
                            <strong class="text-analisis text-dark fs-4">Play-Out al Descenso</strong>
                            <p class="text-analisis fs-5">El Play-Out se disputará al mejor de TRES partidos entre los DOS últimos clasificados en
                              la Liga Regular, el perdedor descendera a la Liga Oro Masculina</p>
                            <strong class="text-analisis text-dark fs-4">SuperCopa de España</strong>
                            <p class="text-analisis fs-5">La jugarán el 1º clasificado y 2º clasificado de la liga regular, y el campeón y el
                              organizador, sino saliera un organizador sería el subcampeón de la Copa del Rey.Será en
                              una sede única a partido único tanto las semifinales, como la final. </p>
                            <strong class="text-analisis text-dark fs-4">Copa del Rey</strong>
                            <p class="text-analisis fs-5">La disputarán los 6 primeros clasificados de la primera vuelta de la Liga Regular, el 1º
                              y 2º clasificado pasán a las semifinales directamente. Se disputará en un mismo fin de
                              semana, empezando el viernes los cuartos y acabando el domingo con la final.</p>
                            <strong class="text-analisis text-dark fs-4">Copa de Europa</strong>
                            <p class="text-analisis fs-5">La disputarán los 5 mejores equipos europeos más el anfitrión de la sede que sea elegida
                              para disputar dicho torneo entre viernes, sabado y domingo del mismo fin de semana.
                              Primero se crearán 2 grupos de 3 equipos cada uno, donde jugarán una liguilla de todos
                              contra todos, entre el viernes y el sabado por la mañana. El sabado por la tarde se
                              jugarán las semifinales entre los 1º y 2º de cada grupo, y el domingo por la tarde se
                              jugará la gran final, con los vencedores de las semifinales.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga Oro Masculina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">Liga Oro Masculina</h3>
                          <p class="text-analisis fs-4">2º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">Compiten 10 equipos, por sistema de liga regular ida y vuelta, y todos contra todos.</p>
                            <strong class="text-analisis text-dark fs-4">Play-Off Ascenso</strong>
                            <p class="text-analisis fs-5">Los 4 primeros clasificados jugarán las semifinales al mejor de TRES partidos, los
                              ganadores jugarán la final también al mejor de TRES y el vencedor ascendera a la Liga
                              Élite Masculina.</p>
                            <strong class="text-analisis text-dark fs-4">Play-Out Descenso</strong>
                            <p class="text-analisis fs-5">Los 2 ultimos clasificados jugarán al mejor de TRES partidos,el perdedor descendera a la
                              Liga Plata Masculina.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga Plata Masculina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h3 class="fw-bold fs-1 text-analisis">Liga Plata Masculina</h3>
                          <p class="text-analisis fs-4">3º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong class="text-analisis text-dark fs-4">Organización de la categoría</strong>
                            <p class="text-analisis fs-5">La disputarán 12 equipos, divididos en 2 grupos constando la competición en 2 FASES, y se
                              jugara en 5 sedes. La FASE 1 juegan los equipos de cada grupo a partidos de ida y vuelta,
                              y todos contra todos. </p>
                            <strong class="text-analisis text-dark fs-4">Ascenso</strong>
                            <p class="text-analisis fs-5">Los 3 primeros de cada grupo formarán el Grupo A del ascenso, disputando una liga regular
                              de ida y vuelta y todos contra todos. Los resultados de la ida entre los equipos del mismo
                              grupo se arrastrarán de la primera a la segunda Fase por lo que únicamente se disputarán
                              los partidos correspondientes a la vuelta. El campeón de ascendera a la Liga Oro
                              Masculina.
                            </p>
                            <strong class="text-analisis text-dark fs-4">Descenso</strong>
                            <p class="text-analisis fs-5">Los 3 ultimos de cada grupo formarán el Grupo D del descenso, con el mismo sistema que el
                              ascenso. El último equipo desciende directo. El penúltimo y antepenúltimo, junto con los 4
                              equipos que vienen del sector, juegan una liga regular en una sede con 6 equipos. Los 3
                              primeros obtienen plaza para la Liga Plata Masculina.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none text-analisis fs-6 text-primary"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block scripts %}
  <script>
    function mostrarTexto(enlace) {
      // Obtener el elemento <li> padre del enlace
      var liElement = enlace.parentNode;

      // Encontrar el elemento de texto adicional dentro del <li> padre
      var textoAdicional = liElement.querySelector('.texto-adicional');

      // Toggle para mostrar u ocultar el texto adicional
      if (textoAdicional.style.display === 'none' || textoAdicional.style.display === '') {
        textoAdicional.style.display = 'block'; // Mostrar el texto adicional
        enlace.textContent = 'Ocultar'; // Cambiar el texto del enlace
      } else {
        textoAdicional.style.display = 'none'; // Ocultar el texto adicional
        enlace.textContent = 'Leer más'; // Cambiar el texto del enlace
      }
    }
  </script>
{% endblock %}