<!doctype html>
<html lang="es">

<head>
  <title>Calendario y Resultados</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la liga local, la Copa del Rey/Reina, competiciones europeas, y explicaciones de los sistemas de liga.">
  <meta name="keywords"
    content="deporte, Valladolid, resultados, liga local, Copa del Rey, Copa de la Reina, competiciones europeas, análisis, sistemas de liga">
  <meta name="author" content="eldeportedelaciudad">
  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Página deportiva de Valladolid">
  <meta name="twitter:description" content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la Liga local, la Copa del Rey/Reina, Competiciones Europeas, y explicaciones de los sistemas de liga.">
  <meta name="twitter:image" content="URL_de_la_imagen">
  <meta name="twitter:site" content="@tu_cuenta_de_twitter">
  <meta name="twitter:creator" content="@cuenta_del_autor">
  <!-- Open Graph meta tags -->
  <meta property="og:title" content="Página deportiva de Valladolid">
  <meta property="og:description" content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la Liga local, la Copa del Rey/Reina, Competiciones Europeas, y explicaciones de los sistemas de liga.">
  <meta property="og:image" content="URL_de_la_imagen">
  <meta property="og:url" content="URL_de_tu_página">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="eldeportedelaciudad">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">
  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='img/logo-deportes2.png') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/logo-deportes2.png') }}" />
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="theme-color" content="#000000">
</head>

<body class="calend_deportes">
  <div class="d-flex flex-column min-vh-100">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb ms-1">
        <li class="breadcrumb-item"><a href="/seccion/vcv" class="text-white text-decoration-none text-analisis fs-6">Universidad VCV</a></li>
        <li class="breadcrumb-item active text-dark" aria-current="page">Calendario Universidad VCV</li>
      </ol>
    </nav>
    <section class="container-lg mb-5 flex-fill copa">
        <!-- Navegador personalizado -->
      <div class="d-flex justify-content-center my-2 gap-2">
        <button class="btn btn-outline-light tab-btn active" data-tab="calendario">Calendario</button>
        <button class="btn btn-outline-light tab-btn" data-tab="resultados">Resultados</button>
      </div>
        <div class="tab-container">
          <div class="tab-pane active" id="calendario"><!--Tabla Calendario El Salvador Fem-->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos_aula w-100" style="max-width: 80rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center text-white fw-bold text-analisis">Calendario Individual 25/26</h3>
                    <table class="table table-bordered tabla_equipos tabla_vcv">
                      <thead>
                        <tr class="text-center text-dark">
                          <th></th>
                          <th colspan="2">Jornadas</th>
                          <th colspan="4">Resultados</th>
                          <!--<th colspan="2">Partidos</th>-->
                        </tr>
                        <tr class="text-center text-dark">
                          <th scope="col">Equipos</th>
                          <th>Ida</th>
                          <th>Vlt</th>
                          <th colspan="2">Ida</th>
                          <th colspan="2">Vlt</th>
                          <th>Puntos</th>
                          <!--<th>PP</th>-->
                          <th>Average</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for equipo, datos_equipo in tabla_partidos_vcv.items() %}
                        <tr class="text-center">
                          <th class="text-white size_equipos">{{ equipo }}</th>
                          <td class="jorn_ida fw-bold">
                            {% if datos_equipo.get('primer_enfrentamiento') %}
                            J-{{ datos_equipo['primer_enfrentamiento']|replace('Jornada','') }}
                            {% if datos_equipo['jornadas'][datos_equipo['primer_enfrentamiento']]['rol_vcv'] %}
                            ({{ datos_equipo['jornadas'][datos_equipo['primer_enfrentamiento']]['rol_vcv'] }})
                            {% endif %}
                            {% endif %}
                          </td>
                          <td class="jorn_vuelta fw-bold">
                            {% if datos_equipo.get('segundo_enfrentamiento') %}
                            J-{{ datos_equipo['segundo_enfrentamiento']|replace('Jornada','') }}
                            {% if datos_equipo['jornadas'][datos_equipo['segundo_enfrentamiento']]['rol_vcv'] %}
                            ({{ datos_equipo['jornadas'][datos_equipo['segundo_enfrentamiento']]['rol_vcv'] }})
                            {% endif %}
                            {% endif %}
                          </td>
                          <td class="resultadoA fw-bold">{{ tabla_partidos_vcv[equipo]['resultadoA'] }}</td>
                          <td class="resultadoB fw-bold">{{ tabla_partidos_vcv[equipo]['resultadoB'] }}</td>
                          <td class="resultadoAA fw-bold">{{ tabla_partidos_vcv[equipo]['resultadoAA'] }}</td>
                          <td class="resultadoBB fw-bold">{{ tabla_partidos_vcv[equipo]['resultadoBB'] }}</td>
                          <td class="part1"></td>
                          <td class="average"></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="resultados"><!-- Resultados temporada 23/24 -->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos_aula w-100" style="max-width: 80rem;">
                <h3 class="text-center text-white fw-bold pt-2 text-analisis">Resultados 24/25</h3>
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      {% for goles in nuevos_datos_vcv %}
                      <div class="col-lg-4">
                        <div class="card card_calendario mb-3">
                          <div class="table-responsive">
                            <table class="table table-bordered card_calendario tabla_jornadas">
                              <thead class="fondo_jornadas">
                                <tr class="text-center">
                                  <td colspan="5" class="text-center text-white fw-bold">{{ goles.nombre }}</td>
                                </tr>
                              </thead>
                              <tbody style="display:none">
                                {% for partido in goles.partidos %}
                                <tr class="text-center">
                                  <td class="text-center fw-bold text-dark">{{ partido.fecha }} {{ partido.hora }}
                                  </td>
                                  <td class="text-center fw-bold size_equipos text-white">{{ partido.local }}</td>
                                  <td class="text-center text-dark fw-bold">{{ partido.resultadoA }}</td>
                                  <td class="text-center text-dark fw-bold">{{ partido.resultadoB }}</td>
                                  <td class="text-center fw-bold size_equipos text-white">{{ partido.visitante }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            <div class="d-flex ms-1 my-1">
                              <a href="#" onclick="toggleTabla(this, `{{ goles.nombre }}` ) "
                                class="text-decoration-none ps-3 text-white text-analisis fs-5">Ver</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <footer class="container-fluid mt-auto footer-seccion">
      <div class="row">
        <div class="col-12 col-lg-3 d-flex justify-content-center align-items-center mb-1 mb-lg-0">
          <a>
            <h5 class="text-start text-white fw-bold pt-1 fs-4 ms-2">eldeportedelaciudad &copy; 2024</h5>
          </a>
        </div>
        <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center ">
          <img src="/static/img/logo-deportes2.png" class="img-fluid logo-footer" alt="deportesdelaciudad">
        </div>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/slide.js"></script>
  <script src="/static/js/leer_mas.js"></script>
  <script src="/static/js/num_caracteres.js"></script>
  <script src="/static/js/carrusel_equipos.js"></script>
  <script src="/static/js/tab-pane.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Seleccionar todas las filas de la tabla
      var filas = document.querySelectorAll('.tabla_vcv tbody tr');
      // Iterar sobre cada fila
      filas.forEach(function (fila) {
        // Obtener el nombre del equipo de la fila actual
        var equipo = fila.querySelector('th').textContent.trim();
        // Obtener la jornada de ida y determinar si el equipo juega en casa o como visitante
        var jornadaIdaElement = fila.querySelector('.jorn_ida');
        var esLocalIda = false; // Por defecto, asumimos que el equipo juega como visitante en la jornada de ida
        if (jornadaIdaElement) {
          var jornadaIda = jornadaIdaElement.textContent.trim();
          if (jornadaIda.includes('C')) {
            esLocalIda = true;
          }
        }
        // Obtener la jornada de vuelta y determinar si el equipo juega en casa o como visitante
        var jornadaVueltaElement = fila.querySelector('.jorn_vuelta');
        var esLocalVuelta = false; // Por defecto, asumimos que el equipo juega como visitante en la jornada de vuelta
        if (jornadaVueltaElement) {
          var jornadaVuelta = jornadaVueltaElement.textContent.trim();
          if (jornadaVuelta.includes('C')) {
            esLocalVuelta = true;
          }
        }
        // Obtener los valores de los resultados de la fila
        var resultadoA = parseInt(fila.querySelector('.resultadoA').textContent);
        var resultadoB = parseInt(fila.querySelector('.resultadoB').textContent);
        var resultadoAA = parseInt(fila.querySelector('.resultadoAA').textContent);
        var resultadoBB = parseInt(fila.querySelector('.resultadoBB').textContent);
        // Comparar los resultados y asignar los puntajes correspondientes
        var part1 = fila.querySelector('.part1');
        var average = fila.querySelector('.average');

        // Función para asignar los puntajes
        function asignarPuntaje(resultadoLocal, resultadoVisitante) {
          if (resultadoLocal === 3 && resultadoVisitante <= 1) {
            return 3;
          } else if (resultadoLocal === 3 && resultadoVisitante === 2) {
            return 2;
          } else if (resultadoLocal === 2 && resultadoVisitante === 3) {
            return 1;
          } else {
            return 0;
          }
        }

        // Lógica para asignar los puntajes de la jornada de ida
        var puntajeIda = 0;
        if (esLocalIda) {
          puntajeIda = asignarPuntaje(resultadoA, resultadoB);
        } else {
          puntajeIda = asignarPuntaje(resultadoB, resultadoA);
        }

        // Lógica para asignar los puntajes de la jornada de vuelta
        var puntajeVuelta = 0;
        if (!isNaN(resultadoAA) && !isNaN(resultadoBB)) {
          if (esLocalVuelta) {
            puntajeVuelta = asignarPuntaje(resultadoAA, resultadoBB);
          } else {
            puntajeVuelta = asignarPuntaje(resultadoBB, resultadoAA);
          }
        }

        // Sumar los puntajes de ambas jornadas
        var puntajeTotal = puntajeIda + puntajeVuelta;

        // Actualizar el puntaje en la tabla
        part1.textContent = puntajeTotal;
        part1.style.color = 'deepskyblue'; // Color del puntaje

        // Lógica para calcular las diferencias de goles de ambas jornadas
        var diferenciaGolesIda = 0;
        var diferenciaGolesVuelta = 0;
        if (esLocalIda) {
          diferenciaGolesIda = resultadoA - resultadoB;
        } else {
          diferenciaGolesIda = resultadoB - resultadoA;
        }
        if (!isNaN(resultadoAA) && !isNaN(resultadoBB)) {
          if (esLocalVuelta) {
            diferenciaGolesVuelta = resultadoAA - resultadoBB;
          } else {
            diferenciaGolesVuelta = resultadoBB - resultadoAA;
          }
        }
        var averageTotal = diferenciaGolesIda + diferenciaGolesVuelta;
        if (!isNaN(averageTotal)) {
          // Asignar el valor del average total a la celda 'average'
          average.textContent = averageTotal;
          // Determinar el color de la celda 'average' según la diferencia de goles
          if (averageTotal > 0) {
            average.style.color = 'lime'; // Equipo A ganó
          } else if (averageTotal < 0) {
            average.style.color = 'darkred'; // Equipo A perdió
          } else {
            average.style.color = 'deepskyblue'; // Empate
          }
        } else {
          // Si averageTotal es NaN, dejar la celda vacía
          average.textContent = '';
        }
      });
    });


  </script>
</body>

</html>