{% extends "europa/base_europa.html" %} 
{% block title %}Eurocup2 - BSR Valladolid{% endblock %}
{% block contenido %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb ps-2 pt-2">
          <li class="breadcrumb-item">
            <a
              href="/seccion/aliados"
              class="text-white text-decoration-none text-analisis fs-6"
              >BSR Valladolid</a
            >
          </li>
          <li class="breadcrumb-item active text-dark" aria-current="page">
            Eurocup 2 - Final
          </li>
        </ol>
      </nav>
      <h1 class="text-playoff">BSR Valladolid</h1>
      <span class="equipo_copa"></span>
      <!-- Navegación -->
      <div class="d-flex justify-content-center my-2 gap-2 flex-wrap">
        <!-- Eliminatorias -->
        {% for ronda in eliminatorias.keys() %}
        <a
          href="#"
          class="btn btn-outline-dark btn-slide"
          data-target="{{ ronda }}"
        >
          {{ ronda|capitalize }}
        </a>
        {% endfor %}
      </div>
      <section class="container-lg flex-fill copa_uemc">
        <!-- Contenido Clasificaciones y Eliminatorias -->
        <div id="contenedor-secciones">
          <!-- Eliminatorias -->
          {% for ronda, partidos in eliminatorias.items() %}
          <div class="seccion-slide d-none" id="{{ ronda }}">
            <div class="d-flex justify-content-center">
              <div class="card tabla_copa mt-4" style="width: 70rem">
                <div class="card-body">
                  <h3 class="text_uemc text-center text-white fs-4 mb-3">
                    {{ ronda|capitalize }}
                  </h3>
                  <div class="row table-responsive">
                    <div class="col-12">
                      <table
                        class="table border-secondary text-white text-center"
                      >
                        {% for partido in partidos %}
                        <tr class="text-center">
                          <td class="text_uemc text-white fs-5">
                            {{ partido.fecha }}
                          </td>
                          <td class="text_uemc text-white fs-5">
                            {{ partido.hora }}
                          </td>
                          <td
                            class="text-copa fw-bold fs-4 {% if partido.resultadoA > partido.resultadoB %}text-dark{% endif %}"
                          >
                            {{ partido.local }}
                          </td>
                          <td class="text_uemc fw-bold fs-4">
                            {{ partido.resultadoA }}
                          </td>
                          <td class="text_uemc fw-bold fs-4">
                            {{ partido.resultadoB }}
                          </td>
                          <td
                            class="text-copa fw-bold fs-4 {% if partido.resultadoA < partido.resultadoB %}text-dark{% endif %}"
                          >
                            {{ partido.visitante }}
                          </td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
{% endblock %}
{% block scripts %}      
    <script>
      document.querySelectorAll(".btn-slide").forEach((button) => {
        button.addEventListener("click", (e) => {
          e.preventDefault();
          const targetId = button.dataset.target;

          // Ocultar todas las secciones
          document.querySelectorAll(".seccion-slide").forEach((section) => {
            section.classList.add("d-none");
            section.classList.remove("d-block");
          });

          // Mostrar la sección deseada
          const targetSection = document.getElementById(targetId);
          if (targetSection) {
            targetSection.classList.remove("d-none");
            targetSection.classList.add("d-block");
          }

          // Actualizar clase activa en los botones
          document
            .querySelectorAll(".btn-slide")
            .forEach((btn) => btn.classList.remove("active"));
          button.classList.add("active");
        });
      });
    </script>
{% endblock %}