<!doctype html>
<html lang="es">

<head>
  <title>Copa de Europa - CPLV Munia Panteras</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la liga local, la Copa del Rey/Reina, competiciones europeas, y explicaciones de los sistemas de liga.">
  <meta name="keywords"
    content="deporte, Valladolid, resultados, liga local, Copa del Rey, Copa de la Reina, competiciones europeas, análisis, sistemas de liga">
  <meta name="author" content="eldeportedelaciudad">
  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Página deportiva de Valladolid">
  <meta name="twitter:description" content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la Liga local, la Copa del Rey/Reina, Competiciones Europeas, y explicaciones de los sistemas de liga.">
  <meta name="twitter:image" content="URL_de_la_imagen">
  <meta name="twitter:site" content="@tu_cuenta_de_twitter">
  <meta name="twitter:creator" content="@cuenta_del_autor">
  <!-- Open Graph meta tags -->
  <meta property="og:title" content="Página deportiva de Valladolid">
  <meta property="og:description" content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la Liga local, la Copa del Rey/Reina, Competiciones Europeas, y explicaciones de los sistemas de liga.">
  <meta property="og:image" content="URL_de_la_imagen">
  <meta property="og:url" content="URL_de_tu_página">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="eldeportedelaciudad">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">
  <!-- Favicon -->
  <link rel="icon" type="image/jpg" href="/static/img/logo.png" />
</head>

<body class="calend_deportes">
  <div class="d-flex flex-column min-vh-100">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb ps-2 pt-2">
        <li class="breadcrumb-item"><a href="/" class="text-white text-decoration-none">Inicio</a></li>
        <li class="breadcrumb-item active text-info" aria-current="page">Copa de Europa CPLV Munia Panteras</li>
      </ol>
    </nav>
    <h1 class="text-playoff">Copa de Europa 25/26</h1>
    <span class="equipo_copa">CPLV Munia Panteras</span>
    <!-- Navegación -->
      <div class="d-flex justify-content-center my-3 gap-3 flex-wrap">
        {% for grupo in clasificaciones.keys() %}
        <a
          href="#"
          class="btn btn-outline-info btn-slide {% if loop.first %}active{% endif %}"
          data-target="grupo{{ loop.index0 }}"
        >
          {{ grupo }}
        </a>
        {% endfor %} {% for ronda in eliminatorias.keys() %}
        <a
          href="#"
          class="btn btn-outline-info btn-slide"
          data-target="ronda{{ loop.index0 }}"
        >
          {{ ronda|capitalize }}
        </a>
        {% endfor %}
      </div>
    <section class="container-lg flex-fill copa_uemc">
        <!-- Contenido Clasificaciones y Eliminatorias -->
        <div id="contenedor-secciones">
          <!-- Clasificaciones -->
          {% for grupo in clasificaciones.keys() %}
          <div
            class="seccion-slide {% if loop.first %}d-block{% else %}d-none{% endif %}"
            id="grupo{{ loop.index0 }}">
            <div class="d-flex justify-content-center">
              <div class="card tabla_copa mt-4" style="width: 70rem">
                <div class="card-body">
                  <h3 class="text-center text-white">
                    Clasificación {{ grupo }}
                  </h3>
                  <table class="table border-secondary text-white text-center">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Equipo</th>
                        <th>PJ</th>
                        <th>PG</th>
                        <th>PP</th>
                        <th>PTS</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for equipo, stats in equipos %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td class="fw-bold">{{ equipo }}</td>
                        <td>{{ stats.jugados }}</td>
                        <td>{{ stats.ganados }}</td>
                        <td>{{ stats.perdidos }}</td>
                        <td>{{ stats.puntos }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <h4 class="text-white mt-4">Partidos {{ grupo }}</h4>
                <table class="table border-secondary text-white text-center">
                  <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>Local</th>
                      <th>Resultado</th>
                      <th>Visitante</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for partido in equipos_por_encuentros[grupo].partidos %}
                    <tr>
                      <td>{{ partido.fecha }}</td>
                      <td>{{ partido.hora }}</td>
                      <td
                        class="text-copa fs-5 {% if partido.resultadoA > partido.resultadoB %}text-dark{% endif %}"
                      >
                        {{ partido.local }}
                      </td>
                      <td>
                        {{ partido.resultadoA }} - {{ partido.resultadoB }}
                      </td>
                      <td
                        class="text-copa fs-5 {% if partido.resultadoA < partido.resultadoB %}text-dark{% endif %}"
                      >
                        {{ partido.visitante }}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {% endfor %}

          <!-- Eliminatorias -->
          {% for ronda, datos in eliminatorias.items() %} {% set partidos =
          datos['partidos'] %}
          <div class="seccion-slide d-none" id="ronda{{ loop.index0 }}">
            <div class="d-flex justify-content-center">
              <div class="card tabla_copa mt-4" style="width: 70rem">
                <div class="card-body">
                  <h3 class="text-center text-white text-capitalize">
                    {{ ronda }}
                  </h3>
                  <div class="row table-responsive">
                    <div class="col-12">
                      <table
                        class="table border-secondary text-white text-center"
                      >
                        {% for partido in partidos %}
                        <tr class="text-center">
                          <td class="text-white">{{ partido.fecha }}</td>
                          <td class="text-white">{{ partido.hora }}</td>
                          <td
                            class="text-copa fs-5 {% if partido.resultadoA > partido.resultadoB %}text-dark{% endif %}"
                          >
                            {{ partido.local }}
                          </td>
                          <td class="text-white fw-bold fs-5">
                            {{ partido.resultadoA }}
                          </td>
                          <td class="text-white fw-bold fs-5">
                            {{ partido.resultadoB }}
                          </td>
                          <td
                            class="text-copa fs-5 {% if partido.resultadoA < partido.resultadoB %}text-dark{% endif %}"
                          >
                            {{ partido.visitante }}
                          </td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    <footer class="container-fluid mt-auto footer-seccion">
      <div class="row">
        <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center mb-1 mb-lg-0">
          <a>
            <h5 class="text-start text-white fw-bold fs-4 ms-2">eldeportedelaciudad &copy; 2024</h5>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center ">
          <img src="/static/img/logo-deportes2.png" class="img-fluid me-2 p-1 logo-footer" alt="deportesdelaciudad">
        </div>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="/static/js/proteccion-datos.js"></script>
  <!--<script src="/static/js/script.js"></script>-->
  <script>
      document.querySelectorAll(".btn-slide").forEach((button) => {
        button.addEventListener("click", (e) => {
          e.preventDefault();
          const targetId = button.dataset.target;

          // Ocultar todas las secciones
          document.querySelectorAll(".seccion-slide").forEach((section) => {
            section.classList.add("d-none");
            section.classList.remove("d-block");
          });

          // Mostrar la sección deseada
          const targetSection = document.getElementById(targetId);
          if (targetSection) {
            targetSection.classList.remove("d-none");
            targetSection.classList.add("d-block");
          }

          // Actualizar clase activa en los botones
          document
            .querySelectorAll(".btn-slide")
            .forEach((btn) => btn.classList.remove("active"));
          button.classList.add("active");
        });
      });
    </script>
</body>
</html>