{% extends "europa/base_europa.html" %} 
{% block title %}Europa - Atl. Valladolid{% endblock %}
{% block contenido %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb ps-2 pt-2">
          <li class="breadcrumb-item">
            <a href="/" class="text-white text-decoration-none">Inicio</a>
          </li>
          <li class="breadcrumb-item active text-info" aria-current="page">
            Europa Atl.Valladolid
          </li>
        </ol>
      </nav>
      <h1 class="text-playoff">Europa 25/26</h1>
      <span class="equipo_copa">Atl.Valladolid</span>
      <!-- Navegación -->
      <div class="d-flex justify-content-center my-2 gap-2 flex-wrap">
        <a
          href="#"
          class="btn btn-outline-info btn-slide"
          data-target="preliminar"
        >
          Preliminar
        </a>
        {% for grupo in clasificaciones_fase1.keys() %}
        <a
          href="#"
          class="btn btn-outline-info btn-slide {% if loop.first %}active{% endif %}"
          data-target="grupo{{ loop.index0 }}"
        >
          {{ grupo }}
        </a>
        {% endfor %} {% for grupo in clasificaciones_fase2.keys() %}
        <a
          href="#"
          class="btn btn-outline-info btn-slide"
          data-target="segunda{{ loop.index0 }}"
        >
          {{ grupo }}
        </a>
        {% endfor %} {% for ronda in eliminatorias.keys() %}
        <a
          href="#"
          class="btn btn-outline-info btn-slide"
          data-target="eliminatoria{{ loop.index0 }}"
        >
          {{ ronda|capitalize }}
        </a>
        {% endfor %}
      </div>
      <section class="container-lg flex-fill copa_uemc">
        <div id="contenedor-secciones">
          <!-- Preliminar -->
          <div class="seccion-slide d-none" id="preliminar">
            <div class="d-flex justify-content-center">
              <div class="card tabla_copa mt-4" style="width: 70rem">
                <div class="card-body">
                  <h3 class="text-center text-white">Preliminar</h3>
                  <table class="table border-secondary text-white text-center">
                    <thead>
                      <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Local</th>
                        <th>Resultado</th>
                        <th>Visitante</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for partido in preliminar.partidos %}
                      <tr>
                        <td>{{ partido.fecha }}</td>
                        <td>{{ partido.hora }}</td>
                        <td
                          class="text-copa fs-5 {% if partido.resultadoA > partido.resultadoB %}text-dark{% endif %}"
                        >
                          {{ partido.local }}
                        </td>
                        <td>
                          {{ partido.resultadoA }} - {{ partido.resultadoB }}
                        </td>
                        <td
                          class="text-copa fs-5 {% if partido.resultadoA < partido.resultadoB %}text-dark{% endif %}"
                        >
                          {{ partido.visitante }}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- Clasificaciones: Grupos Iniciales -->
          {% for grupo, equipos in clasificaciones_fase1.items() %}
          <div class="seccion-slide d-none" id="grupo{{ loop.index0 }}">
            <div class="d-flex justify-content-center">
              <div class="card tabla_copa mt-4" style="width: 70rem">
                <div class="card-body">
                  <h3 class="text-center text-white">{{ grupo }}</h3>
                  <table class="table border-secondary text-white text-center">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Equipo</th>
                        <th>PJ</th>
                        <th>PG</th>
                        <th>PE</th>
                        <th>PP</th>
                        <th>PTS</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for equipo, stats in equipos %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td class="fw-bold">{{ equipo }}</td>
                        <td>{{ stats.jugados }}</td>
                        <td>{{ stats.ganados }}</td>
                        <td>{{ stats.empatados }}</td>
                        <td>{{ stats.perdidos }}</td>
                        <td>{{ stats.puntos }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <table class="table border-secondary text-white text-center">
                  <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>Local</th>
                      <th>Resultado</th>
                      <th>Visitante</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if grupo in equipos_por_encuentros %} {% for partido in
                    equipos_por_encuentros[grupo]['partidos'] %}
                    <tr>
                      <td>{{ partido.fecha }}</td>
                      <td>{{ partido.hora }}</td>
                      <td
                        class="text-copa fs-5 {% if partido.resultadoA > partido.resultadoB %}text-dark{% endif %}"
                      >
                        {{ partido.local }}
                      </td>
                      <td>
                        {{ partido.resultadoA }} - {{ partido.resultadoB }}
                      </td>
                      <td
                        class="text-copa fs-5 {% if partido.resultadoA < partido.resultadoB %}text-dark{% endif %}"
                      >
                        {{ partido.visitante }}
                      </td>
                    </tr>
                    {% endfor %} {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {% endfor %}

          <!-- Segunda Fase -->
          {% for grupo, equipos in clasificaciones_fase2.items() %}
          <div class="seccion-slide d-none" id="segunda{{ loop.index0 }}">
            <div class="d-flex justify-content-center">
              <div class="card tabla_copa mt-4" style="width: 70rem">
                <div class="card-body">
                  <h3 class="text-center text-white">{{ grupo }}</h3>

                  <!-- Tabla de clasificación -->

                  <h5 class="text-white text-center">Clasificación</h5>
                  <table class="table border-secondary text-white text-center">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Equipo</th>
                        <th>PJ</th>
                        <th>PG</th>
                        <th>PE</th>
                        <th>PP</th>
                        <th>PTS</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for equipo, datos in equipos %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-copa fw-bold">
                          {{ equipo }}
                        </td>
                        <td>{{ datos.jugados }}</td>
                        <td>{{ datos.ganados }}</td>
                        <td>{{ datos.empatados }}</td>
                        <td>{{ datos.perdidos }}</td>
                        <td>{{ datos.puntos }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                  <!-- Tabla de partidos -->
                  <table class="table border-secondary text-white text-center">
                    <thead>
                      <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Local</th>
                        <th>Resultado</th>
                        <th>Visitante</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if grupo in segunda_fase %} {% for partido in
                      segunda_fase[grupo]["partidos"] %}
                      <tr>
                        <td>{{ partido.fecha }}</td>
                        <td>{{ partido.hora }}</td>
                        <td
                          class="text-copa fs-5 {% if partido.resultadoA|int > partido.resultadoB|int %}text-dark{% endif %}"
                        >
                          {{ partido.local }}
                        </td>
                        <td>
                          {{ partido.resultadoA }} - {{ partido.resultadoB }}
                        </td>
                        <td
                          class="text-copa fs-5 {% if partido.resultadoA|int < partido.resultadoB|int %}text-dark{% endif %}"
                        >
                          {{ partido.visitante }}
                        </td>
                      </tr>
                      {% endfor %} {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          <!-- Eliminatorias -->
          {% for ronda in eliminatorias.keys() %}
          <div class="seccion-slide d-none" id="eliminatoria{{ loop.index0 }}">
            <div class="d-flex justify-content-center">
              <div class="card tabla_copa mt-4" style="width: 70rem">
                <div class="card-body">
                  <h3 class="text-center text-white text-capitalize">
                    {{ ronda | capitalize }}
                  </h3>
                  <table class="table border-secondary text-white text-center">
                    <thead>
                      <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Local</th>
                        <th>Goles</th>
                        <th>Goles</th>
                        <th>Visitante</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for partido in eliminatorias[ronda].partidos %}
                      <tr>
                        <td>{{ partido.fecha }}</td>
                        <td>{{ partido.hora }}</td>
                        <td
                          class="text-copa fs-5 {% if partido.resultadoA > partido.resultadoB %}text-dark{% endif %}"
                        >
                          {{ partido.local }}
                        </td>
                        <td>{{ partido.resultadoA }}</td>
                        <td>{{ partido.resultadoB }}</td>
                        <td
                          class="text-copa fs-5 {% if partido.resultadoA < partido.resultadoB %}text-dark{% endif %}"
                        >
                          {{ partido.visitante }}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
{% endblock %}
{% block scripts %}      
    <script>
      document.querySelectorAll(".btn-slide").forEach((btn) => {
        btn.addEventListener("click", function (e) {
          e.preventDefault();
          const target = this.dataset.target;

          // Ocultar todas
          document
            .querySelectorAll(".seccion-slide")
            .forEach((sec) => sec.classList.add("d-none"));

          // Mostrar la elegida
          document.getElementById(target).classList.remove("d-none");

          // Marcar botón activo
          document
            .querySelectorAll(".btn-slide")
            .forEach((b) => b.classList.remove("active"));
          this.classList.add("active");
        });
      });
    </script>
{% endblock %}