{% extends "europa/base_europa.html" %} 
{% block title %}Europa | El Salvador Femenino | Deportes de la Ciudad{% endblock %}

{% block description %}
Resultados, calendario, clasificación y grupos de El Salvador Femenino en Europa.
{% endblock %}

{% block og_title %}
Europa | El Salvador Femenino | Deportes de la Ciudad
{% endblock %}

{% block og_description %}
Sigue la participación de El Salvador Femenino en Europa.
{% endblock %}

{% block twitter_title %}
Europa | El Salvador Femenino | Deportes de la Ciudad
{% endblock %}

{% block twitter_description %}
Sigue la participación de El Salvador Femenino en Europa.
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block contenido %}

{% endblock %}
{% block scripts %}

{% endblock %}