{% extends "europa/base_europa.html" %} 
{% block title %}Europa | VRAC | Deportes de la Ciudad{% endblock %}

{% block description %}
Resultados, calendario, clasificación y grupos del VRAC en Europa.
{% endblock %}

{% block og_title %}
Europa | VRAC | Deportes de la Ciudad
{% endblock %}

{% block og_description %}
Sigue la participación del VRAC en Europa.
{% endblock %}

{% block twitter_title %}
Europa | VRAC | Deportes de la Ciudad
{% endblock %}

{% block twitter_description %}
Sigue la participación del VRAC en Europa.
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block contenido %}

{% endblock %}
{% block scripts %}

{% endblock %}