{% extends "equipos_vall/base_equipos_vall.html" %} {% block title
%}Clasificaciones - CBC Valladolid{% endblock %} {% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-1">
    <li class="breadcrumb-item">
      <a
        href="/seccion/uemc"
        class="text-white text-decoration-none text-analisis fs-6"
        >CBC Valladolid</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_basket/calendario_uemc"
        class="text-white text-decoration-none text-analisis fs-6"
        >Calendario Ind.</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_basket/resultados_uemc"
        class="text-white text-decoration-none text-analisis fs-6"
        >Resultados</a
      >
    </li>
    <li class="breadcrumb-item active text-dark text-analisis fs-6" aria-current="page">
      Clasificaciones
    </li>
  </ol>
</nav>
{% endblock %} {% block contenido %}
<section class="container-lg mb-5 flex-fill copa">
  <!-- Navegador personalizado -->
  <div class="d-flex justify-content-center my-2 gap-1">
    <button
      class="btn btn-outline-light tab-btn active"
      data-tab="clasificacion"
    >
      Clasificación
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="ascenso">
      Ascenso
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="playoff">
      PlayOff
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="descenso">
      Descenso
    </button>
  </div>
  <div class="tab-container">
    <div class="tab-pane active" id="clasificacion">
      <div class="d-flex justify-content-center">
        <!--Tabla Clasificación-->
        <div class="card tabla_equipos_aula w-100" style="max-width: 50rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Segunda FEB (G-Oeste)
              </h3>
              <table id="tablaClasificacion" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-start">J</th>
                    <th class="equipo-mobile text-start">G</th>
                    <th class="equipo-mobile text-start">P</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">F</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">C</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">DP</th>
                    <th class="equipo-mobile text-start d-none d-md-table-cell">PT</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_uemc %}
                  <tr>
                    <td
                      class="equipo-mobile text-center fw-bold {% if loop.index <= 1 %}pos-ascen{% elif loop.index <= 8 %}pos-playoff{% elif loop.index <= 11 %}pos-nada{% elif loop.index <= 12 %}pos-promo{% elif loop.index <= 14 %}pos-desc{% endif %}"
                    >
                      {{ loop.index }}
                    </td>
                    <td
                      class="equipo-mobile text-start fw-bold size_equipos2 text-white {% if 'CBC Valladolid' in equipo['equipo'] %}equipo-pucela{% endif %}"
                    >
                      {{ equipo.equipo }}
                    </td>
                    <td class="equipo-mobile text-start jugados fw-bold fs-5">
                      {{ equipo.datos.jugados }}
                    </td>
                    <td class="equipo-mobile ganados text-start fw-bold fs-5">
                      {{ equipo.datos.ganados }}
                    </td>
                    <td class="equipo-mobile text-start perdidos fw-bold fs-5">
                      {{ equipo.datos.perdidos }}
                    </td>
                    <td class="equipo-mobile text-start favor fw-bold fs-5 d-none d-md-table-cell">{{ equipo.datos.favor }}</td>
                    <td class="equipo-mobile text-start contra fw-bold fs-5 d-none d-md-table-cell">
                      {{ equipo.datos.contra }}
                    </td>
                    <td class="equipo-mobile text-center dife fw-bold fs-5 d-none d-md-table-cell">
                      {{ equipo.datos.diferencia_canastas }}
                    </td>
                    <td class="equipo-mobile text-start puntos fw-bold fs-5 d-none d-md-table-cell">
                      {{ equipo.datos.puntos }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-descrip">
            J(Jugados); G(Ganados); P(Perdidos); F(Favor); C(Contra); DP(Dif.
            Puntos); PT(Puntos)
          </p>
          <p class="ms-4 text-descrip">
            Playoff (Campeón y Final Ascenso )<span
              class="badge bg-success ms-2 text-descrip"
              >1</span
            >
            ; PlayOffs<span class="badge bg-warning ms-2 text-descrip"
              >2-8</span
            >
            ; Prom. Descenso<span
              class="badge ms-2 text-descrip"
              style="background-color: #ff7171"
              >12</span
            >
            ; Descenso<span class="badge bg-danger ms-2 text-descrip"
              >13-14</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="ascenso">
      <!--Tabla Ascenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 50rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Primera FEB
              </h3>
              <table id="tablaAscenso" class="table">
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center">Op</th>
                    <th class="equipo-mobile text-center">Pe</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_uemc %}
                  <tr>
                    <td class="equipo-mobile text-center fw-bold">{{ equipo.index }}</td>
                    <td class="equipo-mobile text-start fw-bold size_equipos2 text-white">
                      {{ equipo.equipo }}
                    </td>
                    <td class="equipo-mobile text-center fs-5 jugados1 fw-bold">{{ equipo.datos.jugados }}</td>
                    <td class="equipo-mobile text-center fs-5 pts-act1 fw-bold">{{ equipo.datos.ganados }}</td>
                    <td class="equipo-mobile text-center fs-5 proxi1 fw-bold"></td>
                    <td class="equipo-mobile text-center fs-5 pts-mate1 fw-bold"></td>
                    <td class="equipo-mobile text-center fs-5 pts-opti1 fw-bold"></td>
                    <td class="equipo-mobile text-center fs-5 pts-pesi1 fw-bold"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-descrip">
            J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="playoff">
      <!--Tabla PlayOff-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 50rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Primera FEB
              </h3>
              <table id="tablaPlayUemc" class="table">
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center">Op</th>
                    <th class="equipo-mobile text-center">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_uemc %}
                  <tr>
                    <td class="equipo-mobile text-center fw-bold">{{ equipo.index }}</td>
                    <td class="equipo-mobile text-start fw-bold size_equipos2">
                      {{ equipo.equipo }}
                    </td>
                    <td class="equipo-mobile text-center fs-5 play-jug fw-bold">{{ equipo.datos.jugados }}</td>
                    <td class="equipo-mobile text-center fs-5 play-act fw-bold">{{ equipo.datos.ganados }}</td>
                    <td class="equipo-mobile text-center fs-5 play-prox fw-bold"></td>
                    <td class="equipo-mobile text-center fs-5 play-mate fw-bold"></td>
                    <td class="equipo-mobile text-center fs-5 play-opti fw-bold"></td>
                    <td class="equipo-mobile text-center fs-5 plya-pesi fw-bold"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-descrip">
            J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="descenso">
      <!--Tabla Descenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 50rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Tercera FEB
              </h3>
              <table id="tablaDescUemc" class="table">
                <thead>
                  <tr>
                    <th class="equipo-mobile text-center"></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center">Op</th>
                    <th class="equipo-mobile text-center">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_uemc %}
                  <tr>
                    <td class="equipo-mobile text-center fw-bold">{{ equipo.index }}</td>
                    <td class="equipo-mobile text-start fw-bold size_equipos2">
                      {{ equipo.equipo }}
                    </td>
                    <td class="equipo-mobile text-center fs-5 desc-jug fw-bold">{{ equipo.datos.jugados }}</td>
                    <td class="equipo-mobile text-center fs-5 desc-act fw-bold">{{ equipo.datos.ganados }}</td>
                    <td class="equipo-mobile text-center fs-5 desc-prox fw-bold"></td>
                    <td class="equipo-mobile text-center fs-5 desc-mate fw-bold"></td>
                    <td class="equipo-mobile text-center fs-5 desc-opti fw-bold"></td>
                    <td class="equipo-mobile text-center fs-5 desc-pesi fw-bold"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-descrip">
            J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
  {% endblock %} {% block scripts %}
  <script src="/static/js/analisis-uemc.js"></script>
  {% endblock %}
</footer>
