{% extends "equipos_vall/base_equipos_vall.html" %} {% block title
%}Clasificaciones - Real Valladolid{% endblock %} {% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-1">
    <li class="breadcrumb-item">
      <a
        href="/seccion/valladolid"
        class="text-white text-decoration-none text-analisis fs-6"
        >Real Valladolid</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_futbol/calendario_valladolid"
        class="text-white text-decoration-none text-analisis fs-6"
        >Calendario Ind.</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_futbol/resultados_valladolid"
        class="text-white text-decoration-none text-analisis fs-6"
        >Resultados</a
      >
    </li>
    <li class="breadcrumb-item active text-dark text-analisis fs-6" aria-current="page">
      Clasificaciones
    </li>
  </ol>
</nav>
{% endblock %} {% block contenido %}
<section class="container-lg mb-5 flex-fill copa">
  <!-- Navegador personalizado -->
  <div class="d-flex justify-content-center my-2 gap-1">
    <button
      class="btn btn-outline-light tab-btn active"
      data-tab="clasificacion"
    >
      Clasificación
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="ascenso">
      Ascenso
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="playoff">
      PlayOff
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="descenso">
      Descenso
    </button>
  </div>
  <div class="tab-container">
    <div class="tab-pane active" id="clasificacion">
      <!--Tabla Clasificación 2ª Div.-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Liga Hypermotion
              </h3>
              <table id="tablaClasifVallad2" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">G</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">E</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">P</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">F</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">C</th>
                    <th class="equipo-mobile text-center">DG</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_valladolid %}
                  <tr>
                    <td
                      class="equipo-mobile text-center {% if loop.index <= 2 %}pos-ascen{% elif loop.index <= 6 %}pos-playoff{% elif loop.index <= 18 %}pos-nada{% elif loop.index <= 22 %}pos-desc{% endif %}"
                    >
                      {{ loop.index }}
                    </td>
                    <td
                      class="equipo-mobile text-start size_equipos2 {% if 'Valladolid' in equipo['equipo'] %}equipo-pucela{% endif %}"
                    >
                      {{ equipo.equipo }}
                    </td>
                    <td class="equipo-mobile text-center puntos">{{ equipo.datos.puntos }}</td>
                    <td class="equipo-mobile text-center jugados">{{ equipo.datos.jugados }}</td>
                    <td class="equipo-mobile text-center ganados d-none d-md-table-cell">{{ equipo.datos.ganados }}</td>
                    <td class="equipo-mobile text-center empatados d-none d-md-table-cell">
                      {{ equipo.datos.empatados }}
                    </td>
                    <td class="equipo-mobile text-center perdidos d-none d-md-table-cell">
                      {{ equipo.datos.perdidos }}
                    </td>
                    <td class="equipo-mobile text-center favor d-none d-md-table-cell">{{ equipo.datos.favor }}</td>
                    <td class="equipo-mobile text-center contra d-none d-md-table-cell">{{ equipo.datos.contra }}</td>
                    <td class="equipo-mobile text-center diferencia_goles">
                      {{ equipo.datos.diferencia_goles }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            PT(Puntos); J(Jugados); G(Ganados); E(Empatados); P(Perdidos); F(Favor); C(Contra) ; DG (Dif. Goles)
          </p>
          <p class="ms-4 text-analisis fs-6">
            Campeón - Ascenso (Liga EA Sports)<span
              class="badge bg-success ms-2"
              >1 - 2</span
            >
            ; PlayOff Ascenso<span class="badge bg-warning ms-2">3 - 6</span> ;
            Descenso<span class="badge bg-danger ms-2">19-22</span>
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="ascenso">
      <!--Tabla Campeón de Liga-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100 mx-auto" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Liga EA Sports
              </h3>
              <table id="tablaCampeonVallad" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class='equipo-mobile text-start'>Equipos</th>
                    <th class='equipo-mobile text-center'>J</th>
                    <th class='equipo-mobile text-center'>PA</th>
                    <th class='equipo-mobile text-center'>%</th>
                    <th class='equipo-mobile text-center'>PM</th>
                    <th class='equipo-mobile text-center d-none d-md-table-cell'>Op</th>
                    <th class='equipo-mobile text-center d-none d-md-table-cell'>Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_valladolid %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="equipo-mobile text-start size_equipos2">
                      {{ equipo.equipo }}
                    </td>
                    <td class="equipo-mobile text-center camp-jug">
                      {{ equipo.datos.jugados }}
                    </td>
                    <td class="equipo-mobile text-center camp-act">
                      {{ equipo.datos.puntos }}
                    </td>
                    <td class="equipo-mobile text-center camp-proxi"></td>
                    <td class="equipo-mobile text-center camp-mate"></td>
                    <td class="equipo-mobile text-center camp-opti d-none d-md-table-cell"></td>
                    <td class="equipo-mobile text-center camp-pesi d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="playoff">
      <!--Tabla PlayOff Ascenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100 mx-auto" style="max-width: 55rem">
          <div class="card-body">
            <div class="row table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                PlayOff Ascenso Liga EA Sports
              </h3>
              <table id="tablaPlayVallad" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_valladolid %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="equipo-mobile text-start size_equipos2">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center play-jug">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center play-act">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="equipo-mobile text-center play-proxi"></td>
                    <td class="equipo-mobile text-center play-mate fw-bold"></td>
                    <td class="equipo-mobile text-center play-opti d-none d-md-table-cell"></td>
                    <td class="equipo-mobile text-center play-pesi d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
    <!--<div class="carousel-item">Tabla Europa League->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equ_futb" style="width: 80rem;">
                <div class="card-body">
                  <div class="row table-responsive">
                    <h3 class="text-center text-analisis">Europa League</h3>
                    <div class="col-12">
                      <table id="tablaEuropaVallad" class="table"><--Tabla Europa League->
                        <thead>
                          <tr class="text-center">
                            <th></th>
                            <th>Equipos</th>
                            <th>PJ</th>
                            <th>PA</th>
                            <th>Prox</th>
                            <th>PM</th>
                            <th>PO</th>
                            <th>PPes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in clasificacion_analisis_valladolid %}
                          <tr class="text-center">
                            <td class="fw-bold">{{ equipo.index }}</td>
                            <td class="fw-bold size_equipos">{{ equipo['equipo'] }}</td>
                            <td class="euro-jug fw-bold">{{ equipo['datos']['jugados'] }}</td>
                            <td class="euro-act fw-bold">{{ equipo['datos']['puntos'] }}</td>
                            <td class="euro-proxi fw-bold"></td>
                            <td class="euro-mate fw-bold"></td>
                            <td class="euro-opti fw-bold"></td>
                            <td class="euro-pesi fw-bold"></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <p class="ms-4">PJ (Partidos Jugados); PA (Puntos Actuales); Prox (Proximidad); PM (Puntos Matemáticos);
                  PO(Puntos Optimista); PPes (Puntos Pesimista)</p>
              </div>
            </div>
          </div>
          <div class="carousel-item"><Tabla Conference League->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equ_futb" style="width: 80rem;">
                <div class="card-body">
                  <div class="row table-responsive">
                    <h3 class="text-center text-analisis">Conference League</h3>
                    <div class="col-12">
                      <table id="tablaConfeVallad" class="table"><--Tabla Conference League->
                        <thead>
                          <tr class="text-center">
                            <th></th>
                            <th>Equipos</th>
                            <th>PJ</th>
                            <th>PA</th>
                            <th>Prox</th>
                            <th>PM</th>
                            <th>POp</th>
                            <th>PPes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in clasificacion_analisis_valladolid %}
                          <tr class="text-center">
                            <td class="fw-bold">{{ equipo.index }}</td>
                            <td class="fw-bold size_equipos">{{ equipo['equipo'] }}</td>
                            <td class="confe-jug fw-bold">{{ equipo['datos']['jugados'] }}</td>
                            <td class="confe-act fw-bold">{{ equipo['datos']['puntos'] }}</td>
                            <td class="confe-proxi fw-bold"></td>
                            <td class="confe-mate fw-bold"></td>
                            <td class="confe-opti fw-bold"></td>
                            <td class="confe-pesi fw-bold"></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <p class="ms-4">PJ (Partidos Jugados); PA (Puntos Actuales); Prox (Proximidad); PM (Puntos Matemáticos);
                  PO(Puntos Optimista); PPes (Puntos Pesimista)</p>
              </div>
            </div>
          </div>-->
    <div class="tab-pane" id="descenso">
      <!--Tabla Descenso Liga BBVA-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100 mx-auto" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                1ª RFEF
              </h3>
              <table id="tablaDescVallad2" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_valladolid %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="equipo-mobile text-start size_equipos2">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center desce-jug">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center desce-act">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="equipo-mobile text-center desce-prox"></td>
                    <td class="equipo-mobile text-center desce-mate"></td>
                    <td class="equipo-mobile text-center desce-opti d-none d-md-table-cell"></td>
                    <td class="equipo-mobile text-center desce-pesi d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script src="/static/js/analisis-valladolid.js"></script>
{% endblock %}
