{% extends "equipos_vall/base_equipos_vall.html" %} {% block title
%}Clasificaciones - CDSI Valladolid{% endblock %} {% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-1">
    <li class="breadcrumb-item">
      <a
        href="/seccion/cdsi_vall"
        class="text-white text-decoration-none text-analisis fs-6"
        >CDSI Valladolid</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_basket/calendario_cdsi_vall"
        class="text-white text-decoration-none text-analisis fs-6"
        >Calendario Ind.</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_basket/resultados_cdsi_vall"
        class="text-white text-decoration-none text-analisis fs-6"
        >Resultados</a
      >
    </li>
    <li class="breadcrumb-item active text-dark text-analisis fs-6" aria-current="page">
      Clasificaciones
    </li>
  </ol>
</nav>
{% endblock %} {% block contenido %}
<section class="container-lg mb-5 flex-fill copa">
  <div class="d-flex justify-content-center my-2 gap-1">
    <button
      class="btn btn-outline-light tab-btn active"
      data-tab="clasificacion"
    >
      Clasificación
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="playoff">
      PlayOff
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="descenso">
      Descenso
    </button>
  </div>
  <div class="tab-container">
    <div class="tab-pane active" id="clasificacion">
      <!--Tabla Clasificación-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                1ª Div. Nacional Femenina
              </h3>
              <table id="tablaClasificacion2" class="table">
                <!--Tabla Clasificación CDSI-->
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">G</th>
                    <th class="equipo-mobile text-center">P</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">F</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">C</th>
                    <th class="equipo-mobile text-center">DP</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">PT</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_cdsi_vall %}
                  <tr>
                    <td
                      class="equipo-mobile text-center {% if loop.index <= 4 %}pos-ascen{% elif loop.index <= 11 %}pos-nada{% elif loop.index <= 14 %}pos-desc{% endif %}"
                    >
                      {{ loop.index }}
                    </td>
                    <td
                      class="equipo-mobile text-start size_equipos2 {% if 'CDSI Valladolid' in equipo['equipo'] %}equipo-pucela{% endif %}"
                    >
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center jugados">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center ganados">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="equipo-mobile text-center perdidos">
                      {{ equipo['datos']['perdidos'] }}
                    </td>
                    <td class="equipo-mobile text-center favor d-none d-md-table-cell">
                      {{ equipo['datos']['favor'] }}
                    </td>
                    <td class="equipo-mobile text-center contra d-none d-md-table-cell">
                      {{ equipo['datos']['contra']}}
                    </td>
                    <td class="equipo-mobile text-center dife">
                      {{ equipo['datos']['diferencia_canastas'] }}
                    </td>
                    <td class="equipo-mobile text-center puntos d-none d-md-table-cell">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-descrip">
            J(Jugados); G(Ganados); P(Perdidos); F(Favor); C(Contra); DP(Dif. Puntos); PT(Puntos)
          </p>
          <p class="ms-4 text-descrip">
            PlayOffs<span class="badge bg-success ms-2">1-4</span> ;
            Descenso<span class="badge bg-danger ms-2">12-14</span>
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="playoff">
      <!--Tabla PlayOff-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                PlayOff - Liga Femenina 2
              </h3>
              <table id="tablaPlayCDSIVall" class="table">
                <!--Tabla PlayOff-->
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">G</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_cdsi_vall %}
                  <tr>
                    <td class="fw-bold equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="equipo-mobile text-start fw-bold size_equipos2">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center fs-5 play-jug fw-bold">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center fs-5 play-act fw-bold">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="equipo-mobile text-center fs-5 play-prox fw-bold"></td>
                    <td class="equipo-mobile text-center fs-5 play-mate fw-bold"></td>
                    <td class="equipo-mobile text-center fs-5 play-opti fw-bold"></td>
                    <td class="equipo-mobile text-center fs-5 plya-pesi fw-bold"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            J(Jugados); G(Ganados); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="descenso">
      <!--Tabla Descenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="row table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Salvación - Descenso Liga Regional
              </h3>
              <table id="tablaDescCDSIVall" class="table">
                <!--Tabla Descenso-->
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">G</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_cdsi_vall %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="size_equipos2 equipo-mobile text-start">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center desc-jug">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center desc-act">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="equipo-mobile text-center desc-prox"></td>
                    <td class="equipo-mobile text-center desc-mate"></td>
                    <td class="equipo-mobile text-center desc-opti d-none d-md-table-cell"></td>
                    <td class="equipo-mobile text-center desc-pesi d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            J(Jugados); G(Ganados); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script src="/static/js/analisis-cdsi-vall.js"></script>
{% endblock %}
