{% extends "equipos_vall/base_equipos_vall.html" %} {% block title
%}Clasificaciones - RV Promesas{% endblock %} {% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-1">
    <li class="breadcrumb-item">
      <a
        href="/seccion/promesas"
        class="text-white text-decoration-none text-analisis fs-6"
        >RV Promesas</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_futbol/calendario_promesas"
        class="text-white text-decoration-none text-analisis fs-6"
        >Calendario Ind.</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_futbol/resultados_promesas"
        class="text-white text-decoration-none text-analisis fs-6"
        >Resultados</a
      >
    </li>
    <li class="breadcrumb-item active text-dark text-analisis fs-6" aria-current="page">
      Clasificaciones
    </li>
  </ol>
</nav>
{% endblock %} {% block contenido %}
<section class="container-lg mb-5 flex-fill copa">
  <!-- Navegador personalizado -->
  <div class="d-flex justify-content-center my-2 gap-1">
    <button
      class="btn btn-outline-light tab-btn active"
      data-tab="clasificacion"
    >
      Clasificación
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="ascenso">
      Ascenso
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="playoff">
      PlayOff
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="descenso">
      Descenso
    </button>
  </div>
  <div class="tab-container">
    <div class="tab-pane active" id="clasificacion">
      <!--Tabla Clasificación-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Liga 2ª RFEF (G-1)
              </h3>
              <div class="col-12">
                <table id="tablaClasifPromesas" class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th class="equipo-mobile text-start">Equipos</th>
                      <th class="equipo-mobile text-center">PT</th>
                      <th class="equipo-mobile text-center">J</th>
                      <th class="equipo-mobile text-center d-none d-md-table-cell">G</th>
                      <th class="equipo-mobile text-center d-none d-md-table-cell">E</th>
                      <th class="equipo-mobile text-center d-none d-md-table-cell">P</th>
                      <th class="equipo-mobile text-center d-none d-md-table-cell">F</th>
                      <th class="equipo-mobile text-center d-none d-md-table-cell">C</th>
                      <th class="equipo-mobile text-center">DG</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for equipo in clasificacion_analisis_promesas %}
                    <tr>
                      <td
                        class="equipo-mobile text-center {% if loop.index <= 1 %}pos-ascen{% elif loop.index <= 5 %}pos-playoff{% elif loop.index <= 12 %}pos-nada{% elif loop.index <= 13 %}pos-promo{% elif loop.index <= 18 %}pos-desc{% endif %}"
                      >
                        {{ loop.index }}
                      </td>
                      <td
                        class="equipo-mobile text-start size_equipos2 {% if 'RV Promesas' in equipo['equipo'] %}equipo-pucela{% endif %}"
                      >
                        {{ equipo['equipo'] }}
                      </td>
                      <td class="equipo-mobile text-center puntos">
                        {{ equipo['datos']['puntos'] }}
                      </td>
                      <td class="equipo-mobile text-center jugados">
                        {{ equipo['datos']['jugados'] }}
                      </td>
                      <td class="equipo-mobile text-center ganados d-none d-md-table-cell">
                        {{ equipo['datos']['ganados'] }}
                      </td>
                      <td class="equipo-mobile text-center empatados d-none d-md-table-cell">
                        {{ equipo['datos']['empatados'] }}
                      </td>
                      <td class="equipo-mobile text-center perdidos d-none d-md-table-cell">
                        {{ equipo['datos']['perdidos'] }}
                      </td>
                      <td class="equipo-mobile text-center favor d-none d-md-table-cell">
                        {{ equipo['datos']['favor'] }}
                      </td>
                      <td class="equipo-mobile text-center contra d-none d-md-table-cell">
                        {{ equipo['datos']['contra']}}
                      </td>
                      <td class="equipo-mobile text-center diferencia_goles">
                        {{ equipo['datos']['diferencia_goles'] }}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            PT(Puntos); J(Jugados); G(Ganados); E(Empatados); P(Perdidos); F(Favor);
            C(Contra); DG(Dif. Goles)
          </p>
          <p class="ms-4 text-analisis fs-6">
            Campeón (Ascenso Directo)<span class="badge bg-success ms-2"
              >1</span
            >
            ; PlayOffs (Ascenso)<span class="badge bg-primary ms-2">2-5</span>
            ;Playoff Descenso<span class="badge bg-warning ms-2">13</span> ;
            Descenso<span class="badge bg-danger ms-2">14-18</span>
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="ascenso">
      <!--Tabla Ascenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Liga 1ª RFEF
              </h3>
              <table id="tablaAscensoPromesas" class="table">
                <!--Tabla Ascenso-->
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_promesas %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td
                      class="equipo-mobile text-start size_equipos2 {% if 'Promesas' in equipo['equipo'] %}equipo-promesas-asc{% endif %}">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center jugados1">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center pts-act1">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="equipo-mobile text-center proxi1"></td>
                    <td class="equipo-mobile text-center pts-mate1"></td>
                    <td class="equipo-mobile text-center pts-opti1 d-none d-md-table-cell"></td>
                    <td class="equipo-mobile text-center pts-pesi1 d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4">
            J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="playoff">
      <!--Tabla PlayOff-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center mb-4 text-white fw-bold text-analisis fs-4">
                PlayOff - Liga 1ª RFEF
              </h3>
              <table id="tablaPlayPromesas" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center" >%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_promesas %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="equipo-mobile text-start size_equipos2">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center play-jug">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center play-act">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="equipo-mobile text-center play-proxi"></td>
                    <td class="equipo-mobile text-center play-mate"></td>
                    <td class="equipo-mobile text-center play-opti d-none d-md-table-cell"></td>
                    <td class="equipo-mobile text-center play-pesi d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="descenso">
      <!--Tabla Permanencia-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center mb-4 text-white fw-bold text-analisis fs-4">
                Permanencia - Descenso Liga 3ª RFEF
              </h3>
              <table id="tablaDescPromesas" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_promesas %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td
                      class="equipo-mobile text-start size_equipos2 {% if 'Promesas' in equipo['equipo'] %}equipo-promesas{% endif %}"
                    >
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center desc-jug">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center desc-act">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="equipo-mobile text-center desc-prox"></td>
                    <td class="equipo-mobile text-center desc-mate"></td>
                    <td class="equipo-mobile text-center desc-opti d-none d-md-table-cell"></td>
                    <td class="equipo-mobile text-center desc-pesi d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script src="/static/js/analisis-prome.js"></script>
{% endblock %}
