{% extends "equipos_vall/base_equipos_vall.html" %} {% block title
%}Clasificaciones - Atl. Valladolid{% endblock %} {% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-1">
    <li class="breadcrumb-item">
      <a
        href="/seccion/recoletas"
        class="text-white text-decoration-none text-analisis fs-6">Atl. Valladolid</a>
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_balonmano/calendario_recoletas"
        class="text-white text-decoration-none text-analisis fs-6">Calendario Ind.</a>
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_balonmano/resultados_recoletas"
        class="text-white text-decoration-none text-analisis fs-6">Resultados</a>
    </li>
    <li class="breadcrumb-item active text-dark text-analisis fs-6" aria-current="page">
      Clasificaciones
    </li>
  </ol>
</nav>
{% endblock %} {% block contenido %}
<section class="container-lg mb-5 flex-fill">
  <!-- Navegador personalizado -->
  <div class="d-flex justify-content-center my-2 gap-1">
    <button
      class="btn btn-outline-light tab-btn active"
      data-tab="clasificacion"
    >
      Clasificación
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="champion">
      Champión
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="europa">
      Euro. League
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="promocion">
      Prom. Descenso
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="descenso">
      Descenso
    </button>
  </div>
  <div class="tab-container">
    <div class="tab-pane active" id="clasificacion">
      <!--Tabla Clasificación-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Liga Asobal
              </h3>
              <table id="tablaClasificacion" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">G</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">E</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">P</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">F</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">C</th>
                    <th class="equipo-mobile text-center">DG</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_recoletas %}
                  <tr>
                    <td
                      class="equipo-mobile text-center fw-bold {% if loop.index <= 1 %}pos-ascen{% elif loop.index <= 5 %}pos-ehfec{% elif loop.index <=13 %}pos-nada{% elif loop.index <=14 %}pos-promo{% elif loop.index <= 16 %}pos-desc{% endif %}"
                    >
                      {{ loop.index }}
                    </td>
                    <td
                      class="equipo-mobile text-start size_equipos2 {% if 'Atl. Valladolid' in equipo['equipo'] %}equipo-pucela{% endif %}"
                    >
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center puntos">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="equipo-mobile text-center jugados">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center ganados d-none d-md-table-cell">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="equipo-mobile text-center empatados d-none d-md-table-cell">
                      {{ equipo['datos']['empatados'] }}
                    </td>
                    <td class="equipo-mobile text-center perdidos d-none d-md-table-cell">
                      {{ equipo['datos']['perdidos'] }}
                    </td>
                    <td class="equipo-mobile text-center favor d-none d-md-table-cell">
                      {{ equipo['datos']['favor'] }}
                    </td>
                    <td class="equipo-mobile text-center contra d-none d-md-table-cell">
                      {{ equipo['datos']['contra']}}
                    </td>
                    <td class="equipo-mobile text-center diferencia_goles">
                      {{ equipo['datos']['diferencia_goles'] }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            PT(Puntos); J(Jugados); G(Ganados); E(Empatados); P(Perdidos); F(Favor);
            C(Contra); DG (Dif. Goles)
          </p>
          <p class="ms-4 text-analisis fs-6">
            Campeón (Champions League)<span class="badge bg-success ms-2"
              >1</span
            >
            ; European League<span class="badge bg-warning ms-2">2-5</span> ;
            Promoción (Descenso)<span
              class="badge ms-2"
              style="background-color: #d86f6f"
              >14</span
            >
            ; Descenso<span class="badge bg-danger ms-2">15-16</span>
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="champion">
      <!--Tabla Campeón y Champions League-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis">
                Campeón y Champions League
              </h3>
              <table id="tablaChampionRecoletas" class="table">
                <!--Tabla Campeón y Champions League-->
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_recoletas %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="equipo-mobile text-start size_equipos2">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center champ-jug">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center champ-act">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="equipo-mobile text-center champ-prox"></td>
                    <td class="equipo-mobile text-center champ-mate"></td>
                    <td class="equipo-mobile text-center champ-opti d-none d-md-table-cell"></td>
                    <td class="equipo-mobile text-center champ-pesi d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            J(Jugados); PT (Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="europa">
      <!--Tabla Europa League-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Europa League
              </h3>
              <table id="tablaEuropaRecoletas" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_recoletas %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="size_equipos2 text-start equipo-mobile">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="euro-jug equipo-mobile text-center">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="euro-act equipo-mobile text-center">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="euro-prox equipo-mobile text-center"></td>
                    <td class="euro-mate equipo-mobile text-center"></td>
                    <td class="euro-opti equipo-mobile text-center d-none d-md-table-cell"></td>
                    <td class="euro-pesi equipo-mobile text-center d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            J(Jugados); PT (Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="promocion">
      <!--Tabla Promoción Descenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Promoción Descenso
              </h3>
              <table id="tablaPromoRecoletas" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_recoletas %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="equipo-mobile size_equipos2 text-start">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="promo-jug equipo-mobile text-center">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="promo-act equipo-mobile text-center">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="promo-prox equipo-mobile text-center"></td>
                    <td class="promo-mate equipo-mobile text-center"></td>
                    <td class="promo-opti equipo-mobile text-center d-none d-md-table-cell"></td>
                    <td class="promo-pesi equipo-mobile text-center d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="descenso">
      <!--Tabla Descenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                División Honor Plata
              </h3>
              <table id="tablaDescRecoletas" class="table">
                <!--Tabla Descenso-->
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">PT</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_recoletas %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="equipo-mobile size_equipos2 text-start">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="desc-jug equipo-mobile text-center">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="desc-act equipo-mobile text-center">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="desc-prox equipo-mobile text-center"></td>
                    <td class="desc-mate equipo-mobile text-center"></td>
                    <td class="desc-opti equipo-mobile text-center d-none d-md-table-cell"></td>
                    <td class="desc-pesi equipo-mobile text-center d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
 <script src="/static/js/analisis-recoletas.js"></script>
{% endblock %} 
