{% extends "equipos_vall/base_equipos_vall.html" %} {% block title
%}Clasificaciones - BSR Valladolid{% endblock %} {% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-1">
    <li class="breadcrumb-item">
      <a
        href="/seccion/aliados"
        class="text-white text-decoration-none text-analisis fs-6"
        >BSR Valladolid</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_basket/calendario_aliados"
        class="text-white text-decoration-none text-analisis fs-6"
        >Calendario Ind.</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_basket/resultados_aliados"
        class="text-white text-decoration-none text-analisis fs-6"
        >Resultados</a
      >
    </li>
    <li class="breadcrumb-item active text-dark text-analisis fs-6" aria-current="page">
      Clasificaciones
    </li>
    <li class="breadcrumb-item">
      <a href="/admin/aliados/historial"
        class="text-decoration-none text-white text-analisis fs-6">Historial</a>
    </li>
  </ol>
</nav>
{% endblock %} {% block contenido %}
<section class="container-lg mb-5 flex-fill copa">
  <!-- Navegador personalizado -->
  <div class="d-flex justify-content-center my-2 gap-1">
    <button
      class="btn btn-outline-light tab-btn active"
      data-tab="clasificacion"
    >
      Clasificación
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="playoff">
      PlayOff
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="europa">
      Europa
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="descenso">
      Descenso
    </button>
  </div>
  <div class="tab-container">
    <div class="tab-pane active" id="clasificacion">
      <!--Tabla Clasificación-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                División de Honor BSR
              </h3>
              <table id="tablaClasificacion" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">G</th>
                    <th class="equipo-mobile text-center">P</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">F</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">C</th>
                    <th class="equipo-mobile text-center">DP</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">PT</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_aliados %}
                  <tr>
                    <td
                      class="equipo-mobile text-center {% if loop.index <= 4 %}pos-ascen{% elif loop.index <= 10 %}pos-nada{% elif loop.index <= 11 %}pos-promo{% elif loop.index <= 12 %}pos-desc{% endif %}"
                    >
                      {{ loop.index }}
                    </td>
                    <td
                      class="equipo-mobile text-start size_equipos2 {% if 'BSR Valladolid' in equipo['equipo'] %}equipo-pucela{% endif %}"
                    >
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center jugados">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center ganados">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="equipo-mobile text-center perdidos">
                      {{ equipo['datos']['perdidos'] }}
                    </td>
                    <td class="equipo-mobile text-center favor d-none d-md-table-cell">
                      {{ equipo['datos']['favor'] }}
                    </td>
                    <td class="equipo-mobile text-center contra d-none d-md-table-cell">
                      {{ equipo['datos']['contra']}}
                    </td>
                    <td class="equipo-mobile text-center dife">
                      {{ equipo['datos']['diferencia_canastas'] }}
                    </td>
                    <td class="equipo-mobile text-center puntos d-none d-md-table-cell">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4">
            J(Jugados); G(Ganados); P(Perdidos); F(Favor); C(Contra); DP(Dif. Puntos); PT(Puntos)
          </p>
          <p class="ms-4">
            Europa<span class="badge bg-success ms-2">1</span>; PlayOffs
            (Título)<span class="badge bg-success ms-2">1-4</span> ; Prom.
            (Descenso)<span class="badge ms-2" style="background-color: #ff7171"
              >11</span
            >; Descenso<span class="badge bg-danger ms-2">12</span>
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="playoff">
      <!--Tabla PlayOff-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                PlayOff al Título
              </h3>
              <table id="tablaPlayAliados" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">G</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_aliados %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="equipo-mobile text-start fs-5 size_equipos2">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center play-jug">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center play-act">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="equipo-mobile text-center play-prox"></td>
                    <td class="equipo-mobile text-center play-mate"></td>
                    <td class="equipo-mobile text-center play-opti d-none d-md-table-cell"></td>
                    <td class="equipo-mobile text-center play-pesi d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4">
            J(Jugados); G(Ganados); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="europa">
      <!--Tabla Descenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Eurocup
              </h3>
              <table id="tablaEuroAliados" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">G</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_aliados %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="equipo-mobile text-start size_equipos2">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center euro-jug">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center euro-act">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="equipo-mobile text-center euro-prox"></td>
                    <td class="equipo-mobile text-center euro-mate"></td>
                    <td class="equipo-mobile text-center euro-opti d-none d-md-table-cell"></td>
                    <td class="equipo-mobile text-center euro-pesi d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4">
            J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="descenso">
      <!--Tabla Descenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis fs-4">
                Liga BSR 1ª División
              </h3>
              <table id="tablaDescAliados" class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="equipo-mobile text-start">Equipos</th>
                    <th class="equipo-mobile text-center">J</th>
                    <th class="equipo-mobile text-center">G</th>
                    <th class="equipo-mobile text-center">%</th>
                    <th class="equipo-mobile text-center">Mat</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                    <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_aliados %}
                  <tr>
                    <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                    <td class="equipo-mobile text-start size_equipos2">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="equipo-mobile text-center desc-jug">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="equipo-mobile text-center desc-act">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="equipo-mobile text-center desc-prox"></td>
                    <td class="equipo-mobile text-center desc-mate"></td>
                    <td class="equipo-mobile text-center desc-opti d-none d-md-table-cell"></td>
                    <td class="equipo-mobile text-center desc-pesi d-none d-md-table-cell"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4">
            J(Jugados); G(Ganados); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script src="/static/js/analisis-aliados.js"></script>
{% endblock %}
