{% extends "equipos_vall/base_equipos_vall.html" %} {% block title
%}Clasificaciones - Universidad VCV{% endblock %} {% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-1">
    <li class="breadcrumb-item">
      <a
        href="/seccion/vcv"
        class="text-white text-decoration-none text-analisis fs-6"
        >Universidad VCV</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_voley/calendario_vcv"
        class="text-white text-decoration-none text-analisis fs-6"
        >Calendario Ind.</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_voley/resultados_vcv"
        class="text-white text-decoration-none text-analisis fs-6"
        >Resultados</a
      >
    </li>
    <li class="breadcrumb-item active text-dark text-analisis fs-6" aria-current="page">
      Clasificaciones
    </li>
  </ol>
</nav>
{% endblock %} {% block contenido %}
<section class="container-lg mb-5 flex-fill copa">
        <!-- Navegador personalizado -->
      <div class="d-flex justify-content-center my-2 gap-2">
        <button class="btn btn-outline-light tab-btn active" data-tab="clasificacion">Clasificación</button>
        <button class="btn btn-outline-light tab-btn" data-tab="ascenso">Ascenso</button>
        <button class="btn btn-outline-light tab-btn" data-tab="playoff">PlayOff</button>
        <button class="btn btn-outline-light tab-btn" data-tab="descenso">Descenso</button>
      </div>
        <div class="tab-container">
          <div class="tab-pane active" id="clasificacion"><!--Tabla Clasificación-->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos_aula w-100" style="max-width: 55rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center text-white fw-bold text-analisis fs-4">Superliga 2 (Grp-A)</h3>
                      <table id="tablaClasifVcv" class="table">
                        <thead>
                          <tr class="text-center">
                            <th></th>
                            <th class="equipo-mobile text-start">Equipos</th>
                            <th class="equipo-mobile text-center">PT</th>
                            <th class="equipo-mobile text-center">J</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">G3</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">G2</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">P1</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">P0</th>
                            <th class="equipo-mobile text-center">SF</th>
                            <th class="equipo-mobile text-center">SC</th>
                            <th class="equipo-mobile text-center">PF</th>
                            <th class="equipo-mobile text-center">PC</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in clasificacion_analisis_vcv %}
                          <tr class="text-center">
                            <td
                              class="equipo-mobile text-center {% if loop.index <= 2 %}pos-ascen{% elif loop.index <= 10 %}pos-nada{% elif loop.index <= 11 %}pos-desc{% endif %}">
                              {{ loop.index }}</td>
                            <td class="equipo-mobile text-start size_equipos2 {% if 'Universidad VCV' in equipo['equipo'] %}equipo-pucela{% endif %}">{{ equipo.equipo }}</td>
                            <td class="puntos equipo-mobile text-center">{{ equipo.datos.puntos }}</td>
                            <td class="jugados equipo-mobile text-center">{{ equipo.datos.jugados }}</td>
                            <td class="ganados3 equipo-mobile text-center d-none d-md-table-cell">{{ equipo.datos.ganados3 }}</td>
                            <td class="ganados2 equipo-mobile text-center d-none d-md-table-cell">{{ equipo.datos.ganados2 }}</td>
                            <td class="perdidos1 equipo-mobile text-center d-none d-md-table-cell">{{ equipo.datos.perdidos1 }}</td>
                            <td class="perdidos0 equipo-mobile text-center d-none d-md-table-cell">{{ equipo.datos.perdidos0 }}</td>
                            <td class="favor equipo-mobile text-center">{{ equipo.datos.favor }}</td>
                            <td class="contra equipo-mobile text-center">{{ equipo.datos.contra}}</td>
                            <td class="pf equipo-mobile text-center">{{ equipo.datos.pf }}</td>
                            <td class="pc equipo-mobile text-center">{{ equipo.datos.pc }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
                <p class="ms-4">PT(Puntos); J(Jugados); G3 (Ganados +3); G2 (Ganados +2); P1 (Perdidos +1);
                  P0 (Perdidos +0); SF (Set Favor); SC (Set Contra)</p>
                <p class="ms-4">PlayOffs (Ascenso)<span class="badge bg-success ms-2">1-2</span> ; Descenso<span
                    class="badge bg-danger ms-2">11</span></p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="ascenso"><!--Tabla Ascenso-->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos_aula w-100 mx-auto" style="max-width: 55rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center text-white fw-bold text-analisis fs-4">Superliga</h3>
                      <table id="tablaAscensoVcv" class="table">
                        <thead>
                          <tr class="text-center">
                            <th></th>
                            <th class="equipo-mobile text-start">Equipos</th>
                            <th class="equipo-mobile text-center">J</th>
                            <th class="equipo-mobile text-center">PT</th>
                            <th class="equipo-mobile text-center">%</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Mat</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in clasificacion_analisis_vcv %}
                          <tr class="text-center">
                            <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                            <td class="equipo-mobile text-start size_equipos2">{{ equipo['equipo'] }}</td>
                            <td class="jugados1 equipo-mobile text-center">{{ equipo['datos']['jugados'] }}</td>
                            <td class="pts-act1 equipo-mobile text-center">{{ equipo['datos']['puntos'] }}</td>
                            <td class="proxi1 equipo-mobile text-center d-none d-md-table-cell"></td>
                            <td class="pts-mate1 equipo-mobile text-center d-none d-md-table-cell"></td>
                            <td class="pts-opti1 equipo-mobile text-center d-none d-md-table-cell"></td>
                            <td class="pts-pesi1 equipo-mobile text-center d-none d-md-table-cell"></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    
                  </div>
                </div>
                <p class="ms-4">J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos); Op(Optimista); Pes(Pesimista)</p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="playoff"><!--Tabla PlayOff-->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos_aula w-100 mx-auto" style="max-width: 55rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center text-white fw-bold text-analisis fs-4">Superliga</h3>
                      <table id="tablaPlayVcv" class="table">
                        <thead>
                          <tr class="text-center">
                            <th></th>
                            <th class="equipo-mobile text-start">Equipos</th>
                            <th class="equipo-mobile text-center">J</th>
                            <th class="equipo-mobile text-center">PT</th>
                            <th class="equipo-mobile text-center">%</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Mat</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in clasificacion_analisis_vcv %}
                          <tr class="text-center">
                            <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                            <td class="equipo-mobile text-start size_equipos2">{{ equipo['equipo'] }}</td>
                            <td class="play-jug equipo-mobile text-center">{{ equipo['datos']['jugados'] }}</td>
                            <td class="play-act equipo-mobile text-center">{{ equipo['datos']['puntos'] }}</td>
                            <td class="play-proxi equipo-mobile text-center d-none d-md-table-cell"></td>
                            <td class="play-mate equipo-mobile text-cenetr d-none d-md-table-cell"></td>
                            <td class="play-opti equipo-mobile text-center d-none d-md-table-cell"></td>
                            <td class="play-pesi equipo-mobile text-center d-none d-md-table-cell"></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
                <p class="ms-4">J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos);
                  Op(Optimista); Pes(Pesimista)</p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="descenso"><!--Tabla Permanencia-->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos_aula w-100 mx-auto" style="max-width: 55rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center text-white fw-bold text-analisis fs-4">1ª División</h3>
                      <table id="tablaDescVcv" class="table"><!--Tabla Permanencia-->
                        <thead>
                          <tr class="text-center">
                            <th></th>
                            <th class="equipo-mobile text-start">Equipos</th>
                            <th class="equipo-mobile text-center">J</th>
                            <th class="equipo-mobile text-center">PT</th>
                            <th class="equipo-mobile text-center">%</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Mat</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in clasificacion_analisis_vcv %}
                          <tr class="text-center">
                            <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                            <td class="equipo-mobile text-start size_equipos2">{{ equipo['equipo'] }}</td>
                            <td class="desc-jug equipo-mobile text-center">{{ equipo['datos']['jugados'] }}</td>
                            <td class="desc-act equipo-mobile text-center">{{ equipo['datos']['puntos'] }}</td>
                            <td class="desc-prox equipo-mobile text-center d-none d-md-table-cell"></td>
                            <td class="desc-mate equipo-mobile text-center d-none d-md-table-cell"></td>
                            <td class="desc-opti equipo-mobile text-center d-none d-md-table-cell"></td>
                            <td class="desc-pesi equipo-mobile text-center d-none d-md-table-cell"></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
                <p class="ms-4">J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos);
                  Op(Optimista); Pes(Pesimista)</p>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script src="/static/js/analisis-vcv.js"></script>
{% endblock %}