{% extends "equipos_vall/base_equipos_vall.html" %} {% block title
%}Clasificaciones - CD Parquesol{% endblock %} {% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-1">
    <li class="breadcrumb-item">
      <a
        href="/seccion/parquesol"
        class="text-white text-decoration-none text-analisis fs-6"
        >CD Parquesol</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_futbol/calendario_parquesol"
        class="text-white text-decoration-none text-analisis fs-6"
        >Calendario Ind.</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_futbol/resultados_parquesol"
        class="text-white text-decoration-none text-analisis fs-6"
        >Resultados</a
      >
    </li>
    <li class="breadcrumb-item active text-dark" aria-current="page">
      Clasificaciones
    </li>
  </ol>
</nav>
{% endblock %} {% block contenido %}
<h3 class="text-white text-center equipo-mobile fs-3 pb-2">Clasificaciones</h3>
<section class="container-lg mb-5 flex-fill copa">
  <!-- Navegador personalizado -->
  <div class="d-flex justify-content-center my-2 gap-2">
    <button
      class="btn btn-outline-light tab-btn active"
      data-tab="clasificacion"
    >
      Clasificación
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="ascenso">
      Ascenso
    </button>
    <!--<button class="btn btn-outline-light tab-btn" data-tab="playoff">PlayOff</button>-->
    <button class="btn btn-outline-light tab-btn" data-tab="descenso">
      Descenso
    </button>
  </div>
  <div class="tab-container">
    <div class="tab-pane active" id="clasificacion">
      <!--Tabla Clasificación-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 80rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis">
                Liga 3ª Federación(Grp-8)
              </h3>
              <table id="tablaClasifParquesol" class="table">
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th>Equipos</th>
                    <th>PTS</th>
                    <th>PJ</th>
                    <th>PG</th>
                    <th>PE</th>
                    <th>PP</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>DG</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_parquesol %}
                  <tr class="text-center">
                    <td
                      class="fw-bold {% if loop.index <= 1 %}pos-ascen{% elif loop.index <= 10 %}pos-nada{% elif loop.index <= 12 %}pos-desc{% endif %}"
                    >
                      {{ loop.index }}
                    </td>
                    <td
                      class="fw-bold size_equipos2 text-white {% if 'CD Parquesol' in equipo['equipo'] %}equipo-pucela{% endif %}"
                    >
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="puntos fw-bold">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="jugados fw-bold">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="ganados fw-bold">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="empatados fw-bold">
                      {{ equipo['datos']['empatados'] }}
                    </td>
                    <td class="perdidos fw-bold">
                      {{ equipo['datos']['perdidos'] }}
                    </td>
                    <td class="favor fw-bold">
                      {{ equipo['datos']['favor'] }}
                    </td>
                    <td class="contra fw-bold">
                      {{ equipo['datos']['contra']}}
                    </td>
                    <td class="diferencia_goles fw-bold">
                      {{ equipo['datos']['diferencia_goles'] }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            PTS (Puntos); PJ (Partidos Jugados); PG (Partidos Ganados); PE
            (Partidos Empatados); PP (Partidos Perdidos); GF (Goles Favor);
            GC(Goles Contra); DG (Diferencia Goles)
          </p>
          <p class="ms-4 text-analisis fs-6">
            Campeón<span class="badge bg-success ms-2">1</span> ; Descenso<span
              class="badge bg-danger ms-2"
              >11-12</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="ascenso">
      <!--Tabla Ascenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 80rem">
          <div class="card-body">
            <div class="row table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis">
                Liga 2ª Federación
              </h3>
              <table id="tablaAscensoParquesol" class="table">
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th>Equipos</th>
                    <th>PJ</th>
                    <th>PA</th>
                    <th>Prox</th>
                    <th>PM</th>
                    <th>PO</th>
                    <th>PPes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_parquesol %}
                  <tr class="text-center">
                    <td class="fw-bold">{{ equipo.index }}</td>
                    <td class="fw-bold size_equipos2 text-white">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="jugados1 fw-bold">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="pts-act1 fw-bold">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="proxi1 fw-bold"></td>
                    <td class="pts-mate1 fw-bold"></td>
                    <td class="pts-opti1 fw-bold"></td>
                    <td class="pts-pesi1 fw-bold"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            PJ (Partidos Jugados); PA (Puntos Actuales); Prox (Proximidad); PM
            (Puntos Matemáticos); PO(Puntos Optimista); PPes (Puntos Pesimista)
          </p>
        </div>
      </div>
    </div>
    <!--<div class="tab-pane" id="playoff"><--Tabla PlayOff->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos_aula w-100" style="max-width: 80rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center text-white fw-bold text-analisis">PlayOff Ascenso</h3>
                      <table id="tablaPlayParquesol" class="table">
                        <thead>
                          <tr class="text-center">
                            <th></th>
                            <th>Equipos</th>
                            <th>PJ</th>
                            <th>PA</th>
                            <th>Prox</th>
                            <th>PM</th>
                            <th>PO</th>
                            <th>PPes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in clasificacion_analisis_parquesol %}
                          <tr class="text-center">
                            <td class="fw-bold">{{ equipo.index }}</td>
                            <td class="fw-bold size_equipos2 text-white">{{ equipo['equipo'] }}</td>
                            <td class="play-jug fw-bold">{{ equipo['datos']['jugados'] }}</td>
                            <td class="play-act fw-bold">{{ equipo['datos']['puntos'] }}</td>
                            <td class="play-prox fw-bold"></td>
                            <td class="play-mate fw-bold"></td>
                            <td class="play-opti fw-bold"></td>
                            <td class="play-pesi fw-bold"></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
                <p class="ms-4 text-analisis fs-6">PJ (Partidos Jugados); PA (Puntos Actuales); Prox (Proximidad); PM (Puntos Matemáticos);
                  PO(Puntos Optimista); PPes (Puntos Pesimista)</p>
              </div>
            </div>
          </div>-->
    <div class="tab-pane" id="descenso">
      <!--Tabla Descenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 80rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis">
                Liga Gonalpi
              </h3>
              <table id="tablaDescParquesol" class="table">
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th>Equipos</th>
                    <th>PJ</th>
                    <th>PA</th>
                    <th>Prox</th>
                    <th>PM</th>
                    <th>PO</th>
                    <th>PPes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_parquesol %}
                  <tr class="text-center">
                    <td class="fw-bold">{{ equipo.index }}</td>
                    <td class="fw-bold size_equipos2 text-white">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="desc-jug fw-bold">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="desc-act fw-bold">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                    <td class="desc-prox fw-bold"></td>
                    <td class="desc-mate fw-bold"></td>
                    <td class="desc-opti fw-bold"></td>
                    <td class="desc-pesi fw-bold"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4 text-analisis fs-6">
            PJ (Partidos Jugados); PA (Puntos Actuales); Prox (Proximidad); PM
            (Puntos Matemáticos); PO(Puntos Optimista); PPes (Puntos Pesimista)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} 
{% block scripts %} 
<script src="/static/js/analisis-parquesol.js"></script>
{% endblock %}
