{% extends "equipos_vall/base_equipos_vall.html" %} {% block title
%}Clasificaciones - BSR Valladolid{% endblock %} {% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-1">
    <li class="breadcrumb-item">
      <a
        href="/seccion/aliados"
        class="text-white text-decoration-none text-analisis fs-6"
        >BSR Valladolid</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_basket/calendario_aliados"
        class="text-white text-decoration-none text-analisis fs-6"
        >Calendario Ind.</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_basket/resultados_aliados"
        class="text-white text-decoration-none text-analisis fs-6"
        >Resultados</a
      >
    </li>
    <li class="breadcrumb-item active text-dark" aria-current="page">
      Clasificaciones
    </li>
  </ol>
</nav>
{% endblock %} {% block contenido %}
<h3 class="text-white text-center equipo-mobile fs-3 pb-2">Clasificaciones</h3>
<section class="container-lg mb-5 flex-fill copa">
  <!-- Navegador personalizado -->
  <div class="d-flex justify-content-center my-2 gap-2">
    <button
      class="btn btn-outline-light tab-btn active"
      data-tab="clasificacion"
    >
      Clasificación
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="playoff">
      PlayOff
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="europa">
      Europa
    </button>
    <button class="btn btn-outline-light tab-btn" data-tab="descenso">
      Descenso
    </button>
  </div>
  <div class="tab-container">
    <div class="tab-pane active" id="clasificacion">
      <!--Tabla Clasificación-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 80rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis">
                División de Honor BSR
              </h3>
              <table id="tablaClasificacion" class="table">
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th>Equipos</th>
                    <th>PJ</th>
                    <th>PG</th>
                    <th>PP</th>
                    <th>PF</th>
                    <th>PC</th>
                    <th>DP</th>
                    <th>PTS</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_aliados %}
                  <tr class="text-center">
                    <td
                      class="fw-bold {% if loop.index <= 4 %}pos-ascen{% elif loop.index <= 10 %}pos-nada{% elif loop.index <= 11 %}pos-promo{% elif loop.index <= 12 %}pos-desc{% endif %}"
                    >
                      {{ loop.index }}
                    </td>
                    <td
                      class="equipo-mobile size_equipos2 {% if 'BSR Valladolid' in equipo['equipo'] %}equipo-pucela{% endif %}"
                    >
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="jugados fw-bold">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="ganados fw-bold">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="perdidos fw-bold">
                      {{ equipo['datos']['perdidos'] }}
                    </td>
                    <td class="favor fw-bold">
                      {{ equipo['datos']['favor'] }}
                    </td>
                    <td class="contra fw-bold">
                      {{ equipo['datos']['contra']}}
                    </td>
                    <td class="dife fw-bold">
                      {{ equipo['datos']['diferencia_canastas'] }}
                    </td>
                    <td class="puntos fw-bold">
                      {{ equipo['datos']['puntos'] }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4">
            PJ (Partidos Jugados); PG (Partidos Ganados); PP (Partidos
            Perdidos); PF (Puntos Favor); PC(Puntos Contra); DP (Diferencia
            Puntos) PTS (Puntos)
          </p>
          <p class="ms-4">
            Europa<span class="badge bg-success ms-2">1</span>; PlayOffs
            (Título)<span class="badge bg-success ms-2">1-4</span> ; Promoción
            (Descenso)<span class="badge ms-2" style="background-color: #ff7171"
              >11</span
            >; Descenso<span class="badge bg-danger ms-2">12</span>
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="playoff">
      <!--Tabla PlayOff-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 80rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis">
                PlayOff al Título
              </h3>
              <table id="tablaPlayAliados" class="table">
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th>Equipos</th>
                    <th>PJ</th>
                    <th>GA</th>
                    <th>Prox</th>
                    <th>PM</th>
                    <th>PO</th>
                    <th>PPes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_aliados %}
                  <tr class="text-center">
                    <td class="fw-bold">{{ equipo.index }}</td>
                    <td class="fw-bold size_equipos2 text-white">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="play-jug fw-bold">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="play-act fw-bold">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="play-prox fw-bold"></td>
                    <td class="play-mate fw-bold"></td>
                    <td class="play-opti fw-bold"></td>
                    <td class="play-pesi fw-bold"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4">
            PJ (Partidos Jugados); GA (Ganados Actuales); Prox (Proximidad); PM
            (Puntos Matemáticos); PO(Puntos Optimista); PPes (Puntos Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="europa">
      <!--Tabla Descenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 80rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis">
                Eurocup
              </h3>
              <table id="tablaEuroAliados" class="table">
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th>Equipos</th>
                    <th>PJ</th>
                    <th>GA</th>
                    <th>Prox</th>
                    <th>PM</th>
                    <th>PO</th>
                    <th>PPes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_aliados %}
                  <tr class="text-start">
                    <td class="fw-bold">{{ equipo.index }}</td>
                    <td class="fw-bold size_equipos2 text-white">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="euro-jug fw-bold">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="euro-act fw-bold">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="euro-prox fw-bold"></td>
                    <td class="euro-mate fw-bold"></td>
                    <td class="euro-opti fw-bold"></td>
                    <td class="euro-pesi fw-bold"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4">
            PJ (Partidos Jugados); GA (Ganados Actuales); Prox (Proximidad); PM
            (Puntos Matemáticos); PO(Puntos Optimista); PPes (Puntos Pesimista)
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="descenso">
      <!--Tabla Descenso-->
      <div class="d-flex justify-content-center">
        <div class="card tabla_equipos_aula w-100" style="max-width: 80rem">
          <div class="card-body">
            <div class="table-responsive">
              <h3 class="text-center text-white fw-bold text-analisis">
                Liga BSR 1ª División
              </h3>
              <table id="tablaDescAliados" class="table">
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th>Equipos</th>
                    <th>PJ</th>
                    <th>GA</th>
                    <th>Prox</th>
                    <th>PM</th>
                    <th>PO</th>
                    <th>PPes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for equipo in clasificacion_analisis_aliados %}
                  <tr class="text-start">
                    <td class="fw-bold">{{ equipo.index }}</td>
                    <td class="fw-bold size_equipos2 text-white">
                      {{ equipo['equipo'] }}
                    </td>
                    <td class="desc-jug fw-bold">
                      {{ equipo['datos']['jugados'] }}
                    </td>
                    <td class="desc-act fw-bold">
                      {{ equipo['datos']['ganados'] }}
                    </td>
                    <td class="desc-prox fw-bold"></td>
                    <td class="desc-mate fw-bold"></td>
                    <td class="desc-opti fw-bold"></td>
                    <td class="desc-pesi fw-bold"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="ms-4">
            PJ (Partidos Jugados); GA (Ganados Actuales); Prox (Proximidad); PM
            (Puntos Matemáticos); PO(Puntos Optimista); PPes (Puntos Pesimista)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script src="/static/js/analisis-aliados.js"></script>
{% endblock %}
