{% extends "equipos_vall/base_equipos_vall.html" %} 
{% block title %}Clasificaciones - Aula Valladolid{% endblock %} 
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-1">
    <li class="breadcrumb-item">
      <a
        href="/seccion/aula"
        class="text-white text-decoration-none text-analisis fs-6">Aula Valladolid</a>
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_balonmano/calendario_aula"
        class="text-white text-decoration-none text-analisis fs-6"
        >Calendario Ind.</a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_balonmano/resultados_aula"
        class="text-white text-decoration-none text-analisis fs-6"
        >Resultados</a>
    </li>
    <li class="breadcrumb-item active text-dark text-analisis fs-6" aria-current="page">
      Clasificaciones
    </li>
  </ol>
</nav>
{% endblock %} 
{% block contenido %} 
    <section class="container-lg mb-5 flex-fill">
      <!-- Navegador personalizado -->
      <div class="d-flex justify-content-center my-2 gap-1">
        <button class="btn btn-outline-light tab-btn active" data-tab="clasificacion">Clasificación</button>
        <button class="btn btn-outline-light tab-btn" data-tab="playoff">Playoff</button>
        <button class="btn btn-outline-light tab-btn" data-tab="descenso">Descenso</button>
      </div>
      <div class="tab-container">
        <div class="tab-pane active" id="clasificacion"><!--Tabla Clasificación-->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos_aula w-100" style="max-width: 55rem">
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center text-analisis">Liga Guerreras Iberdrola</h3>
                      <table id="tablaClasificacion" class="table">
                        <thead>
                          <tr>
                            <th></th>
                            <th class="equipo-mobile text-start">Equipos</th>
                            <th class="equipo-mobile text-center">PT</th>
                            <th class="equipo-mobile text-center">J</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">G</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">E</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">P</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">F</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">C</th>
                            <th class="equipo-mobile text-center">DG</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in clasificacion_analisis_aula %}
                          <tr>
                            <td
                              class="equipo-mobile text-center {% if loop.index <= 8 %}pos-playoff-titulo{% elif loop.index <= 9 %}pos-nada {% elif loop.index <= 13 %}pos-promo{% elif loop.index >= clasificacion_analisis_aula|length - 1 %}pos-desc{% endif %}">
                              {{ loop.index }}
                            </td>
                            <td class="equipo-mobile text-start size_equipos2 {% if 'Aula Valladolid' in equipo['equipo'] %}equipo-pucela{% endif %}">{{ equipo['equipo'] }}</td>
                            <td class="equipo-mobile text-center puntos">{{ equipo['datos']['puntos'] }}</td>
                            <td class="equipo-mobile text-center jugados">{{ equipo['datos']['jugados'] }}</td>
                            <td class="equipo-mobile text-center ganados d-none d-md-table-cell">{{ equipo['datos']['ganados'] }}</td>
                            <td class="equipo-mobile text-center empatados d-none d-md-table-cell">{{ equipo['datos']['empatados'] }}</td>
                            <td class="equipo-mobile text-center perdidos d-none d-md-table-cell">{{ equipo['datos']['perdidos'] }}</td>
                            <td class="equipo-mobile text-center favor d-none d-md-table-cell">{{ equipo['datos']['favor'] }}</td>
                            <td class="equipo-mobile text-center contra d-none d-md-table-cell">{{ equipo['datos']['contra']}}</td>
                            <td class="equipo-mobile text-center diferencia_goles">{{ equipo['datos']['diferencia_goles'] }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
                <p class="ms-4 text-analisis fs-6"> PT(Puntos); J(Jugados); G(Ganados); E(Empatados); P(Perdidos); F(Favor); C(Contra); DG (Dif. Goles)</p>
                <p class="ms-4 text-analisis fs-6">PlayOffs (Título)<span class="badge bg-success ms-2">1-8</span>; Playoffs Permanencia<span
                    class="badge bg-danger ms-2">10-13</span>; Descenso<span
                    class="badge bg-danger ms-2">14</span>; Puestos Europa Final PlayOff Título<span class="badge bg-success ms-2">1-4</span></p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="playoff"><!--Tabla PlayOff-->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos" style="width: 55rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center mb-4 text-analisis fs-4">PlayOff al Título</h3>
                      <table id="tablaPlayAula" class="table"><!--Tabla PlayOff-->
                        <thead>
                          <tr>
                            <th></th>
                            <th class="equipo-mobile text-start">Equipos</th>
                            <th class="equipo-mobile text-center">J</th>
                            <th class="equipo-mobile text-center">PT</th>
                            <th class="equipo-mobile text-center">%</th>
                            <th class="equipo-mobile text-center">Mat</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in clasificacion_analisis_aula %}
                          <tr>
                            <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                            <td class="equipo-mobile text-start size_equipos2">{{ equipo['equipo'] }}</td>
                            <td class="equipo-mobile text-center play-jug">{{ equipo['datos']['jugados'] }}</td>
                            <td class="equipo-mobile text-center play-act">{{ equipo['datos']['puntos'] }}</td>
                            <td class="equipo-mobile text-center play-prox"></td>
                            <td class="equipo-mobile text-center play-mate"></td>
                            <td class="equipo-mobile text-center play-opti d-none d-md-table-cell"></td>
                            <td class="equipo-mobile text-center play-pesi d-none d-md-table-cell"></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
                <p class="ms-4 text-analisis fs-6">J(Jugados); PT(Puntos); %(Proximidad); Mat(Matemáticos);
                  Op(Optimista); Pes(Pesimista)</p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="descenso"><!--Tabla Descenso-->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos" style="width: 80rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center mb-4 text-analisis">División Honor Oro</h3>
                      <table id="tablaDescAula" class="table"><!--Tabla Descenso-->
                        <thead>
                          <tr>
                            <th></th>
                            <th class="equipo-mobile text-start">Equipos</th>
                            <th class="equipo-mobile text-center">J</th>
                            <th class="equipo-mobile text-center">PT</th>
                            <th class="equipo-mobile text-center">%</th>
                            <th class="equipo-mobile text-center">Mat</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Op</th>
                            <th class="equipo-mobile text-center d-none d-md-table-cell">Pes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in clasificacion_analisis_aula %}
                          <tr>
                            <td class="equipo-mobile text-center">{{ equipo.index }}</td>
                            <td class="equipo-mobile text-start size_equipos2">{{ equipo['equipo'] }}</td>
                            <td class="equipo-mobile text-center desc-jug">{{ equipo['datos']['jugados'] }}</td>
                            <td class="equipo-mobile text-center desc-act">{{ equipo['datos']['puntos'] }}</td>
                            <td class="equipo-mobile text-center desc-prox"></td>
                            <td class="equipo-mobile text-center desc-mate"></td>
                            <td class="equipo-mobile text-center desc-opti d-none d-md-table-cell"></td>
                            <td class="equipo-mobile text-center desc-pesi d-none d-md-table-cell"></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
                <p class="ms-4 text-analisis fs-6">J(Jugados); PT (Puntos); %(Proximidad); Mat(Matemáticos);
                  Op(Optimista); Pes(Pesimista)</p>
              </div>
            </div>
          </div>
          <!--<div class="carousel-item"><--Tabla Europa->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos" style="width: 80rem;">
                <div class="card-body">
                  <div class="row table-responsive">
                    <h3 class="text-center mb-4 text-analisis">Competiciones Europeas (Clasificación final)</h3>
                    <div class="col-12">
                      <table id="tablaEuroAula" class="table">
                        <thead>
                          <tr class="text-center">
                            <th></th>
                            <th>Equipos</th>
                            <--<th>PJ</th>
                            <th>PA</th>
                            <th>Prox</th>
                            <th>PM</th>
                            <th>PO</th>
                            <th>PPes</th>->
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in clasificacion_analisis_aula %}
                          <tr class="text-center">
                            <td
                              class="fw-bold {% if loop.index <= 1 %}pos-ehf{% elif loop.index <= 4 %}pos-ehfec{% elif loop.index <=14 %}pos-nada{% endif %}">
                              {{ loop.index }}</td>
                            <td class="fw-bold size_equipos">{{ equipo['equipo'] }}</td>
                            <--<td class="play-jug fw-bold">{{ equipo['datos']['jugados'] }}</td>
                            <td class="play-act fw-bold">{{ equipo['datos']['puntos'] }}</td>
                            <td class="play-prox fw-bold"></td>
                            <td class="play-mate fw-bold"></td>
                            <td class="play-opti fw-bold"></td>
                            <td class="play-pesi fw-bold"></td>->
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <p class="ms-4">Esta clasificación se determina una vez jugados los
                  playoff al título.</p>
                <p class="ms-4">EHF<span class="badge bg-success ms-2">1</span> ; EHFEC<span
                    class="badge bg-warning ms-2">2-4</span></p>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </section>
    {% endblock %}
    {% block scripts %}
     <script src="/static/js/analisis-aula.js"></script>
    {% endblock %} 