{% extends "equipos_vall/base_equipos_vall.html" %} {% block title
%}Clasificaciones - VRAC {% endblock %} {% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-1">
    <li class="breadcrumb-item">
      <a
        href="/seccion/vrac"
        class="text-white text-decoration-none text-analisis fs-6">VRAC</a>
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_rugby/calendario_vrac"
        class="text-white text-decoration-none text-analisis fs-6">Calendario Ind.</a>
    </li>
    <li class="breadcrumb-item">
      <a
        href="/admin/equipos_rugby/resultados_vrac"
        class="text-white text-decoration-none text-analisis fs-6">Resultados</a>
    </li>
    <li class="breadcrumb-item active text-dark" aria-current="page">
      Clasificaciones
    </li>
  </ol>
</nav>
{% endblock %} {% block contenido %}
<h3 class="text-white text-center equipo-mobile fs-3 pb-2">Clasificaciones</h3>
 <section class="container-lg mb-5 flex-fill copa">
        <!-- Navegador personalizado -->
      <div class="d-flex justify-content-center my-2 gap-2">
        <button class="btn btn-outline-light tab-btn active" data-tab="clasificacion">Clasificación</button>
        <button class="btn btn-outline-light tab-btn" data-tab="grupo-a">Grupo A</button>
        <button class="btn btn-outline-light tab-btn" data-tab="grupo-b">Grupo B</button>
      </div>
      <div class="tab-container">
        <div class="tab-pane active" id="clasificacion"><!--Tabla Clasificación-->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos_aula w-100" style="max-width: 80rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center text-white fw-bold text-analisis">División de Honor Rugby</h3>
                      <table id="tablaClasificacion" class="table">
                        <thead>
                          <tr class="text-center">
                            <th></th>
                            <th>Equipos</th>
                            <th>PTS</th>
                            <th>PJ</th>
                            <th>PG</th>
                            <th>PE</th>
                            <th>PP</th>
                            <th>GF</th>
                            <th>GC</th>
                            <th>DG</th>
                            <!--<th>B</th>-->
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in clasificacion_general_indexed %}
                          <tr class="text-center">
                            <td
                              class="fw-bold {% if equipo.index <= 6 %}pos-ascen{% elif equipo.index <= 11 %}pos-desc{% endif %}">
                              {{ equipo.index }}</td>
                            <td class="fw-bold text-white size_equipos {% if 'VRAC' in equipo['equipo'] %}equipo-pucela{% endif %}">{{ equipo['equipo'] }}</td>
                            <td class="puntos fw-bold">{{ equipo['datos']['puntos'] }}</td>
                            <td class="jugados fw-bold ">{{ equipo['datos']['jugados'] }}</td>
                            <td class="ganados fw-bold">{{ equipo['datos']['ganados'] }}</td>
                            <td class="empatados fw-bold">{{ equipo['datos']['empatados'] }}</td>
                            <td class="perdidos fw-bold">{{ equipo['datos']['perdidos'] }}</td>
                            <td class="favor fw-bold">{{ equipo['datos']['favor'] }}</td>
                            <td class="contra fw-bold">{{ equipo['datos']['contra']}}</td>
                            <td class="diferencia_goles fw-bold">{{ equipo['datos']['diferencia_goles'] }}</td>
                            <!--<td class="bonus fw-bold">{{ equipo['datos']['bonus'] }}</td>-->
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
                <p class="ms-4">PT (Puntos);PJ (Partidos Jugados); PG (Partidos Ganados); PE (Partidos Empatados); PP
                  (Partidos Perdidos); GF(Goles Favor); GC (Goles Contra); DG (Diferencia Goles); B (Bonus)</p>
                <p class="ms-4">Grupo A<span class="badge bg-success ms-2">1-6</span> ; Grupo B<span
                    class="badge bg-secondary ms-2">7-12</span></p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="grupo-a"><!--Tabla Grupo A - Ganadores-->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos_aula w-100" style="max-width: 80rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center text-white fw-bold text-analisis">Grupo A - Ganadores</h3>
                      <table id="tablaAscensoAliados" class="table">
                        <thead>
                          <tr class="text-center">
                            <th></th>
                            <th>Equipos</th>
                            <th>PTS</th>
                            <th>PJ</th>
                            <th>PG</th>
                            <th>PE</th>
                            <th>PP</th>
                            <th>GF</th>
                            <th>GC</th>
                            <th>DG</th>
                            <!--<th>BONUS</th>-->
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in grupoA2 %}
                          <tr class="text-center">
                            <td class="fw-bold {% if equipo.index <= 6 %}pos-ascen {% elif equipo.index <= 11 %}pos-desc {% endif %}">{{ equipo.index }}</td>
                            <td class="fw-bold text-white size_equipos {% if 'VRAC' in equipo.equipo %}equipo-vrac{% endif %}">{{ equipo.equipo }}</td>
                            <td class="puntos fw-bold">{{ equipo['datos']['puntos'] }}</td>
                            <td class="jugados fw-bold ">{{ equipo['datos']['jugados'] }}</td>
                            <td class="ganados fw-bold">{{ equipo['datos']['ganados'] }}</td>
                            <td class="empatados fw-bold">{{ equipo['datos']['empatados'] }}</td>
                            <td class="perdidos fw-bold">{{ equipo['datos']['perdidos'] }}</td>
                            <td class="favor fw-bold">{{ equipo['datos']['favor'] }}</td>
                            <td class="contra fw-bold">{{ equipo['datos']['contra'] }}</td>
                            <td class="diferencia_goles fw-bold">{{ equipo['datos']['diferencia_goles'] }}</td>
                            <!--<td class="bonus fw-bold">{{ equipo['datos']['bonus'] }}</td>-->
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
                <p class="ms-4">PT (Puntos);PJ (Partidos Jugados); PG (Partidos Ganados); PE (Partidos Empatados); PP
                  (Partidos Perdidos); GF(Goles Favor); GC (Goles Contra); DG (Diferencia Goles); BNS (Bonus)</p>
                <p class="ms-4">Grupo A (Ganadores)<span class="badge bg-success ms-2">1-6</span> ; Grupo B (Perdedores)<span class="badge bg-danger ms-2">7-11</span></p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="grupo-b"><!--Tabla Grupo B - Perdedores-->
            <div class="d-flex justify-content-center">
              <div class="card tabla_equipos_aula w-100" style="max-width: 80rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center text-white fw-bold text-analisis">Grupo B - Perdedores</h3>
                      <table id="tablaPlayAula" class="table">
                        <thead>
                          <tr class="text-center">
                            <th></th>
                            <th>Equipos</th>
                            <th>PTS</th>
                            <th>PJ</th>
                            <th>PG</th>
                            <th>PE</th>
                            <th>PP</th>
                            <th>GF</th>
                            <th>GC</th>
                            <th>DG</th>
                            <!--<th>BNS</th>-->
                          </tr>
                        </thead>
                        <tbody>
                          {% for equipo in grupoB2 %}
                          <tr class="text-center">
                            <td
                              class="fw-bold {% if equipo.index <= 8 %}pos-ascen{% elif equipo.index <= 9 %}pos-nada{% elif equipo.index <= 11 %}pos-desc{% endif %}">
                              {{ equipo.index }}</td>
                            <td class="fw-bold text-white size_equipos {% if 'VRAC' in equipo.equipo %}equipo-vrac{% endif %}">{{ equipo.equipo }}</td>
                            <td class="puntos fw-bold">{{ equipo['datos']['puntos'] }}</td>
                            <td class="jugados fw-bold ">{{ equipo['datos']['jugados'] }}</td>
                            <td class="ganados fw-bold">{{ equipo['datos']['ganados'] }}</td>
                            <td class="empatados fw-bold">{{ equipo['datos']['empatados'] }}</td>
                            <td class="perdidos fw-bold">{{ equipo['datos']['perdidos'] }}</td>
                            <td class="favor fw-bold">{{ equipo['datos']['favor'] }}</td>
                            <td class="contra fw-bold">{{ equipo['datos']['contra'] }}</td>
                            <td class="diferencia_goles fw-bold">{{ equipo['datos']['diferencia_goles'] }}</td>
                            <!--<td class="bonus fw-bold">{{ equipo['datos']['bonus'] }}</td>-->
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
                <p class="ms-4">PT (Puntos);PJ (Partidos Jugados); PG (Partidos Ganados); PE (Partidos Empatados); PP
                  (Partidos Perdidos); GF(Goles Favor); GC (Goles Contra); DG (Diferencia Goles); BNS (Bonus)</p>
                <p class="ms-4">PlayOff (Cuartos de final)<span class="badge bg-success ms-2">7-8</span>  Descenso<span
                    class="badge bg-danger ms-2">10-11</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}