{% extends "historia/base_historia.html" %} 
{% block title %}Historial - BSR Valladolid{% endblock %} {% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-1">
    <li class="breadcrumb-item">
      <a href="/seccion/aliados"
        class="text-white text-decoration-none text-analisis fs-6">BSR Valladolid</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/admin/equipos_basket/calendario_aliados"
        class="text-white text-decoration-none text-analisis fs-6">Calendario Ind.</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/admin/equipos_basket/resultados_aliados"
        class="text-white text-decoration-none text-analisis fs-6">Resultados</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/admin/equipos_basket/clasif_aliados"
        class="text-white text-decoration-none text-analisis fs-6">Clasificaciones</a>
    </li>
    <li class="breadcrumb-item active text-dark text-analisis fs-6"
      aria-current="page">Historial
    </li>
  </ol>
</nav>
{% endblock %} {% block contenido %}
<div class="container-lg mt-4">
  <div class="d-flex justify-content-center mb-4 gap-2 flex-wrap">
    <a href="#" class="btn btn-outline-light active tab-btn" data-tab="resumen"
      >Historial</a>
    <a href="#" class="btn btn-outline-light tab-btn" data-tab="grafico"
      >Ganados Temporada</a>
    <a href="#" class="btn btn-outline-light tab-btn" data-tab="grafico2"
      >Ganados Jornadas</a>
    <a href="#" class="btn btn-outline-light tab-btn" data-tab="titulos"
    >Palmares</a>
  </div>
  <div id="resumen" class="tab-pane active">
    <div class="card tabla_copa mx-auto w-100  historial-desktop" style="max-width: 75rem">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table text-center align-middle tabla-historial">
            <thead>
              <tr>
                <th class="text-historial text-dark">Temp.</th>
                <th class="text-historial text-dark">Liga</th>
                <th class="text-historial text-dark">Ganados</th>
                <th class="text-historial text-dark">Puesto</th>
                <th class="text-historial text-dark">Playoff</th>
                <th class="text-historial text-dark">Copa</th>
                <th class="text-historial text-dark">Europa</th>
                <th class="text-historial text-dark">Títulos</th>
                <th class="text-historial text-dark">Observ.</th>
              </tr>
            </thead>
            <tbody>
              {% for h in historial %}
              <tr>
                <td class="text-historial text-white">{{ h.temporada }}</td>
                <td class="text-historial text-white">{{ h.liga }}</td>
                <td class="text-historial text-white">{{ h.puntos }}</td>
                <td class="text-historial text-white">{{ h.puesto }}</td>
                <td class="text-historial text-white">{{ h.playoff }}</td>
                <td class="text-historial text-white">{{ h.copa }}</td>
                <td class="text-historial text-white">{{ h.europa }}</td>
                <td class="text-historial text-white">
                  {% if h.titulos %} 🏆 {{ h.titulos }} {% else %} — {% endif %}
                </td>
                <td class="text-historial text-white">{{ h.observaciones }}</td>
                <!--<td class="equipo-mobile">{{ h.siguiente_temporada }}</td>-->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="historial-mobile">
      {% for h in historial %}
      <div class="card historial-card mb-3">
        <div class="card-header text-center fw-bold">
          {{ h.temporada }}
        </div>
        <div class="card-body">
          <p class="equipo-mobile"><strong class="text-dark">Liga:</strong> {{ h.liga }}</p>
          <p class="equipo-mobile"><strong class="text-dark">Ganados:</strong> {{ h.puntos }}</p>
          <p class="equipo-mobile"><strong class="text-dark">Puesto:</strong> {{ h.puesto }}</p>
          <p class="equipo-mobile"><strong class="text-dark">Playoff:</strong> {{ h.playoff }}</p>
          <p class="equipo-mobile"><strong class="text-dark">Copa:</strong> {{ h.copa }}</p>
          <p class="equipo-mobile"><strong class="text-dark">Europa:</strong> {{ h.europa }}</p>
          <p class="equipo-mobile">
            <strong class="text-dark">Títulos:</strong>
            {% if h.titulos %} 🏆 {{ h.titulos }} {% else %} — {% endif %}
          </p>
          <p class="equipo-mobile"><strong class="text-dark">Observ.:</strong> {{ h.observaciones }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="grafico" class="tab-pane">
    <div class="card mt-5 mx-auto w-100" style="max-width: 75rem">
      <div class="card-body grafico-historial">
        <h5 class="text-center mb-1">Evolución ganados temporada</h5>
        <canvas
          id="graficoTemporadas"
          data-labels='{{ labels_temporadas|tojson }}'
          data-puntos='{{ puntos_temporadas|tojson }}'
        ></canvas>
      </div>
    </div>
  </div>

  <div id="grafico2" class="tab-pane">
    <div class="d-flex justify-content-center flex-wrap gap-2 mb-2">
      {% for dataset in datasets_jornadas %}

      <div class="form-check">
        <input
          class="form-check-input temporada-check"
          type="checkbox"
          checked
          id="temp{{ loop.index0 }}"
          data-index="{{ loop.index0 }}"
        />

        <label class="form-check-label text-white" for="temp{{ loop.index0 }}">
          {{ dataset.label }}
        </label>
      </div>

      {% endfor %}
    </div>
    <div class="card mt-5 mx-auto w-100" style="max-width: 75rem">
      <div class="card-body grafico-historial">
        <h5 class="text-center mb-1">Evolución ganados jornadas</h5>
        <canvas
          id="graficoJornadas"
          data-labels='{{ labels_jornadas|tojson }}'
          data-datasets='{{ datasets_jornadas|tojson }}'
        ></canvas>
      </div>
    </div>
  </div>
 <div id="titulos" class="tab-pane">
    <div class="container-lg">
        {% for competicion, titulos in palmares.items() %}
        <div class="palmares-bloque mb-4">
            <div class="palmares-titulo">
                {{ competicion }}
            </div>
            <div class="palmares-trofeos">
                {% for titulo in titulos %}
                <div class="trofeo-item">
                    <img
                        src="{{ url_for('static', filename='img/trofeos/' ~ titulo.imagen) }}"
                        width="28">
                    <div class="temporada">
                        {{ titulo.temporada }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}