.admin{
    margin-top: 15%;
    display: flex;
    justify-content: center;
}
.card_admin{
    padding: 3%;
    width: 120%;
    text-align: center;
}

.card{
    width:230px;
    box-shadow:2px 6px 8px rgba(22,22,26,.18);
    background-color:transparent;
    backdrop-filter:blur(18px);
    border-radius:8px;
}
.section-card{
    width:34px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#c2dafd;
    border-radius:8px;
    box-shadow:2px 6px 8px rgba(22,22,26,.18);
}
.deporte{
    writing-mode:vertical-rl;
    transform:rotate(180deg);
    margin:0;
    letter-spacing:1px;
    text-align:center;
}