/*Seccion de Baloncesto */
.calend_basket{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 10px 5px 5px gray;
    /*min-height: 100vh;*/
    
}
.tabla_equipos{
    background-color: transparent;
    backdrop-filter: blur(12px);
    border: 1px solid #bda6cc;
}
.card_calendario{
    background-color: transparent;
    border: 1px solid #672e8d;
    font-size: 0.9em;
}
.fondo_jornadas{
    background-color: #672e8d;
}
.jorn_ida{
    color: #7a7a7a;
    white-space: nowrap;
}
.jorn_vuelta{
    color: #7a7a7a;
    white-space: nowrap;
}
.jorn_tres{
    color: #7a7a7a;
    white-space: nowrap;
}
@media (max-width:576){
    .jorn_ida{
        font-size: 10px;
    }
    .jorn_vuelta{
        font-size: 10px;
    }
    .jorn_tres{
        font-size: 10px;
    }

}
.tabla_resultados th{
    color: #474747;
    text-align: center;
    font-size: 0.88em;
    border: 1px solid black;
}
.tabla_resultados td{
    text-align: center;
    font-size: 0.79em;
    border: 1px solid black;
    padding: 0px;
    padding-top: 8px;
    font-weight: bold;
}
/*.vertical {
    writing-mode: vertical-lr; /* Para texto vertical de izquierda a derecha 
    transform: rotate(180deg); /* Ajustar la orientación del texto 
    white-space: nowrap; /* Evita que el texto se ajuste automáticamente 
}*/
/*Seccion del Fútbol*/
.calend_futbol{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 10px 5px 5px gray;
}
.tabla_equ_futb{
    margin-top: 2%;
    background-color: transparent;
    backdrop-filter: blur(12px);
    border: 1px solid #5eda62;
}
.jor-futb{
    color: #3d3a3a;
}
.tabla_resul_futbol th{
    color: #161616;
    text-align: center;
    font-size: 0.88em;
    border: 1px solid black;
}
.tabla_resul_futbol td{
    text-align: center;
    font-size: 0.79em;
    border: 1px solid black;
    padding: 0px;
    padding-top: 8px;
    font-weight: bold;

}
/* Sección de Balonmano */
.calend_balonmano{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 10px 5px 5px gray;
    /*min-height: 100vh;*/
}
.tabla_equipos_aula{
    margin-top: 2%;
    background-color: transparent;
    backdrop-filter: blur(12px);
    border: 1px solid #672e8d;
}
/* Sección Rugby */
.calend_rugby{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 10px 5px 5px gray; 
}
/* Sección Hockey */
.calend_hockey{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 10px 5px 5px gray; 
}
/* Sección Fútbol Sala */
.calend_futbol_sala{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 10px 5px 5px gray;  
}
/* Sección Voleibol */
.calend_voley{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 10px 5px 5px gray;  
}



