.netflix-track{
    display:flex;
    gap:10px;
    overflow-x:auto;
    scroll-behavior:smooth;
    cursor:grab;
}

.netflix-track:active {
    cursor: grabbing;
}

/* ocultar scrollbar */
.netflix-track::-webkit-scrollbar {
    display: none;
}
.netflix-item{
    flex:0 0 auto;
}
.partido-card{
    width:290px;
    border:none;
    border-radius:12px;
    background:rgba(255,255,255,.10);
    backdrop-filter:blur(18px);
    box-shadow:2px 6px 8px rgba(22,22,26,.18);
}
.deporte-header{
    background:linear-gradient(180deg,#0d6efd,#0a58ca);
    color:white;
    text-shadow: 0 0 6px rgba(0,0,0,0.80);
    font-weight:bold;
    text-align:center;
    border:none;
    border-radius:12px 12px 0 0;
}
.deportes-header i{
    color:#ffd54a;
    font-size:1.5rem;
}
.card-body{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

/* Admin */
.admin-track {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 12px;
    padding: 10px;
    cursor: grab;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

/* ocultar scroll bar */
.admin-track::-webkit-scrollbar {
    display: none;
}

.admin-track.active {
    cursor: grabbing;
}

/* cada card NO debe encoger */
.admin-track .netflix-item {
    flex: 0 0 auto;
}



 