.netflix-track {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 12px;
    cursor: grab;
}
.netflix-track:active {
    cursor: grabbing;
}

/* ocultar scrollbar */
.netflix-track::-webkit-scrollbar {
    display: none;
}

.netflix-item {
    flex: 0 0 auto;
}

/* tarjetas */
.card {
    box-shadow: 2px 6px 8px rgba(22, 22, 26, .18);
    width: 260px;
    background-color: transparent;
    backdrop-filter: blur(18px);
    border-radius: 8px;
}

/* sección */
.section-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    box-shadow: 2px 6px 8px rgba(22, 22, 26, .18);
    background-color: #c2dafd;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.deporte {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Admin */
.admin-track {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    gap: 12px;
    padding: 10px;

    cursor: grab;
    scroll-behavior: smooth;

    -webkit-overflow-scrolling: touch;
}

/* ocultar scroll bar */
.admin-track::-webkit-scrollbar {
    display: none;
}

.admin-track.active {
    cursor: grabbing;
}

/* cada card NO debe encoger */
.admin-track .netflix-item {
    flex: 0 0 auto;
}



 