.escudos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    padding: 10px;
    cursor: pointer;
  }
  #escudos-wrapper {
  margin-top: 40vh;
  }
  .escudo-link {
  position: relative;
  text-decoration: none;
  }
  
  .escudo {
    width: 42px; /* Ajustá el tamaño según necesites */
    height: 42px;
    object-fit: contain;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Sombra sutil inicial */
    border-radius: 6px;
  }
  
  .escudo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra más fuerte al hacer hover */
  }
  .escudo-nombre {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background: linear-gradient(90deg, #a15eff, #da83ff);
  color: white;
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 0.5em;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  box-shadow: 0 0 12px rgba(140, 0, 255, 0.5);
}

/* CUANDO PASAS EL RATÓN */
.escudo-link:hover .escudo-nombre {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

@media (max-width: 576px) {
  .escudos-container {
    gap: 8px;
  }

  .escudo {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .escudo {
    width: 40px;
    height: 40px;
  }

  .escudos-container {
    gap: 12px;
  }
}