.escudos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 25px;
  }
  .escudo-link {
  position: relative;
  text-decoration: none;
  }
  
  .escudo {
    width: 63px; /* Ajustá el tamaño según necesites */
    height: 63px;
    object-fit: contain;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Sombra sutil inicial */
    border-radius: 5px;
    cursor: pointer;
  }
  
  .escudo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra más fuerte al hacer hover */
  }
  .escudo-nombre {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background: linear-gradient(90deg, #a15eff, #da83ff);
  color: white;
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 0.8em;
  font-weight: 600;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  box-shadow: 0 0 12px rgba(140, 0, 255, 0.5);
}

/* CUANDO PASAS EL RATÓN */
.escudo-link:hover .escudo-nombre {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}