.footer-seccion{
    font-family: 'Dancing Script', cursive;
    font-size: clamp(0.9rem, 1.5vw, 2rem);
    /*background-color: #adbcd3;*/
    background-color: transparent;
    backdrop-filter: blur(8px);
    box-shadow: 0px -8px 20px rgba(21, 21, 22, 0.18);
    margin-top: 0;  
    padding: 20px 15px;
    opacity:.85;
    
}
.logo-footer{
  max-width: 80px;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .footer-seccion {
    flex-direction: column;
    font-size: 1rem;
    gap: 8px;
  }

  .footer-seccion .logo-footer {
    max-width: 50px;
  }
}
@media (max-width: 576px){
  .footer-seccion{
    padding: 20px 10px;
  }
  .footer-seccion .logo-footer{
    max-width: 70px;
  }
}
@media (max-width: 992px){
  .footer-seccion .logo-footer{
    max-width: 60px;
  }
}
@media (max-width: 768px){
  .footer-seccion{
    padding: 20px 10px;
    font-size: 0.80em;
  }
  .footer-seccion .logo-footer{
    max-width: 40px;
  }
}
@media (max-width: 368px){
  .footer-seccion{
    padding: 20px 10px;
    font-size: 0.80em;
  }
  .footer-seccion .logo-footer{
    max-width: 40px;
  }
}
@media (max-width: 912px) {
  .footer-seccion {
    background-color: transparent; /* Asegura que el fondo transparente se mantenga */
  }
}
.copa{
  margin-bottom: 8%;
}
.copa_uemc{
  margin-bottom: 22%;
}
.copa_caja{
  margin-bottom: 10%;
}
.copa_panteras{
  margin-bottom: 10%;
}