.hero-home{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 8px 0 2px;
}

.hero-logo{
    margin-top: 20px;
    text-align:center;
}

.hero-logo img{
    width:min(92vw,750px);
    height:auto;
    animation: aparecer 0.8s ease;
}
@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(-12px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
@media (max-width:768px){

    #valladolid{
        margin-bottom:15px;
    }

    .footer-seccion{
        padding-top:20px;
    }

}
@media (max-width:576px){

    #valladolid{
        margin-bottom:5px;
    }

    .footer-seccion{
        padding-top: 25px;
    }

}

@media (max-width:768px){

.hero-home{
    padding:8px 0 10px;
}

.hero-logo img{
    max-width:340px;
}

}@media (max-width:576px){

.hero-logo{
    margin-top: 30px;
}

.hero-logo img{
    max-width:340px;
}

}


