.letras_logo{
    font-family: 'Dancing Script', cursive;
    font-size: 8em !important; 
    font-weight: 700;
    text-align: center;
     background: linear-gradient(90deg, #ff0000, #0066ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
}
.logo_principal{
    margin: 0;
    padding: 0;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff; 

}
.slogan{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 4em !important;
    background: linear-gradient(90deg, #0066ff, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 12px rgba(0, 100, 255, 0.35);
}
.img_principal{
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 18px rgba(93, 133, 219, 0.6));
}
@media screen and (min-width: 320px) {
    .letras_logo {
        font-size: 1.75em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }

    .slogan {
        font-size: 0.75em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
}
@media screen and (min-width: 576px) {
    .letras_logo {
        font-size: 3em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }

    .slogan {
        font-size: 1.5em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
}
@media screen and (min-width: 768px) {
    .letras_logo {
        font-size: 5.5em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }

    .slogan {
        font-size: 2.5em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
}
@media screen and (min-width: 992px) {
    .letras_logo {
        font-size: 6em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }

    .slogan {
        font-size: 3em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
}
@media screen and (min-width: 1200px) {
    .letras_logo {
        font-size: 6em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }

    .slogan {
        font-size: 2.75em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
}
@media screen and (min-width: 1400px) {
    .letras_logo {
        font-size: 8em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }

    .slogan {
        font-size: 3em; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
}