.equipo-valladolid {
  color: #7d52a5 !important;
  font-size: 1.40em;
}
.equipo-simancas {
  color: #7d52a5 !important;
  font-size: 1.40em;
}
.equipo-promesas {
  color: #7d52a5 !important;
  font-size: 1.40em;
}
.equipo-cbc {
  color: #7d52a5 !important;
  font-size: 1.50em;
}

