.equipo-valladolid {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}
.equipo-simancas {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}
.equipo-promesas {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}
.equipo-cbc {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}
.equipo-ponce {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}
.equipo-bsr {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}
.equipo-recoletas {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}
.equipo-galvan {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}
.equipo-caja {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}
.equipo-panteras {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}
.equipo-vrac {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}
.equipo-salvador {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}
.equipo-aula {
  color: #ffffff !important;
  font-size: 1.40em;
  text-shadow:
    -1px -1px 0 #5b1f94 ,
     1px -1px 0 #5b1f94 ,
    -1px  1px 0 #5b1f94 ,
     1px  1px 0 #5b1f94 ;
}


