.h1_deportes{
    color: #0d6efd;
}
.seccion_texto{
    margin-top: 0%;
    font-family: 'Caveat', cursive;
    text-align: start;
    font-size: 1.5em;
    padding: 0.5%; 
}
.seccion_deportes{
    margin-top: 3%;
    font-family: 'Caveat', cursive;
    text-align: start;
    background-color:  rgba(106,45,145,.25);
    border: 2px solid rgba(106,45,145,.25);
    font-size: 1.75em;
    padding: 1.5%; 
}
.text_seccion{
    padding: 1%;
}

