.h1_deportes{
    color: #0d6efd;
}
.team-header {
  display: flex;
  align-items: center;  /* centra verticalmente logo y texto */
  justify-content: center; /* centra horizontalmente en la página */
  gap: 50px; /* espacio entre logo y texto */
  margin-top: 20px;
}
.team-logo {
  width: 80px; /* tamaño del escudo */
  height: auto;
}
.h1_seccion{
    margin-top: 1%;
    font-family: 'Caveat', cursive;
    text-align: start;
    color: white;
    text-align: center;
    font-size: 5em;
    text-shadow: 0 0 6px rgba(0,0,0,0.70);
}
.seccion_texto{
    margin-top: 0%;
    font-family: 'Caveat', cursive;
    text-align: start;
    font-size: 1.5em;
    padding: 0.5%; 
}
.seccion_deportes{
    margin-top: 3%;
    margin-bottom: 8%;
    font-family: 'Caveat', cursive;
    text-align: start;
    background-color: white;
    font-size: 1.75em;
    padding: 1.5%;
}
.text_seccion{
    padding: 1%;
}
.fondo_basket{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    box-shadow: 10px 5px 5px gray;
}
.text_uemc{
    text-align: center;
    font-size: 3em;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 6px rgba(0,0,0,0.70);
}
.text_ponce{
    text-align: center;
    font-size: 3em;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 6px rgba(0,0,0,0.70);
}
.text_fundacion{
    text-align: center;
    font-size: 3em;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 6px rgba(0,0,0,0.70);
}
@media (max-width: 576px){
    .text_uemc{
        font-size: 1em;
    }
    .text_ponce{
        font-size: 1em;
    }
    .text_fundacion{
        font-size: 1em;
    }
}
@media (max-width: 768px){
    .text_uemc{
        font-size: 1.8em;
    }
    .text_ponce{
        font-size: 1.8em;
    }
    .text_fundacion{
        font-size: 1.8em;
    }
}
.fondo_balonmano{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    box-shadow: 10px 5px 5px gray;
}
.fondo_futbol{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    box-shadow: 10px 5px 5px gray;
}
.fondo_futbol_sala{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    box-shadow: 10px 5px 5px gray;
}
.fondo_hockey{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    box-shadow: 10px 5px 5px gray;
}
.fondo_rugby{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    box-shadow: 10px 5px 5px gray;
}
.fondo_voley{
    position: relative;
    background: linear-gradient(135deg,
    #C3AEEB 0%,
    #E4C9E6 35%,
    #F3DDEB 65%,
    #F8EEF4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    box-shadow: 10px 5px 5px gray;
}