.tab-container {
  position: relative;
}

.tab-section{
  opacity: 0;
  transform: translateX(40px);
  transition: all 0.4s ease;
  display: none;
}

.tab-section.active{
  display: block;
  opacity: 1;
  transform: translateX(0);
}

/* BOTONES ACTIVOS */
.tab-btn.active {
  background: linear-gradient(90deg, #7f00ff, #ff005d);
  color: white;
  border: none;
}
.btn-tab.active {
  background: linear-gradient(90deg, #7f00ff, #ff005d);
  color: white;
  border: none;
}
@media (max-width: 768px) {
  .tab-btn {
    font-size: 0.8em;
  }
  .btn-tab {
    font-size: 0.9em;
  }
}
@media (max-width: 576px) {
  .tab-btn {
    font-size: 0.6em;
  }

  .btn-tab {
    font-size: 0.70em;
  }
}