{% extends "supercopas/base_supercopa.html" %} 
{% block title %}SuperCopaIberica - El Salvador Fem.{% endblock %}

{% block description %}
Toda la información de la SupercopaIberica de El Salvador Femenino: final.
{% endblock %}
{% block og_title %}
SuperCopaIberica | El Salvador Femenino | Deportes de la Ciudad
{% endblock %}
{% block og_description %}
Final de El Salvador Femenino.
{% endblock %}
{% block twitter_title %}
SuperCopaIberica | El Salvador Femenino | Deportes de la Ciudad
{% endblock %}
{% block twitter_description %}
Final de El Salvador Femenino.
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block contenido %}

{% endblock %}
{% block scripts %}

{% endblock %}