{% extends "supercopas/base_supercopa.html" %} 
{% block title %}SuperCopaIberica - El Salvador{% endblock %}

{% block description %}
Toda la información de la SupercopaIberica de El Salvador: final.
{% endblock %}
{% block og_title %}
SuperCopaIberica | El Salvador | Deportes de la Ciudad
{% endblock %}
{% block og_description %}
Final de El Salvador.
{% endblock %}
{% block twitter_title %}
SuperCopaIberica | El Salvador | Deportes de la Ciudad
{% endblock %}
{% block twitter_description %}
Final de El Salvador.
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block contenido %}

{% endblock %}
{% block scripts %}

{% endblock %}