{% extends "supercopas/base_supercopa.html" %} 
{% block title %}SuperCopaIberica - VRAC{% endblock %}

{% block description %}
Toda la información de la SupercopaIberica del VRAC : final.
{% endblock %}
{% block og_title %}
SuperCopaIberica | VRAC | Deportes de la Ciudad
{% endblock %}
{% block og_description %}
Final del VRAC.
{% endblock %}
{% block twitter_title %}
SuperCopaIberica | VRAC | Deportes de la Ciudad
{% endblock %}
{% block twitter_description %}
Final del VRAC.
{% endblock %}

{% block breadcrumb %} {% endblock %}

{% block contenido %}

{% endblock %}
{% block scripts %}

{% endblock %}