<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Deportes de la Ciudad{% endblock %}</title>

  <!-- SEO -->
  <meta name="description" content="{% block description %}Resultados, clasificaciones y análisis deportivos.{% endblock %}">
  <meta name="keywords" content="{% block keywords %}deporte, Valladolid, resultados, clasificaciones{% endblock %}">
  <meta name="author" content="eldeportedelaciudad">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="{{ request.url }}">

  <!-- OPEN GRAPH -->
  <meta property="og:title" content="{% block og_title %}Deportes de la Ciudad{% endblock %}">
  <meta property="og:description" content="{% block og_description %}Resultados y análisis deportivos{% endblock %}">
  <meta property="og:image" content="{% block og_image %}https://deportesdelaciudad.onrender.com/static/img/logo-deportes2.png{% endblock %}">
  <meta property="og:url" content="{{ request.url }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="eldeportedelaciudad">

  <!-- TWITTER -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% block twitter_title %}Deportes de la Ciudad{% endblock %}">
  <meta name="twitter:description" content="{% block twitter_description %}Resultados y análisis deportivos{% endblock %}">
  <meta name="twitter:image" content="{% block twitter_image %}https://deportesdelaciudad.onrender.com/static/img/logo-deportes2.png{% endblock %}">

  <!-- PWA -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="theme-color" content="#050505">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- ICONOS -->
  <link rel="icon" href="{{ url_for('static', filename='img/logo-deportes2.png') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/logo-deportes2.png') }}">

  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/estilo.css') }}" rel="stylesheet">
</head>

<body class="calend_deportes">
  <div class="d-flex flex-column min-vh-100">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb ms-1">
        <li class="breadcrumb-item"><a href="/seccion/aliados" class="text-white text-decoration-none">Fundación Aliados</a></li>
        <li class="breadcrumb-item active text-dark" aria-current="page">FinalFour</li>
      </ol>
    </nav>
    <h1 class="text-playoff">Fundación Aliados</h1>
    <section class="container-lg flex-fill copa"><!-- Eliminatorias -->
      <div class="d-flex justify-content-center">
        <div class="card tabla_copa mt-4" style="width: 70rem;">
          <div class="card-body">
            <div class="row table-responsive">
              <div class="col-12">
                <div class="">
                  {% for ronda, partidos in datos_playoff.items() %}
                  <p class="text-center fw-bold text-white fs-3">{{ ronda|capitalize }}</p>
                  <div class="texto-adicional text-center" data-ronda="{{ loop.index }}">
                    <table class="table border-secondary">
                      {% for partido in partidos %}
                      <tr class="text-center">
                        <td class="text-center text-white">{{ partido.fecha }}</td>
                        <td class="text-center text-white">{{ partido.hora }}</td>
                        <td
                          class="text-center text-copa fs-5 {% if partido.resultadoA > partido.resultadoB %}text-dark{% endif %}">
                          {{ partido.local }}</td>
                        <td class="text-center text-white fw-bold fs-5">{{ partido.resultadoA }}</td>
                        <td class="text-center text-white fw-bold fs-5">{{ partido.resultadoB }}</td>
                        <td
                          class="text-center text-copa fs-5 {% if partido.resultadoA < partido.resultadoB %}text-dark{% endif %}">
                          {{ partido.visitante }}</td>
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                  <a href="#" class="mostrar-enlace text-decoration-none text-white fw-bold"
                    data-ronda="{{ loop.index }}">Ver Partidos</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="container-fluid mt-auto footer-seccion">
      <div class="row">
        <div class="col-6 col-lg-6 d-flex justify-content-center align-items-center mb-1 mb-lg-0">
          <a>
            <h5 class="text-start text-white fw-bold pt-1 fs-3 ms-2 text-analisis">deportesdelaciudad &copy; 2026</h5>
          </a>
        </div>
        <div class="col-6 col-lg-6 d-flex justify-content-center align-items-center ">
          <img src="/static/img/logo-deportes2.png" class="img-fluid me-2 p-1 logo-footer" alt="deportesdelaciudad">
        </div>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="/static/js/proteccion-datos.js"></script>
  <!--<script src="/static/js/script.js"></script>-->
  <script src="/static/js/proteccion-datos.js"></script>
  <script src="/static/js/num_caracteres.js"></script>
  <script>
    $(document).ready(function() {
      $('.mostrar-enlace').click(function(e) {
        e.preventDefault();
        var enlace = $(this);
        var ronda = enlace.data('ronda');
        var textoAdicional = $('.texto-adicional[data-ronda="' + ronda + '"]');        
        // Ocultar todos los demás divs de texto adicional excepto el actual
        $('.texto-adicional').not(textoAdicional).hide();        
        // Toggle para mostrar u ocultar el texto adicional de la ronda específica
        textoAdicional.toggle();        
        // Cambiar el texto de todos los enlaces "Ver Partidos" excepto el actual
        $('.mostrar-enlace').not(enlace).text('Ver Partidos');        
        // Cambiar el texto del enlace actual
        if (textoAdicional.is(':visible')) {
          enlace.text('Ocultar');
        } else {
          enlace.text('Ver Partidos');
        }
      });
    });
  </script>
</body>
</html>