{% extends "playoff/base_playoff.html" %} 
{% block title %}PlayOff - Aula Valladolid{% endblock %}
{% block contenido %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb ms-1">
        <li class="breadcrumb-item"><a href="/" class="text-white text-decoration-none">Inicio</a></li>
        <li class="breadcrumb-item active text-dark" aria-current="page">PlayOffs Aula Valladolid</li>
      </ol>
    </nav>
    <h1 class="text-playoff">Fase Final Al Título</h1>
    <span class="equipo_copa">Aula Valladolid</span>
    <section class="container-lg flex-fill copa"><!-- Eliminatorias -->
      <div class="d-flex justify-content-center">
        <div class="card tabla_copa mt-4" style="width: 80rem;">
          <div class="card-body">
            <div class="row table-responsive">
              <div class="col-12">
                <div class="">
                  {% for ronda, partidos in datos_playoff.items() %}
                  <p class="text-center fw-bold text-white fs-3">{{ ronda|capitalize }}</p>
                  <div class="texto-adicional text-center" data-ronda="{{ loop.index }}">
                    <table class="table border-secondary">
                      {% for partido in partidos %}
                      <tr class="text-center">
                        <td class="text-center text-white">{{ partido.fecha }}</td>
                        <td class="text-center text-white">{{ partido.hora }}</td>
                        <td
                          class="text-center text-copa fs-6 {% if partido.resultadoA > partido.resultadoB %}text-dark{% endif %}">
                          {{ partido.local }}</td>
                        <td class="text-center text-white fw-bold fs-6">{{ partido.resultadoA }}</td>
                        <td class="text-center text-white fw-bold fs-6">{{ partido.resultadoB }}</td>
                        <td
                          class="text-center text-copa fs-6 {% if partido.resultadoA < partido.resultadoB %}text-dark{% endif %}">
                          {{ partido.visitante }}</td>
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                  <a href="#" class="mostrar-enlace text-decoration-none text-info fw-bold"
                    data-ronda="{{ loop.index }}">Ver Partidos</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('.mostrar-enlace').click(function (e) {
        e.preventDefault();
        var enlace = $(this);
        var ronda = enlace.data('ronda');
        var textoAdicional = $('.texto-adicional[data-ronda="' + ronda + '"]');
        // Ocultar todos los demás divs de texto adicional excepto el actual
        $('.texto-adicional').not(textoAdicional).hide();
        // Toggle para mostrar u ocultar el texto adicional de la ronda específica
        textoAdicional.toggle();
        // Cambiar el texto de todos los enlaces "Ver Partidos" excepto el actual
        $('.mostrar-enlace').not(enlace).text('Ver Partidos');
        // Cambiar el texto del enlace actual
        if (textoAdicional.is(':visible')) {
          enlace.text('Ocultar');
        } else {
          enlace.text('Ver Partidos');
        }
      });
    });
  </script>
{% endblock %}