{% extends "playoff/base_playoff.html" %} 
{% block title %}PlayOff | Universidad VCV | Deportes de la Ciudad{% endblock %}

{% block description %}
Cuadro, eliminatorias, cruces y resultados de los playoffs del Universidad VCV.
{% endblock %}
{% block og_title %}
Playoffs | Universidad VCV | Deportes de la Ciudad
{% endblock %}
{% block og_description %}
Sigue las eliminatorias y resultados de los playoffs del Universidad VCV.
{% endblock %}
{% block twitter_title %}
Playoffs | Universidad VCV | Deportes de la Ciudad
{% endblock %}
{% block twitter_description %}
Sigue las eliminatorias y resultados de los playoffs del Universidad VCV.
{% endblock %}

{% block contenido %}


{% endblock %}
{% block scripts %}

{% endblock %}