<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Calendario y Resultados</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la Liga local, la Copa del Rey/Reina, Competiciones Europeas, y explicaciones de los sistemas de liga."
    />
    <meta
      name="keywords"
      content="deporte, Valladolid, resultados, liga local, Copa del Rey, Copa de la Reina, competiciones europeas, análisis, sistemas de liga"
    />
    <meta name="author" content="eldeportedelaciudad" />
    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Página deportiva de Valladolid" />
    <meta
      name="twitter:description"
      content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la Liga local, la Copa del Rey/Reina, Competiciones Europeas, y explicaciones de los sistemas de liga."
    />
    <meta name="twitter:image" content="URL_de_la_imagen" />
    <meta name="twitter:site" content="@tu_cuenta_de_twitter" />
    <meta name="twitter:creator" content="@cuenta_del_autor" />
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Página deportiva de Valladolid" />
    <meta
      property="og:description"
      content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la Liga local, la Copa del Rey/Reina, Competiciones Europeas, y explicaciones de los sistemas de liga."
    />
    <meta property="og:image" content="URL_de_la_imagen" />
    <meta property="og:url" content="URL_de_tu_página" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="deportesdelaciudad" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link href="/static/css/estilo.css" rel="stylesheet" type="text/css" />
    <!-- Favicon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/logo-deportes2.png') }}"
    />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='img/logo-deportes2.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
    <meta name="theme-color" content="#050505" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  </head>
  <body class="calend_deportes">
    <div class="d-flex flex-column min-vh-100 sticky-top">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb ms-1">
          <li class="breadcrumb-item">
            <a
              href="/seccion/aula"
              class="text-white text-decoration-none text-analisis fs-6"
              >Aula Valladolid</a
            >
          </li>
          <li class="breadcrumb-item active text-dark" aria-current="page">
            Calendario y Resultados
          </li>
        </ol>
      </nav>
      <section class="container-lg mb-5 flex-fill">
        <!-- Navegador personalizado -->
        <div class="d-flex justify-content-center my-2 gap-2">
          <button
            class="btn btn-outline-light tab-btn active"
            data-tab="calendario"
          >
            Calendario
          </button>
          <button class="btn btn-outline-light tab-btn" data-tab="resultados">
            Resultados
          </button>
        </div>
        <div class="tab-container">
          <div class="tab-section active" id="calendario">
            <div class="d-flex justify-content-center">
              <!--Tabla Calendario-->
              <div
                class="card tabla_equipos_aula w-100"
                style="max-width: 80rem"
              >
                <div class="card-body">
                  <div class="table-responsive">
                    <h3 class="text-center text-white fw-bold text-analisis">
                      Calendario Individual 25/26
                    </h3>
                    <table
                      class="table table-bordered tabla_equipos tabla_aula"
                    >
                      <thead>
                        <tr class="text-center text-dark">
                          <th></th>
                          <th colspan="2">Jornadas</th>
                          <th colspan="4">Resultados</th>
                          <!--<th colspan="2">Partidos</th>-->
                        </tr>
                        <tr class="text-center text-dark">
                          <th scope="col">Equipos</th>
                          <th>Ida</th>
                          <th>Vlt</th>
                          <th colspan="2">Ida</th>
                          <th colspan="2">Vlt</th>
                          <th>Puntos</th>
                          <!--<th>PP</th>-->
                          <th>Average</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for equipo, datos_equipo in
                        tabla_partidos_aula.items() %}
                        <tr class="text-center">
                          <th class="text-white size_equipos">{{ equipo }}</th>
                          <td class="jorn_ida fw-bold">
                            {% if datos_equipo.get('primer_enfrentamiento') %} J
                            -{{
                            datos_equipo['primer_enfrentamiento']|replace('Jornada','')
                            }} {% if
                            datos_equipo['jornadas'][datos_equipo['primer_enfrentamiento']]['rol_aula']
                            %} ({{
                            datos_equipo['jornadas'][datos_equipo['primer_enfrentamiento']]['rol_aula']
                            }}) {% endif %} {% endif %}
                          </td>
                          <td class="jorn_vuelta fw-bold">
                            {% if datos_equipo.get('segundo_enfrentamiento') %}
                            J -{{
                            datos_equipo['segundo_enfrentamiento']|replace('Jornada','')
                            }} {% if
                            datos_equipo['jornadas'][datos_equipo['segundo_enfrentamiento']]['rol_aula']
                            %} ({{
                            datos_equipo['jornadas'][datos_equipo['segundo_enfrentamiento']]['rol_aula']
                            }}) {% endif %} {% endif %}
                          </td>
                          <td class="resultadoA fw-bold">
                            {{ tabla_partidos_aula[equipo]['resultadoA'] }}
                          </td>
                          <td class="resultadoB fw-bold">
                            {{ tabla_partidos_aula[equipo]['resultadoB'] }}
                          </td>
                          <td class="resultadoAA fw-bold">
                            {{ tabla_partidos_aula[equipo]['resultadoAA'] }}
                          </td>
                          <td class="resultadoBB fw-bold">
                            {{ tabla_partidos_aula[equipo]['resultadoBB'] }}
                          </td>
                          <td class="part1"></td>
                          <td class="average"></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-section" id="resultados">
            <!-- BOTONES JORNADAS -->
            <div class="d-flex justify-content-center flex-wrap gap-2 my-3">
              {% for goles in nuevos_datos_aula %}
              <a
                href="#"
                class="btn btn-outline-light btn-jornada {% if loop.first %}active{% endif %}"
                data-target="jornada{{ loop.index }}"
              >
                {{ goles.nombre }}
              </a>
              {% endfor %}
            </div>

            <!-- CONTENEDOR JORNADAS -->
            <div id="contenedor-jornadas">
              {% for goles in nuevos_datos_aula %}

              <div
                id="jornada{{ loop.index }}"
                class="jornada-contenido {% if not loop.first %}active{% endif %}"
              >
                <div
                  class="card tabla_equipos_aula w-100"
                  style="max-width: 80rem"
                >
                  <div class="card-body">
                    <h3 class="text-center text-white mb-3">
                      {{ goles.nombre }}
                    </h3>

                    <!-- TABLET / PC -->
                    <div class="table-responsive d-none d-md-block">
                      <table class="table table-bordered">
                        <tbody>
                          {% for partido in goles.partidos %}
                          <tr class="text-center">
                            <td>{{ partido.fecha }} {{ partido.hora }}</td>
                            <td>{{ partido.local }}</td>
                            <td>{{ partido.resultadoA }}</td>
                            <td>{{ partido.resultadoB }}</td>
                            <td>{{ partido.visitante }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>

                    <!-- MÓVIL -->
                    <div class="d-md-none cards-mobile">
                      {% for partido in goles.partidos %}
                      <div class="card partido-mobile">
                        <div class="card-body text-center">
                          <small class="text-muted fw-bold">
                            {{ partido.fecha }} {{ partido.hora }}
                          </small>

                          <div class="equipo-mobile">{{ partido.local }}</div>

                          <div class="resultado-mobile">
                            {{ partido.resultadoA }} - {{ partido.resultadoB }}
                          </div>

                          <div class="equipo-mobile">
                            {{ partido.visitante }}
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      <footer class="container-fluid mt-auto footer-seccion">
        <div class="row align-items-center text-center">
          <div class="col-12 col-md-6 mb-2 mb-md-0">
            <a>
              <h5 class="text-white fw-bold text-analisis mb-0 fs-4">
                deportesdeslaciudad &copy; 2026
              </h5>
            </a>
          </div>
          <div class="col-12 col-md-6">
            <img
              src="/static/img/logo-deportes2.png"
              class="img-fluid logo-footer"
              alt="deportesdelaciudad"
            />
          </div>
        </div>
      </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <!--<script src="/static/js/script.js"></script>-->
    <!--<script src="/static/js/slide.js"></script>-->
    <!--<script src="/static/js/leer_mas.js"></script>-->
    <script src="/static/js/num_caracteres.js"></script>
    <!--<script src="/static/js/carrusel_equipos.js"></script>-->
    <script src="/static/js/tab-pane.js"></script>
    <srcipt src="/static/js/jornadas.js"></srcipt>
    <script src="/static/js/calendario_ind.js"></script>
  </body>
</html>
